.media-modal {
	padding: 0 !important;
}
.media-modal .modal-dialog {
	max-width: 100%;
	margin-top: 0;
	margin-bottom: 0;
}
.media-modal .modal-content {
	border-radius: unset;
	margin-bottom: 0;
	border: 0 none;
}
.media-modal .modal-body {
    padding: 0;
}
.media-manager {
	width: 100%;
}
.media-container {
	padding: 0;
	background-color: var(--gray-200);
}
.media-manager .navbar-media {
	border: 0 none;
}
/*
Toolbar
*/
.media-toolbar {
	padding: 20px 0;
}
.media-modal .media-toolbar {
	padding: 15px;
}
/*
Media list
*/
.media-list {
	padding-top: 25px;
}
.media-list .media-item {
	margin-bottom: 30px;
	margin-left: 15px;
	margin-right: 15px;
}
.media-list .media-thumb {
	background-color: var(--gray-100);
	border-radius: 3px;
	border: 1px solid var(--gray-300);
	box-shadow: 0px 0px 15px rgba(235, 240, 245, 0.9) inset, 0px 0px 0px 1px rgba(235, 240, 245, 0.5) inset;
	cursor: pointer;
	padding: 15% 10px;
	margin: 0;
	overflow: hidden;
}
.media-list .selected .media-thumb {
	box-shadow: 0px 0px 2px 3px rgb(241, 241, 241) inset, 0px 0px 2px 3px var(--primary);
}
.media-list .media-thumb > a {
	border: 0 none;
	margin: auto;
	padding: 0;
	width: 100%;
	height: 75px;
	transform: translate(50%, 50%);
	display: block;
}
.media-list .media-thumb > a img {
	transform: translate(-50%, -50%);
}
.modal-lg .modal-header .close {
	font-size: 26px;
	font-weight: 300;
}
/*
Sidebar
*/
.media-sidebar .sidebar-preview-toolbar,
.media-sidebar .sidebar-preview-info,
.media-sidebar .sidebar-preview-placeholder {
	text-align: center;
}
.media-sidebar .sidebar-preview-toolbar,
.media-sidebar .sidebar-preview-info {
	padding: 10px 0;
}
.media-sidebar .sidebar-preview-placeholder i {
	font-size: 14em;
	padding-top: 25px;
}
.media-sidebar .sidebar-preview-placeholder img {
	margin: 0 auto;
}
.media-sidebar .sidebar-choose-btn {
	padding: 15px;
}
.media-sidebar .sidebar-preview-meta p {
	margin-bottom: 8px;
}
.media-sidebar .sidebar-preview-meta p > span {
	display: inline-block;
	width: 50%;
	text-align: right;
	padding-right: 10px;
}
.sidebar-preview-placeholder .fa {
	color: var(--gray-400);
}
/*
Breadcrumb
*/

.media-breadcrumb .breadcrumb {
	background-color: var(--gray-400);
	margin-bottom: 0;
	border-radius: 3px 3px 0 0;
}
/*
Statusbar
*/
.media-statusbar {
	background-color: var(--gray-400);
	border: 0 none;
	padding: 10px 15px;
}
.media-statusbar .statusbar-text {
	margin-bottom: 0;
	text-align: center;
}
/*
Modal
*/
.bootbox .modal-dialog {
	margin: 10% auto;
}
.bootbox .modal-header {
	border-bottom: 0;
}
.bootbox .modal-footer {
	border-top: 0;
}
/* Fix modal header */
.bootbox .modal-header h4 {
    order: 0;
}
.bootbox .modal-header button {
    order: 1;
}
/*
Uploader
*/
.media-uploader {
	background: none repeat scroll 0 0 var(--gray-200);
	border: 0 none;
	border-bottom: 1px solid var(--gray-300);
	display: none;
	margin: 0 auto;
	overflow: hidden;
	width: 100%;
	z-index: 99;
}
.media-uploader .dz-preview .dz-image {
	border-radius: 3px;
}
.media-uploader .close {
	float: right;
	font-size: 26px;
	font-weight: 700;
	line-height: 1;
	filter: alpha(opacity=20);
	opacity: .2;
	margin-top: -2px;
}
/*
Folder Tree
*/
.folder-tree {
	position: absolute;
	min-width: 20%;
	z-index: 99;
}
