#media-manager {
	padding: 0 !important;
}
#media-manager .modal-dialog {
	width: 100% !important;
	margin-top: 0;
	margin-bottom: 0;
}
.media-manager {
	background-color: #E3E6EE;
}
.media-manager .navbar,
#media-manager .modal-content {
	border-radius: unset;
	margin-bottom: 0;
}
.media-container {
	padding: 0;
}
.media-manager .navbar-media {
	border:0 none;
}
.navbar-media .btn-toolbar {
	margin: 15px 0;
}
.toolbar-item .btn-group + .btn-group {
	margin-left: 15px;
}
.toolbar-item .btn {
	font-size: 16px;
}
.toolbar-item .form-control {
	padding: 6px 12px;
	height: 37px;
}
.toolbar-item .dropdown-menu {
	margin-top: 50px;
}
.media-list {
	padding-top:25px;
	margin: 0;
}
.media-list .media-item {
	padding-left: 0px;
	padding-right: 0;
	margin-bottom: 30px;
	margin-left: 15px;
	margin-right: 15px;
	width: 13.667%;
}
.media-list .media-thumb {
	background-color: #f8fafc;
	border-radius: 3px;
	box-shadow: 0px 0px 15px rgba(235, 240, 245, 0.9) inset, 0px 0px 0px 1px rgba(235, 240, 245, 0.5) inset;
	cursor: pointer;
	padding: 15% 10px;
	margin: 0;
	overflow: hidden;
}
.media-list .selected .media-thumb {
	box-shadow: 0px 0px 2px 3px rgb(241, 241, 241) inset, 0px 0px 2px 3px rgb(0, 136, 204);
}
.media-list .media-thumb > a {
	border: 0 none;
	margin: auto;
	padding: 0;
	text-align: center;
	vertical-align: middle;
	width: 100%;
	height: 75px;
	transform: translate(50%,50%);
	display: block;
}
.media-list .media-thumb > a img {
	margin: 0 auto;
	transform: translate(-50%,-50%);
	position: absolute;
	left: 0;
}
.modal-lg .modal-header .close {
	font-size: 26px;
	font-weight: 300;
}

/*
Sidebar
*/
.media-sidebar .sidebar-preview-toolbar,
.media-sidebar .sidebar-preview-info {
	text-align: center;
}
.media-sidebar .sidebar-preview-toolbar {
	padding: 15px;
}
.media-sidebar .sidebar-preview-placeholder {
	text-align: center;
}
.media-sidebar .sidebar-preview-placeholder i {
	font-size: 14em;
	color: #F6F8FA;
	padding-top: 25px;
}
.media-sidebar .sidebar-preview-placeholder img {
	margin: 0 auto;
}
.media-sidebar .sidebar-preview-info {
	font-size: 16px;
	padding: 10px 0;
}
.media-sidebar .sidebar-preview-meta p {
	margin-bottom: 8px;
}
.media-sidebar .sidebar-preview-meta p > span {
	display: inline-block;
	width: 50%;
	float: left;
	text-align: right;
	padding-right: 10px;
}
.media-sidebar [data-control="media-choose"] {
	margin-top: 15px;
}

/*
Breadcrumb
*/

.media-manager .breadcrumb {
	background-color: #EDEFF4;
	margin-bottom: 0;
	border-radius: 3px 3px 0 0;
}

/*
Statusbar
*/

.media-manager .navbar-statusbar {
	background-color: #D9DFE8;
	border: 0 none;
}
.media-manager .navbar-statusbar .navbar-text {
	float: none;
	text-align: center;
}

/*
Modal
*/
.bootbox .modal-dialog {
	margin: 10% auto;
}
.bootbox .modal-header,
.bootbox .modal-body,
.bootbox .modal-footer {
	padding: 15px 20px;
}
.bootbox .modal-header {
	border-bottom: 0;
}
.bootbox .modal-footer {
	border-top: 0;
}
.bootbox .modal-footer .btn {
	padding: 6px 20px;
	margin-bottom: 0;
	font-size: 16px;
}
.bootbox .modal-footer .btn-primary {
	font-weight: 700;
}

/*
Uploader
*/
.media-uploader {
	background: none repeat scroll 0 0 #FFFFFF;
	border:0 none;
	border-bottom:1px solid #DCE4EC;
	display: none;
	margin: 0 auto;
	overflow: hidden;
	width: 100%;
	z-index: 99;
}
.media-uploader .dz-preview .dz-image {
	border-radius: 3px;
}
.media-uploader .close {
	float: right;
	font-size: 26px;
	font-weight: 700;
	line-height: 1;
	filter: alpha(opacity=20);
	opacity: .2;
	margin-top: -2px;
}

/*
Folder Tree
*/
.folder-tree {
	position: absolute;
	min-width: 20%;
	z-index: 99;
}
.folder-tree .list-group {
	border: 1px solid #DCE4EC;
	margin-bottom: 0;
}
