.timeline {
	list-style: none;
	padding: 0;
	position: relative;
	margin-bottom: 0px;

	&:before {
		background-color: $gray-400;
		top: 0;
		bottom: 0;
		position: absolute;
		content: " ";
		width: 3px;
		left: 170px;
		margin-left: -1.5px;
	}

	> li {
		position: relative;
		margin-left: 162px;
		margin-right: 50px;
	}

	> .time-label {
		padding-left: 140px;
		margin-left: 0px;
		margin-top: 16px;
		margin-bottom: 16px;
		background-color: $gray-300;
	}

	> .time-label > span {
		display: inline-block;
		padding: 10px;
	}
}
.timeline-body {
	background-color: $gray-200;
	border-radius: 3px;
	margin-left: 40px;
	margin-right: 15px;
	margin-top: 0;
	padding: 15px 25px;
	position: relative;
	box-shadow: 0 0 5px rgba(12, 22, 49, 0.12);

	&::after {
		content: "";
		display: block;
		position: absolute;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 9px 9px 9px 0px;
		border-color: transparent $gray-200 transparent transparent;
		left: 0px;
		top: 10px;
		margin-left: -9px;
	}
}
.timeline-item {
	margin-bottom: 0px;
	padding: 10px 0;
}

.timeline-time {
	position: absolute;
	left: -90px;
	text-align: left;
	padding: 5px 10px;
	box-sizing: border-box;
}

.timeline-time > span {
	display: block;
	font-size: $font-size-sm;

	&:first-child {
		font-weight: bold;
	}
	
	&:last-child {
		font-size: 12px;
	}
}

.timeline-icon {
	text-align: center;
	float: left;
	width: 15px;
	height: 15px;
	z-index: 100;
	background-color: $gray-300;
	border-radius: 50%;
	border: 3px solid $secondary;
	margin-top: 10px;
}

.timeline-body
.timeline-header {
	font-size: 13px;
	margin: 0;
}
.timeline-body > p,
.timeline-body > ul {
	margin-bottom: 0;
}
.timeline-body > p + p {
	margin-top: 5px;
}

@media (max-width: 767px) {
	ul.timeline:before {
		left: 40px;
	}
	ul.timeline > li > .timeline-icon {
		position: absolute;
		left: 15px;
		margin-left: 0;
		top: 16px;
	}
}
