/* -------------------------------------
		GLOBAL
------------------------------------- */
* {
	margin: 0;
	padding: 0;
}
* { font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }
img {
	max-width: 100%;
}
.collapse {
	margin: 0;
	padding: 0;
}
body {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	width: 100% !important;
	height: 100%;
}
/* -------------------------------------
		HEADER
------------------------------------- */
table.head-wrap { width: 100%;}
.header.container table td.logo { padding: 15px; }
.header.container table td.label { padding: 15px; padding-left: 0px;}
/* -------------------------------------
		BODY
------------------------------------- */
table.body-wrap { width: 100%;}
/* -------------------------------------
		FOOTER
------------------------------------- */
table.footer-wrap { width: 100%; clear: both !important;
}
.footer-wrap .container td.content p { border-top: 1px solid rgb(215, 215, 215); padding-top: 15px;}
.footer-wrap .container td.content p {
	font-size: 10px;
	font-weight: bold;
}
/* -------------------------------------
		TYPOGRAPHY
------------------------------------- */
h1, h2, h3, h4, h5, h6 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; line-height: 1.1; margin-bottom: 15px; color: #000;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-size: 60%; color: #6F6F6F; line-height: 0; text-transform: none; }
h1 { font-weight: 200; font-size: 44px;}
h2 { font-weight: 200; font-size: 37px;}
h3 { font-weight: 500; font-size: 27px;}
h4 { font-weight: 500; font-size: 23px;}
h5 { font-weight: 900; font-size: 17px;}
h6 { font-weight: 900; font-size: 14px; text-transform: uppercase; color: #444;}
.collapse { margin: 0 !important;}
p, ul {
	margin-bottom: 10px;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.6;
}
p.lead { font-size: 17px; }
p.last { margin-bottom: 0px;}
ul li {
	margin-left: 5px;
	list-style-position: inside;
}
/* -------------------------------------
		ELEMENTS
------------------------------------- */
a { color: #2BA6CB;}
.btn {
	text-decoration: none;
	color: #FFF;
	background-color: #666;
	padding: 10px 16px;
	font-weight: bold;
	margin-right: 10px;
	text-align: center;
	cursor: pointer;
	display: inline-block;
}
p.callout {
	padding: 15px;
	background-color: #ECF8FF;
	margin-bottom: 15px;
}
.callout a {
	font-weight: bold;
	color: #2BA6CB;
}
/* ---------------------------------------------------
	RESPONSIVENESS
------------------------------------------------------ */

.container {
	display: block !important;
	max-width: 600px !important;
	margin: 0 auto !important;
	clear: both !important;
}
.content {
	padding: 15px;
	max-width: 600px;
	margin: 0 auto;
	display: block;
}
.content table { width: 100%; }
.column {
	width: 300px;
	float: left;
}
.column tr td { padding: 15px; }
.column-wrap {
	padding: 0 !important;
	margin: 0 auto;
	max-width: 600px !important;
}
.column table { width: 100%;}
.clear { display: block; clear: both; }
/* -------------------------------------------
		MOBILE
		For clients that support media queries.
		Nothing fancy.
-------------------------------------------- */
@media only screen and (max-width: 600px) {

	a[class="btn"] { display: block !important; margin-bottom: 10px !important; background-image: none !important; margin-right: 0 !important;}
	div[class="column"] { width: auto !important; float: none !important;}
	table.social div[class="column"] {
		width: auto !important;
	}

}