.panel-partial {
	background-color: #D7D7DE;
	box-shadow: unset;
}
.selected .panel-partial {
	border: 1px solid #ACB5C7;
}
.panel-partial .panel-component > .panel-heading {
	background-color: #E9E9ED;
}