.multiselect.dropdown-toggle {
  text-align: left;
  border: 1px solid var(--bs-gray-300);
  background-color: var(--bs-white);
  box-shadow: none;
}
.multiselect.dropdown-toggle:not(:last-child) {
  border-right-color: var(--bs-gray-300);
}
.multiselect.dropdown-toggle:focus {
  color: var(--bs-gray-800);
  background-color: var(--bs-white);
  border-color: var(--bs-primary);
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(45, 84, 164, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(45, 84, 164, 0.25);
}
.control-selectlist .btn-group {
	width: 100%;
}
.multiselect-container {
	width: 100%;
}
.control-selectlist .multiselect-search {
  box-shadow: unset;
  margin-bottom: .3rem;
}

.multiselect-container .multiselect-filter > input.multiselect-search:focus {
  border-radius: 0;
}

.multiselect-all .checkbox label,
.multiselect-none .checkbox label {
  font-weight: 500;
}

.multiselect-container.dropdown-menu {
  background-color: var(--bs-white);
  padding: .3rem;
}

.multiselect-item, .multiselect-all {
  display: block;
  width: 100%;
  clear: both;
  font-weight: 400;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 3px;
  margin-bottom: .3rem;
}

.multiselect-container .multiselect-all .form-check,
.multiselect-container .multiselect-group .form-check,
.multiselect-container .multiselect-option .form-check {
  padding: 0 5px 0 0 !important;
}

.multiselect-container .multiselect-item > a {
  padding: 0;
  text-decoration: none;
  color: inherit;
}
.multiselect-container .multiselect-item:hover,
.multiselect-container .multiselect-item:focus {
  background-color: var(--bs-gray-200);
}

.multiselect-container .multiselect-all.active,
.multiselect-container .multiselect-all.active:not(.multiselect-active-item-fallback),
.multiselect-container .multiselect-item.active,
.multiselect-container .multiselect-item.active:not(.multiselect-active-item-fallback),
.multiselect-container .multiselect-item.active:hover,
.multiselect-container .multiselect-item.active:focus {
  color: var(--bs-gray-800);
  background-color: var(--bs-gray-300);
}

.multiselect-container .dropdown-item input[type="checkbox"],
.multiselect-container .dropdown-item input[type="radio"] {
  visibility: hidden;
  position: absolute;
}
