.multiselect.dropdown-toggle {
	text-align: left;
	border: 1px solid var(--gray-400);
	background-color: var(--gray-100);
}
.multiselect.dropdown-toggle:focus {
	color: var(--gray-800);
	background-color: var(--gray-100);
	border-color: #7797da;
	outline: 0;
	-webkit-box-shadow: 0 0 0 0.2rem rgba(45, 84, 164, 0.25);
	box-shadow: 0 0 0 0.2rem rgba(45, 84, 164, 0.25);
}
.control-selectlist .btn-group {
	width: 100%;
}
.multiselect-container {
	width: 100%;
}
.control-selectlist .multiselect-search {
	box-shadow: unset;
}
.multiselect-all .checkbox label {
	font-weight: 500;
}
.multiselect-container.dropdown-menu {
	background-color: var(--gray-100);
	padding: 0;
}
.multiselect-item {
	display: block;
	width: 100%;
	clear: both;
	font-weight: 400;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
}
.multiselect-container .multiselect-item > a {
	padding: 0;
	text-decoration: none;
	color: inherit;
}
.multiselect-container .multiselect-item:hover,
.multiselect-container .multiselect-item:focus {
	background-color: var(--gray-200);
}
.multiselect-container .multiselect-item.active,
.multiselect-container .multiselect-item.active:hover,
.multiselect-container .multiselect-item.active:focus {
	color: var(--gray-800);
	background-color: var(--gray-400);
}
.multiselect-item .checkbox,
.multiselect-item .radio {
	margin: 0;
}
.multiselect-item .checkbox label,
.multiselect-item .radio label {
	display: block;
	padding: 0.35rem 0;
	margin-bottom: 0;
}
.multiselect-item input[type="checkbox"],
.multiselect-item input[type="radio"] {
	visibility: hidden;
	position: absolute;
}