/*
	Colors
	Primary: 213358  --- 1D2D4D
	Text: 263A65
 */
html {
	position: relative;
	min-height: 100%;
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	background-color: #E9E9ED;
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 400;
	margin-bottom: 150px;
	font-size: 16px;
	color: #263A65;
}
a {
	color: #2D54A4;
}
a:hover, a:focus {
	color: #2D54A4;
}
/*
	Typography
 */
b, strong, label {
	font-weight: 500;
}
label {
	font-size: 14px;
	color: #263A65;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	color: #263A65;
}
.h5, h5 {
	font-size: 16px;
}
h1 small, .h1 small, h2 small, .h2 small, h3 small, .h3 small,
h1 .small, .h1 .small, h2 .small, .h2 .small, h3 .small, .h3 .small {
	font-size: 50%;
}
.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small,
.h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small,
h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small,
h4 small, h5 .small, h5 small, h6 .small, h6 small {
	color: #7A7A7A;
}
/*
	Navbar
 */
.navbar-top {
	background-color: #FFFFFF;
	margin: 0 0 0 250px;
	box-shadow: 0 0 3px #C5CEDC;
}
.navbar-heading {
	margin: 0px;
	font-weight: 400;
	font-size: 28px;
	line-height: 60px;
}
.navbar-heading small,
.navbar-heading .small {
	font-size: 65%;
}
.navbar-brand {
	background-color: #1D2D4D;
	width: 100%;
	height: 60px;
	float: none;
}
.navbar-top .navbar-nav > li > a:focus,
.navbar-top .navbar-nav > li > a:hover,
.navbar-top .navbar-nav > .open > a,
.navbar-top .navbar-nav > .open > a:focus,
.navbar-top .navbar-nav > .open > a:hover {
	color: #333;
	background-color: #E3E6EE;
}
/*
	Top Links
 */
.navbar-top-links {
	margin-right: 0;
}
.navbar-top-links li.menu-link > a {
	padding: 15px;
	min-height: 60px;
	line-height: 30px;
}
.navbar-top-links li.menu-link > span {
	display: block;
	padding: 15px 0;
}
.navbar-top-links li.menu-link > a .fa {
	font-size: 18px;
	color: #263A65;
}
.navbar-top-links li.menu-link > .dropdown-toggle img {
	margin-top: -2px;
	margin-left: 10px;
	margin-right: 5px;
	height: 32px;
	width: 32px;
}
.navbar-top-links > li > a:hover,
.navbar-top-links > li > a:focus,
.navbar-top-links > .open > a,
.navbar-top-links > .open > a:hover,
.navbar-top-links > .open > a:focus {
	background-color: #E3E6EE;
}
.navbar-top-links .dropdown-menu {
	border-color: #DFE6EE;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding: 0;
	min-width: 300px;
}
.navbar-top-links .dropdown-menu .menu {
	list-style: outside none none;
	margin: 0;
	max-height: 225px;
	overflow-x: hidden;
	padding: 10px 0 0;
}
.navbar-top-links .dropdown-menu .menu .menu-item {
	padding: 0 20px;
}
/*
	Dropdown
 */
.dropdown-menu li a {
	padding: 5px 20px;
	min-height: 0;
	line-height: 22px;
	color: #263A65;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
	background-color: #E3E6EE;
	color: #263A65;
}
/*
	Sidebar
 */
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 250px;
	height: 100%;
	z-index: 999;
	-webkit-transition: all .4s ease 0s;
	transition: all .4s ease 0s;
}
.nav-sidebar {
	background-color: #213358;
	position: absolute;
	top: 60px;
	bottom: 40px;
	left: 0;
	right: 0;
	padding: 10px 0 0;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
}
.sidebar .fa-square-o {
	font-size: 0.6em;
}
.sidebar .fa-fw {
	width: 1.8em;
	text-align: left;
}
.sidebar-toggle {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.sidebar-toggle a {
	background-color: #1D2D4D;
	padding: 10px 15px;
	display: block;
	color: #A6B0C3;
}
.sidebar .nav > li > a {
	position: relative;
	display: block;
	padding: 10px 15px;
	color: #A6B0C3;
	font-weight: 600;
	text-indent: 3px;
}
.sidebar .nav > li.active > a,
.sidebar .nav > li > a:focus,
.sidebar .nav > li > a:hover {
	background-color: #1D2D4D;
	border-left: 3px solid #846528;
	color: #FAFBFC;
	text-indent: 1px;
}
.sidebar .nav > li.active > a {
	border-color: #FFF;
}
.sidebar .nav-second-level > li > a:hover, .sidebar .nav-third-level > li > a:hover,
.sidebar .nav-second-level > li > a:focus, .sidebar .nav-third-level > li > a:focus,
.sidebar .nav-second-level > li.active > a, .sidebar .nav-third-level > li.active > a,
.sidebar .nav-second-level > li > a.active, .sidebar .nav-third-level > li > a.active {
	background-color: transparent;
}
.sidebar .nav .nav {
	background-color: #253963;
}
.sidebar .nav .nav a {
	padding-left: 30px;
}
.sidebar .nav .nav a.active {
}
.sidebar-collapsed .sidebar {
	width: 65px;
}
.sidebar-collapsed .sidebar .navbar-brand {
	overflow: hidden;
}
.sidebar-collapsed #page-wrapper,
.sidebar-collapsed .navbar-footer {
	padding-left: 65px;
}
.sidebar-collapsed .navbar-top {
	margin-left: 65px;
}
.sidebar-collapsed .sidebar .content,
.sidebar-collapsed .sidebar .arrow {
	display: none;
}
.sidebar-collapsed .sidebar .collapse {
	position: absolute;
	width: 200px;
	display: none;
}
.sidebar-collapsed .sidebar .nav-second-level {
	margin: -39px 0 0 65px;
}
.sidebar-collapsed .sidebar .nav-third-level {
	margin: 0;
}
.sidebar-collapsed .sidebar .nav > li:hover .nav-second-level,
.sidebar-collapsed .sidebar .nav-second-level > li:hover .nav-third-level {
	display: block;
	visibility: visible;
	/*height: auto !important;*/
}
.sidebar-collapsed .fa-chevron-circle-left::before {
	content: "\f138";
}
.sidebar-collapsed .sidebar > .nav > li > a {
	font-size: 22px;
	padding: 15px;
}
/*
	Footer
 */
.navbar-footer {
	background-color: #D7D7DE;
	font-size: 12px;
	padding-left: 250px;
	padding-top: 16px;
}
@media (min-width: 768px) {
	.navbar-footer {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}
}
.navbar-footer .text-version {
	text-align: right;
}
/*
	Content
 */
#page-wrapper {
	padding-left: 250px;
}
#page-wrapper > .content {
	margin: 0;
}
/*
	Toolbar
 */
.toolbar {
	padding: 20px 15px;
}
.toolbar-action {
	clear: both;
	width: 100%;
	display: inline-block;
}
.toolbar-action .btn {
	border-width: 0px 0px 4px 0px;
	outline: 0 none;
	margin-left: 5px;
	margin-right: 5px;
}
.toolbar-action .btn-default:first-child {
	margin-left: 0;
}
.toolbar-action .btn-default:last-child {
	margin-right: 0;
}
.toolbar-action .btn-default {
	border-width: 1px 1px 4px 1px;
}
.toolbar-action .btn-filter {
	float: right;
}
.toolbar-action .btn:hover,
.toolbar-action .btn:focus {
	margin-top: 1px;
	border-bottom-width: 3px;
}
.toolbar-action .btn.active,
.toolbar-action .btn:active {
	box-shadow: none;
	border-bottom-width: 2px;
	margin-top: 2px;
}
.toolbar-action .fa {
	font-size: 18px;
	padding: 0;
}
.toolbar-action .btn .fa {
	font-size: 14px;
	padding-right: 3px;
}
/*
	Table
 */
.table > thead > tr > th {
	border-bottom: 2px solid #E1E1E7;
	font-weight: 400;
	background-color: #F5F5F6;
	color: #626E87;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
	vertical-align: middle;
	border-top: 0 solid #E1E1E7;
}
.table-striped > tbody > tr {
	background-color: #F5F5F6;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
	background-color: #E9E9ED;
}
.table-muted .text-muted {
	filter: alpha(opacity=80);
	opacity: 0.8;
}
.table .list-action,
.table .list-setup {
	width: 1px;
}
.table .checkbox,
.table .radio {
	margin-top: 0;
	margin-bottom: 0;
}
.table .sort {
	color: #626E87;
	font-style: italic;
	text-decoration: none;
	cursor: pointer;
}
.table .sort .fa {
	visibility: hidden;
	font-size: 11px;
}
.table .sort:hover .fa,
.table .sort:hover,
.table .sort .active {
	visibility: visible;
	display: inline-block;
	color: #263A65;
}
.table .sort .fa-sort-ASC:before,
.table .sort:hover .fa-sort-DESC:before {
	content: "\f062";
}
.table .sort .fa-sort-DESC:before,
.table .sort:hover .fa-sort-ASC:before {
	content: "\f063";
}
/*
	Nav Tabs
 */
.nav-tabs {
	background-color: #D7D7DE;
	border-bottom: 0 none;
	padding: 0 20px;
}
.nav-tabs > li > a {
	border-radius: 0;
	color: #263A65;
	font-weight: 500;
}
.nav > li > a:focus, .nav > li > a:hover {
	background-color: #E9E9ED;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
	color: #626E87;
	background-color: #E9E9ED;
	border-width: 1px 0 0;
}
/* Let's get this party started */
::-webkit-scrollbar {
	width: 12px;
}
/* Track */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.03);
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0, 0, 0, 0.4);
}
/*
	Form
 */
.tabs-form {
	padding: 15px 20px;
}
.tabs-form::before,
.tabs-form::after {
	display: table;
	content: " ";
	box-sizing: border-box;
}
.tabs-form::after {
	clear: both;
}
.panel-form {
	padding: 15px 20px;
	background-color: #FFF;
}
.panel-form > .panel-heading {
	padding: 0 0 15px;
}
.panel-form .panel-heading.collapsed {
	padding: 0;
}
.panel-form .panel-body {
	padding: 15px 0;
}
.form-control {
	border: 1px solid #CFD6E2;
	font-size: 15px;
	border-radius: 3px;
	height: 42px;
	line-height: 2;
	padding: 8px 15px;
	color: #263A65;
}
span.form-control {
	line-height: 1.8;
}
.form-control-static {
	height: 44px;
	border: 1px solid #CFD6E2;
	padding: 7px 15px;
	border-radius: 3px;
	line-height: 2;
}
.form-control:focus {
	border-color: #AABCD3;
	box-shadow: 0 1px 0px #AABCD3;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
	background-color: #E9E9ED;
}
.form-group .btn-group .btn {
	height: 42px;
	line-height: 1.766;
}
.multiselect.btn {
	height: 42px;
	line-height: 1.766;
}
.form-group .btn-default {
	border-color: #CFD6E2;
}
.form-group .btn-default:hover,
.form-group .btn-default:focus,
.form-group .btn-default.focus,
.form-group .btn-default:active,
.form-group .btn-default.active,
.form-group .btn-default.active.focus,
.form-group .btn-default.active:focus,
.form-group .btn-default.active:hover {
	background-color: #D7D7DE;
	border-color: #BCBCCA;
	box-shadow: 0 1px 0px #BCBCCA;
}
.input-group-addon {
	background-color: #D7D7DE;
	border: 1px solid #BCBCCA;
	border-radius: 2px;
	color: #263A65;
}
.input-sm {
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}
.has-error .btn,
.has-error .btn.active {
	border-color: #A94442;
}
.btn-file-input {
	position: relative;
	overflow: hidden;
	margin: 0px;
	line-height: 29px;
}
.btn-file-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	height: 100%;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
/*
	Form widget
 */
.field-switch {
	padding: 5px 0;
}
.toggle-group .btn {
	height: 32px;
	line-height: 1.3;
}
.toggle-handle.btn {
	border-radius: 50px;
}
.form-group.span-full {
	clear: both;
}
.form-group.span-left {
	float: left;
	width: 48.5%;
}
.form-group.span-right {
	float: right;
	width: 48.5%;
}
.form-group.flex-width {
	width: auto;
}
.form-group.flex-width .row > div {
	width: 100%;
}
.form-group.section-field {
	padding-top: 10px;
}
.field-switch .toggle.btn {
	min-width: 100px;
}
.field-checkboxlist label {
	padding-left: 10px;
	color: #263A65;
}
.field-checkboxlist .checkbox label::after,
.field-checkboxlist .checkbox label::before {
	margin-top: 5px;
}
.field-checkboxlist .help-block {
	padding-left: 10px;
}
/*
	Buttons
 */
.btn {
	border-radius: 2px;
	padding: 6px 15px;
	font-size: 16px;
}
.btn.active, .btn:active {
	box-shadow: unset;
}
.btn-action {
	padding: 5px 10px;
}
.btn-default {
	border-color: #ACB5C7;
	color: #263A65;
	box-shadow: 0px 1px 1px rgba(90, 90, 90, 0.1);
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default:active:focus,
.btn-default.active:hover,
.btn-default:active:hover,
.open > .dropdown-toggle.btn-default,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default:hover {
	color: #263A65;
	background-color: #E6E6ED;
	border-color: #8E9AB3;
}
.btn-primary {
	background-color: #2D54A4;
	border-color: #11347D;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.btn-primary.active:hover,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover {
	background-color: #153C8E;
	border-color: #0B2B70;
}
.btn-danger {
	background-color: #D5222B;
	border-color: #A91018;
}
.btn-info {
	background-color: #5BC0DE;
}
.btn-success {
	background-color: #2AB21C;
	border-color: #198D0D;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active,
.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success,
.open > .dropdown-toggle.btn-success:focus,
.open > .dropdown-toggle.btn-success:hover {
	background-color: #198D0D;
	border-color: #0A6D00;
}
.btn-warning {
	background-color: #D99B22;
	border-color: #AC7710;
}
.btn-edit {
	padding: 3px 6px;
}
.btn-outline {
	background-color: transparent;
	color: inherit;
	transition: all .5s;
}
.btn-primary.btn-outline,
.btn-primary.btn-outline:hover {
	color: #2D54A4;
}
.btn-success.btn-outline,
.btn-success.btn-outline:hover {
	color: #2AB21C;
}
.btn-info.btn-outline,
.btn-info.btn-outline:hover {
	color: #5BC0DE;
}
.btn-warning.btn-outline,
.btn-warning.btn-outline:hover {
	color: #D99B22;
}
.btn-danger.btn-outline,
.btn-danger.btn-outline:hover {
	color: #D5222B;
}
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
	background-color: transparent;
}
.btn-warning.btn-outline.active,
.btn-warning.btn-outline:active,
.open > .dropdown-toggle.btn-warning.btn-outline {
	background-color: transparent;
}
.btn-group-xs > .btn, .btn-xs {
	padding: 1px 5px;
	font-size: 14px;
}
/*
	Alert
 */
.alert-title {
	margin-bottom: 0;
}
.alert-dropdown {
	position: relative;
	float: right;
	top: -3px;
	text-shadow: 0 1px 0 #FFF;
	color: inherit;
	filter: alpha(opacity=20);
	opacity: .2;
}
.alert {
	margin-bottom: 0;
	border-radius: 0px;
	padding: 10px 15px;
	border-width: 0 0 1px;
}
.alert-dismissable,
.alert-dismissible {
	padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
	top: -6px;
}
.alert .close {
	font-size: 32px;
}
.alert-default {
	background-color: #FFF;
	border-color: #D7D7DE;
}
.alert-success {
	background-color: #96DF8E;
	border-color: #69C85F;
	color: #14750A;
}
.alert-danger {
	background-color: #FCA1A6;
	border-color: #F07177;
	color: #8D0C12;
}
.alert-warning {
	background-color: #FFE0A3;
	border-color: #F5C973;
	color: #8F630D;
}
.alert-info {
	background-color: #E0E7F5;
	border-color: #B3C2E0;
	color: #3A548A;
}
.list-group-alert {
	list-style: none outside none;
	padding: 10px 0;
	margin: 0;
}
.list-group-alert li + li {
	margin-top: 10px;
}
.list-group-item-warning {
	background-color: #FFE0A3;
	color: #8F630D;
}
.panel-item-modal .list-group {
	margin-bottom: 0;
}
.item-details .list-group-item {
	border-radius: 0;
}
/*
	Panel
 */
.panel {
	border-radius: 0;
	border: 0 none;
}
.panel:before,
.panel:after {
	content: "";
	display: table;
}
.panel:after {
	clear: both;
}
.panel-group .panel-heading + .panel-collapse > .list-group,
.panel-group .panel-heading + .panel-collapse > .panel-body {
	border-top: 1px solid #e9e9ed;
}
.panel-default > .panel-heading {
	color: #263A65;
	background-color: #EAEAED;
	border-color: #E9E9ED;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: #E9E9ED;
}
.panel-inverse {
	background-color: #E9E9ED;
}
.panel-inverse > .panel-heading {
	background-color: #D7D7DE;
	border-color: #D7D7DE;
}
.panel-footer {
	background-color: #EAEAED;
	border-top: 1px solid #E1E1E7;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.panel-filter {
	background-color: #D7D7DE;
	margin-bottom: 0px;
}
.panel-filter .panel-body {
	padding: 10px 15px;
}
.panel-table {
	border-color: #EEE;
}
.panel-table .table {
	margin-bottom: 0;
}
.panel-theme .buttons {
	padding: 25px 0 30px;
}
/*
	Popover
 */
.popover {
	border: 1px solid #D7D7DE;
}
.popover-title {
	background-color: #EAEAED;
	border-bottom: 1px solid #CFD6E2;
	margin: 0 -1px;
}
.popover-content {
	margin: 0 -1px;
}
/*
	Checkbox
 */
.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before,
.checkbox-primary input[type="checkbox"]:indeterminate + label::before,
.checkbox-primary input[type="radio"]:indeterminate + label::before {
	background-color: #2D54A4;
	border-color: #2D54A4;
}
.checkbox-danger input[type="checkbox"]:checked + label::before,
.checkbox-danger input[type="radio"]:checked + label::before,
.checkbox-danger input[type="checkbox"]:indeterminate + label::before,
.checkbox-danger input[type="radio"]:indeterminate + label::before {
	background-color: #D5222B;
	border-color: #D5222B;
}
.checkbox-info input[type="checkbox"]:checked + label::before,
.checkbox-info input[type="radio"]:checked + label::before,
.checkbox-info input[type="checkbox"]:indeterminate + label::before,
.checkbox-info input[type="radio"]:indeterminate + label::before {
	background-color: #5BC0DE;
	border-color: #5BC0DE;
}
.checkbox-warning input[type="checkbox"]:checked + label::before,
.checkbox-warning input[type="radio"]:checked + label::before,
.checkbox-warning input[type="checkbox"]:indeterminate + label::before,
.checkbox-warning input[type="radio"]:indeterminate + label::before {
	background-color: #D99B22;
	border-color: #D99B22;
}
.checkbox-success input[type="checkbox"]:checked + label::before,
.checkbox-success input[type="radio"]:checked + label::before,
.checkbox-success input[type="checkbox"]:indeterminate + label::before,
.checkbox-success input[type="radio"]:indeterminate + label::before {
	background-color: #2AB21C;
	border-color: #2AB21C;
}
/*
	Select 2
 */
.form-group .select2-container {
	width: 100% !important;
}
.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
	color: #263A65;
}
.select2-container--bootstrap .select2-selection--single {
	height: 42px;
	line-height: 1.92857143;
}
.select2-container--bootstrap .select2-selection,
.select2-container--bootstrap .select2-search--dropdown .select2-search__field {
	border-color: #CFD6E2;
	border-radius: 3px;
	color: #263A65;
}
.select2-container--bootstrap .select2-results__option[aria-selected="true"] {
	background-color: #E9E9ED;
	color: #263A65;
}
.input-sm + .select2-container--bootstrap {
	font-size: 12px;
}
.input-sm + .select2-container--bootstrap .select2-selection--single {
	height: 30px;
	line-height: 1.2;
}
.select2-container--bootstrap .select2-dropdown,
.select2-container--bootstrap.select2-container--focus .select2-selection,
.select2-container--bootstrap.select2-container--open .select2-selection {
	border-color: #AABCD3;
	box-shadow: 0 1px 0px #AABCD3;
}
.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
	background-color: #2D54A4;
	color: #FFF;
}
.select2-container--bootstrap .select2-selection--single .select2-selection__arrow b {
	border-color: #263A65 transparent transparent;
}
/*
	Pagination
 */
.pagination {
	margin: 0;
}
.pagination-bar .links,
.pagination-bar .info {
	float: left;
}
.pagination-bar .links {
	float: right;
	text-align: right;
}
.pagination-bar .info .input-group {
	padding-top: 4px;
}
.pagination-bar .info .input-group-addon {
	background-color: transparent;
	border: 0;
	padding-left: 0;
}
.pagination > li > a,
.pagination > li > span {
	margin: 0 5px;
	border-radius: 3px;
	padding: 6px 15px;
	color: #2D54A4;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
	background-color: #E3E6EE;
	border-color: #CFD6E2;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
	background-color: #2D54A4;
	border-color: #11347D;
}
.pagination > li > a[rel="next"],
.pagination > li > a[rel="prev"] {
	padding: 6px 25px;
}
/*
	Login
 */
.page-login {
	background-color: #213359;
}
.page-login #page-wrapper {
	padding-left: 0;
	border: 0;
}
.page-login .navbar,
.page-login .navbar-brand,
.page-login #footer {
	display: none;
}
.page-login .panel-login {
	margin: 30% 0;
	background-color: transparent;
	border: 0;
}
.page-login .panel-login .panel-body {
	background-color: #FFFFFF;
	border-radius: 3px;
}
.page-login .panel-login .thumbnail {
	background-color: transparent;
	border: 0 none;
}
.page-login .panel-login > .panel-heading {
	text-align: center;
	padding: 20px 15px;
}
.page-login .form-group {
	margin-bottom: 10px;
}
.page-login .form-control {
	width: 100%;
}
/*
	Timeline
 */
.timeline {
	list-style: none;
	padding: 0;
	position: relative;
	margin-bottom: 0px;
}
.timeline:before {
	background-color: #2D54A4;
	top: 0;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 3px;
	left: 97.5px;
	margin-left: -1.5px;
}
.timeline > li {
	position: relative;
	margin-left: 90px;
}
.timeline > .time-label {
	margin-bottom: 15px;
	padding-left: 60px;
	margin-left: 0px;
	background-color: #D7D7DE;
}
.timeline > .time-label > span {
	display: inline-block;
	padding: 15px 10px 6px;
	text-align: center;
	font-weight: 500;
}
.timeline .timeline-item {
	margin-bottom: 0px;
	padding: 15px 0;
}
.timeline .timeline-time {
	position: absolute;
	left: -90px;
	text-align: left;
	padding: 5px 10px;
	box-sizing: border-box;
}
.timeline-item .timeline-time > span {
	display: block;
}
.timeline-item .timeline-time > span:first-child {
	font-weight: bold;
}
.timeline-item .timeline-time > span:last-child {
	font-size: 12px;
}
.timeline-item .timeline-icon {
	text-align: center;
	float: left;
	padding: 2px;
	width: 15px;
	height: 15px;
	z-index: 100;
	border-radius: 50%;
	border: 3px solid #D7D7DE;
	margin-top: 10px;
}
.timeline-item .timeline-icon .fa {
	font-size: 11px;
	display: none;
}
.timeline .timeline-body {
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 2px;
	box-shadow: 0px 1px 2px rgba(185, 200, 218, 0.79);
	margin-left: 40px;
	margin-right: 15px;
	margin-top: 0;
	padding: 12px;
	position: relative;
}
.timeline .timeline-body::after {
	content: "";
	display: block;
	position: absolute;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 9px 9px 9px 0px;
	border-color: transparent #FFFFFF transparent transparent;
	left: 0px;
	top: 10px;
	margin-left: -9px;
}
.timeline .timeline-header {
	font-size: 13px;
	margin: 0;
}
.timeline-body > p,
.timeline-body > ul {
	margin-bottom: 0;
}
.timeline-body > p + p {
	margin-top: 5px;
}
@media (max-width: 767px) {
	ul.timeline:before {
		left: 40px;
	}
	ul.timeline > li > .timeline-icon {
		position: absolute;
		left: 15px;
		margin-left: 0;
		top: 16px;
	}
}
/*
	Messages
 */
.message-toolbar {
	padding: 20px 0;
}
.panel-message-folders {
	background-color: transparent;
	box-shadow: unset;
}
.panel-message-folders .panel-heading {
	background-color: #fff;
	padding: 15px;
}
.panel-message-folders .list-group-item {
	background-color: transparent;
	border-width: 0;
	color: inherit;
}
.panel-message-folders .list-group-item.active,
.panel-message-folders .list-group-item.active:focus,
.panel-message-folders .list-group-item.active:hover {
	background-color: #D7D7DE
}
.conversation-heading {
	padding: 15px 20px;
	background-color: #D7D7DE;
}
.message {
	border-radius: 0;
}
.message .message-heading {
	background-color: #EAEAED;
	padding: 15px 20px;
}
.message-body {
	padding: 15px 20px;
}
.conversation-respond .panel-heading {
	padding: 5px 20px 10px;
	background-color: #D7D7DE;
}
/*
	Theme source editor
 */
.panel-files {
	height: 600px;
	overflow: auto;
}
/*
	Utilities
 */
.text-w-300 { font-weight: 300; }
.text-w-400 { font-weight: 400; }
.text-w-500 { font-weight: 500; }
.text-w-700 { font-weight: 700; }
.text-w-900 { font-weight: 900; }
.text-sm {
	font-size: 12px;
}
.text-primary {
	color: #2D54A4;
}
.label-primary {
	background-color: #2D54A4;
}
.text-green {
	color: #5CB85C;
}
.text-red {
	color: #D9534F;
}
.text-blue {
	color: #63ADD0;
}
.text-yellow {
	color: #EC971F;
}
.bg-white {
	background-color: #FFFFFF;
}
.bg-green {
	background-color: #5CB85C;
	color: #FFFFFF;
}
.bg-red {
	background-color: #D9534F;
	color: #FFFFFF;
}
.bg-blue {
	background-color: #63ADD0;
	color: #FFFFFF;
}
.bg-yellow {
	background-color: #EC971F;
	color: #FFFFFF;
}
.bg-primary {
	background-color: #2D54A4;
	color: #FFFFFF;
}
.text-nowrap {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.border-none {
	border: 0 none;
}
.radius-none {
	border-radius: 0;
}
.border-all {
	border-right: 1px solid #DFE6EE;
	border-left: 1px solid #DFE6EE;
}
.border-left {
	border-left: 1px solid #DFE6EE;
}
.border-right {
	border-right: 1px solid #DFE6EE;
}
.border-top {
	border-top: 1px solid #DFE6EE;
}
.border-bottom {
	border-bottom: 1px solid #DFE6EE;
}
.wrap-all {
	padding: 15px;
}
.wrap-none {
	padding: 0;
}
.wrap-vertical {
	padding-left: 15px;
	padding-right: 15px;
}
.wrap-horizontal {
	padding-top: 15px;
	padding-bottom: 15px;
}
.wrap-top {
	padding-top: 15px;
}
.wrap-bottom {
	padding-bottom: 15px;
}
.wrap-left {
	padding-left: 15px;
}
.wrap-right {
	padding-right: 15px;
}
.no-margin {
	margin: 0;
}
.no-margin-top {
	margin-top: 0;
}
.no-margin-bottom {
	margin-bottom: 0;
}
.margin-top {
	margin-bottom: 15px;
}
.margin-bottom {
	margin-bottom: 15px;
}
.inline-block {
	display: inline-block;
}
.center-block {
	float: none;
}
.help-block {
	font-size: 85%;
}
.text-muted, .help-block, .fa-muted {
	color: #626E87;
}
