@import "http://fonts.googleapis.com/css?family=Oxygen:400,300,700";
html {
min-height: 100%;
position: relative;
}
body {
background-color:#184f75;
font-family:'Oxygen',Arial,sans-serif;
margin-bottom:55px;
}
a, a:hover, a:active {
outline:0 none;
}



/** WRAPPER **/
#wrapper, #footer {
padding-left: 0;
}
#page-wrapper {
width: 100%;
}
.container-fluid {
}


/** HEADER **/
.header { 
border-bottom: 0 solid #DDDBDB;
}
.page-header {
border-bottom: 0 solid #eee;
}
.page-header h1 {
text-align: center;
color:#d3d3d3;
}


/** ALERT **/
#notification .alert {
border-radius: 0;
}

/** FORMS **/
.form-control {
width: 80%;
border-radius: 0;
color:#333;
}
.form-horizontal .control-label {
text-align: left;
}
.control-label .help-block {
font-size: 85%;
font-weight: normal;
}

/** BUTTONS **/
.btn {
border-radius: 0;
outline: 0 none;
}
.btn-success {
background-color: #00B87A;
border-color: #00B87A;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
background-color: #009f69;
border-color: #009f69;
color: #FFFFFF;
}

/** ICONS **/
.fa {
font-size:16px;
}

.red {
color:#C96862;
}
.green {
color:#00B87A;
}
.error_php {
border:1px solid #990000;
padding-left:20px;
margin:0 20px 10px 180px;
}
.error_php:first-child {
margin-top:45px;
}


/** SETUP ***/
.setup_box {
background-color: #E7E7E7;
border: 1px solid #E7E7E7;
float:none;
margin: 0 auto;
padding:25px;
}
.setup_box p, .setup_box h2 {
}
.setup_box h1 {
font-size: 30px;
margin-bottom: 30px;
}
.setup_box h2 {
border-bottom: 1px solid #DDDDDD;
}
