.DS_Store
.idea

system/tastyigniter/cache/*
!system/tastyigniter/cache/index.html
!system/tastyigniter/cache/.htaccess

system/tastyigniter/logs/*
!system/tastyigniter/logs/index.html
!system/tastyigniter/logs/.htaccess

assets/images/thumbs/*
!assets/images/thumbs/index.html

assets/images/data/*
!assets/images/data/index.html
!assets/images/data/flags