<phpunit colors="true" strict="true">
    <testsuites>
        <testsuite name="Tests">
            <directory>./tests/phpunit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
