.panel {
    @extend .card;
	border: 0 none;
	margin-bottom: 10px;
}
.panel:before,
.panel:after {
	content: "";
	display: table;
}
.panel:after {
	clear: both;
}
.panel-title {
	@extend .card-title;
	margin-bottom: 0;
}
.panel-header,
.panel-heading {
	@extend .card-header;
}
.panel-body {
	@extend .card-body;
}
.panel-footer {
	@extend .card-footer;
}
@each $color, $value in $theme-colors {
	.panel-#{$color} {
		@extend .bg-#{$color};

		@if not ($color == light or $color == default) {
			@extend .text-#{$color};
		}
	}
}