.panel-search {
	background-color: #F5F5F6;
	margin-bottom: 0;
}
.panel-carte {
	margin-bottom: 0;
}
.panel-items .panel-heading {
	background-color: #D7D7DE;
	border-radius: 0;
}
.items-list {
	background-color: #E9E9ED;
}
.items-list > ul {
	padding: 0;
	margin: 0 -15px;
	overflow: hidden;
}
.items-list > ul li {
	list-style: none;
}
.items-list .panel-item {
	border: 1px solid #E9E9ED;
}
.panel-item .media {
	margin-top: 0;
}
.panel-item .media-body {
	height: 65px;
}
.panel-item .panel-title {
	margin-bottom: 6px;
}
.items-list .panel-body {
	overflow: auto;
}
#marketplace-items .panel-body {
	height: 95px;
	max-height: 95px;
}
#update-items .panel-body {
	height: 120px;
	max-height: 120px;
}
#item-modal .media-left,
#marketplace-items .media-left {
	padding-right: 15px;
}
#update-items .panel-body ul.small,
#marketplace-items .media ul.small {
	font-size: 90%;
}
#marketplace-items .btn {
	padding: 5px 10px;
	text-shadow: none;
	line-height: 1;
}
#marketplace-items .btn-success {
	background-color: #47A447;
	color: #FFF;
	border: 0 none;
}
.items-list .installed-icon {
	font-size: 17px;
}
.items-list .checkbox {
	margin: 0;
	margin-right: 12px;
}
.items-list .checkbox input {
	width: 37px;
	height: 26px;
	margin-top: -1px;
}
.items-list .checkbox label::before,
.items-list .checkbox label::after {
	height: 26px;
	width: 37px;
	top: -3px;
}
.items-list .checkbox label::before {
	border-color: #CBD5E3;
}
.items-list .checkbox label::after {
	padding-left: 12px;
	font-size: 16px;
}
#update-items input[type="checkbox"].styled:checked + label:after,
#update-items input[type="radio"].styled:checked + label:after,
#update-items .checkbox input[type=checkbox]:checked + label:after {
	font-family: 'FontAwesome';
	content: "\f021";
	color: #3c763d;
}
.search-group {
	margin-bottom: 0;
}
.search-group > div {
	position: relative;
}
.search-group .twitter-typeahead {
	width: 100%;
}
.search-group .fa-icon {
	top: 12px;
}
.search-group .fa-spinner {
	height: auto;
}
.search-group .tt-menu {
	width: 100%;
	background-color: #FFF;
	border-radius: 3px;
	border: 1px solid #E6E6ED;
	-webkit-box-shadow: 0 3px 8px rgba(95, 128, 171, 0.376);
	-moz-box-shadow: 0 3px 8px rgba(95, 128, 171, 0.376);
	box-shadow: 0 3px 8px rgba(95, 128, 171, 0.376);
	margin-top: 10px;
}
.search-group .tt-menu {
	max-height: 250px;
	overflow-y: auto;
}
.search-group .empty-message {
	padding: 5px 10px;
	text-align: center;
}
.search-group .item-details {
	padding: 10px 0;
}
.search-group .item-details + .item-details {
	border-top: 1px solid #E6E6ED;
}
.search-group .tt-suggestion:hover,
.search-group .tt-suggestion:focus {
	background-color: #E6E6ED;
	cursor: pointer;
}
.item-details .item-thumb {
	width: 70px;
	text-align: center;
	float: left;
}
.item-details .item-thumb .fa {
	padding: 10px 15px;
}
.item-details .item-name {
	padding-top: 5px;
	font-weight: 500;
}
.item-details .item-description p {
	margin-bottom: 0;
}
.panel-body.changelog {
	overflow: auto;
	height: 120px;
	max-height: 120px;
}
#item-modal .modal-dialog {
	margin: 80px auto;
}
.panel-item-modal {
	margin-bottom: 0;
}