$font-size-list: 7 8 9 10 11 12 13 14 15 16 17 18 19 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100 120 140 160 200;
@each $value in $font-size-list {
  .fs-#{$value} {
    font-size: #{$value}px !important;
  }
}
