@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);
body,html {
font-size:14px;
padding:0;
font-family: 'Oxygen', Arial, sans-serif;
}
body {
padding-top:0;
font-weight:200;
background-color:#F7F7F7;
border: 0 solid #dedede;
overflow:-moz-scrollbars-vertical;
margin-top: 68px;
margin-bottom: 38px;
}
a:hover, a:focus {
color: #2a6496;
text-decoration: none;
}

.wrap-none {
    padding: 0;
}

/*** NAVBAR TOP ***/
.navbar-menu {
background-color: #F7F7F7;
border-top: 0 solid #dedede;
border-right: 0 solid #dedede;
border-left: 0 solid #dedede;
border-bottom:0px;
padding: 10px 0;
margin-bottom:0px;
}
.navbar-menu .input-group-addon {
background-color: #ffffff;
cursor: pointer;
}
.navbar-form {
    padding: 0;
}



/*** BUTTONS ***/
.btn {
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
color: #333333;
cursor: pointer;
display: inline-block;
margin-bottom: 0;
padding: 4px 12px;
text-align: center;
vertical-align: middle;
}
.btn-toolbar .btn {
font-size: 16px;
}
.btn-toolbar .btn .fa {
line-height: 1.42857;
}
.btn-toolbar .form-control {
width: 100%;
}
.btn:hover, .btn:focus {
color: #333333;
text-decoration: none;
}
.btn:focus {
outline: 0 none;
outline-offset:0px;
}
.btn.active, .btn:active {
background-image: none;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
outline: 0 none;
}
.btn-toolbar {
margin-left: 0;
}



/*** DROPDOWN SORTER ***/
.dropdown-sorter > li > span {
padding: 3px 20px;
}
.dropdown-sorter li a:hover {
background: none repeat scroll 0 0 #EEEEEE;
}
.dropdown-sorter li a {
cursor:pointer;
}
.dropdown-sorter .fa {
margin-left: -12px;
width: 12px;
}
.dropdown-menu > li > .ascending, .dropdown-menu > li > .descending {
background: none repeat scroll 0 0 #EEEEEE;
}
.dropdown-menu .divider {
margin: 5px 0;
}


/*** CONTAINERS ***/
.container-fluid {
}
.row-fluid {
background: none repeat scroll 0 0 #FFF;
padding: 0;
margin: 0;
}
.row-fluid .uploader-box, .row-fluid .grid-box {
}
.navbar-statusbar {
background-color: #F7F7F7;
border-color: #dedede;
border-width: 0;
min-height: 38px;
text-align:center;
}
.navbar-statusbar .navbar-text {
float:none;
font-size: 12px;
margin-bottom: 10px;
margin-top: 10px;
}


/*** BREADCRUMB ***/
.breadcrumb {
border-top: 3px solid #dedede;
border-bottom: 1px solid #E7E7E7;
border-radius:0;
padding: 6px 10px;
margin-bottom: 0;
z-index:5;
}
.breadcrumb > li {
display: inline-block;
text-shadow: 0 1px 0 #FFFFFF;
}
.breadcrumb > .active {
color: #888;
}
.breadcrumb a {
color: #333333;
}
.breadcrumb a:hover, .breadcrumb a:focus {
color: #2a6496;
text-decoration: none;
}


/*** NOTIFICATION ***/
.notification {
top: 25%;
font-size: 1.2em;
margin-bottom: 0;
padding: 1em 1.3em;
position: fixed;
left: 0;
z-index: 2000;
}


/*** THUMBNAIL LIST ***/
.thumbnail-list {
background:#FFF;
list-style: none outside none;
padding-left: 7px;
padding-bottom: 20px;
margin: 0 auto;
min-height: 320px;
}
.thumbnail-list .thumbnail-each {
border: 0 none;
display: inline-block;
margin: 7px;
padding: 0;
vertical-align: top;
width: 130px;
line-height: 20px;
}
.thumbnail {
border: 0 solid #E1E1E1;
display: block;
margin: auto;
position: relative;
width: 100%;
}
.thumbnail-list .thumbnail > a {
cursor: pointer;
}
.thumbnail .img-container {
border: 0 none;
margin: auto;
padding: 0;
text-align: center;
vertical-align: middle;
width: 100%;
}
.thumbnail .img-container img {
max-height: 64px !important;
max-width: 120px !important;
margin: 0 auto;
}
.thumbnail .img-container i {
font-size: 64px;
color:#888;
}
.thumbnail .img-container span {
bottom: 35px;
color: #fff;
margin-left: 12px;
position: absolute;
}
.thumbnail-list .thumbnail .caption {
color: #000000;
padding: 4px;
text-align: left;
word-wrap: break-word;
z-index: 1;
}
.thumbnail-list .thumbnail h4 {
text-align: center;
font-size: 12px;
font-weight: normal;
line-height: 18px;
margin: 0;
padding: 0;
}
h4.ellipsis {
height: 18px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.thumbnail-list .thumbnail .info {
color: #777777;
display: none;
font-size: 12px;
font-weight: 200;
text-shadow: 0 1px 0 #FFFFFF;
}
.thumbnail-list .selected .thumbnail .img-container {
background: none repeat scroll 0 0 #E9E9E9;
}
.thumbnail-list .selected .thumbnail .caption {
background: none repeat scroll 0 0 #0088CC;
color:#FFF;
position: relative;
}


/*** CONTEXT MENU ***/
.context-menu-item.icon {
padding: 8px 10px;
}
.context-menu-item.icon {
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.context-menu-item > span {
font-size: 12px;
margin-left:10px;
}
.context-menu-item.icon-eye:before {content: "\f06e";}
.context-menu-item.icon-clipboard:before {content: "\f0ea";}
.context-menu-item.icon-folder-open:before {content: "\f07c";}
.context-menu-item.icon-pencil:before {content: "\f040";}
.context-menu-item.icon-trash-o:before {content: "\f014";}
.context-menu-item.icon-info-circle:before {content: "\f05a";}


/*** MODAL ***/
.modal-footer {
margin-top: 0;
}
.modal-footer .btn, .modal-footer a {
font-size: 12px;
margin-left: 10px;
min-width: 80px;
}
.modal-footer .btn-default {
background-color: #FFF;
border-color: #CCC;
color: #333;
}
.modal-footer .btn-default:hover, .modal-footer .btn-default:focus, .modal-footer .btn-default:active {
background-color: #ebebeb;
border-color: #adadad;
}
.modal-footer .btn-primary {
background-color: #428bca;
border-color: #357ebd;
color: #FFF;
}
.modal-footer .btn-primary:hover, .modal-footer .btn-primary:focus, .modal-footer .btn-primary:active {
background-color: #3276b1;
border-color: #285e8e;
}
.get_info {
font-size: 12px;
list-style: none outside none;
margin: 0;
padding: 0;
}
.get_info > li {
padding: 2px 0;
cursor: default !important;
}
.get_info > li span {
display: inline-block;
margin-right: 5px;
text-align: right;
width: 85px;
}
.uploader-box {
background: none repeat scroll 0 0 #FFFFFF;
display: none;
margin: 0 auto;
overflow: hidden;
width: 100%;
z-index: 9999;
}
.upload-tabbable {
}