html {
min-height: 100%;
position: relative;
}
body {
background-color:#30425A;
font-family:'Lato',Arial,sans-serif;
font-size:12px;
margin-bottom:55px;
}
a, a:hover, a:focus, a:active {
color: #99adc9;
outline: 0px none;
}
.footer-links a {
text-shadow: 0 1px 0 rgba(0,0,0,1);
}
.center-block {
float: none;
}
.btn-primary {
color: #FFF;
background-color: #1A8EED;
border-color: #1A8EED;
}

.setup_box hr {
margin: 10px 0px 20px;
border-color: #d7d7d7;
}

/** WRAPPER **/
#wrapper, #footer {
padding-left: 0;
}
#page-wrapper {
width: 100%;
}
.container-fluid {
}


/** HEADER **/
.header {
border-bottom: 0 solid #DDDBDB;
}
.page-header {
border-bottom: 0 solid #eee;
margin: 25px 0 0;
color:#E3E3E3;
}
.page-header h1 {
margin-top: 0;
}
.page-header img {
width: 205px;
padding: 8px 0px 0;
    opacity: 0.4;
}
.page-header .navbar-right {
margin-right: 0;
}

    /** ALERT **/
#notification .alert {
    border: 0 none;
    border-radius: 0;
    padding:0;
    margin-bottom:0;
}
#notification .alert-dismissable .close {
    right: -26px;
    top: -5px;
    display: none;
}
#notification p,
#notification .alert-success,
#notification .alert-warning,
#notification .alert-danger {
    padding: 8px 35px 8px 15px;
    margin-bottom:20px;
}
.success{
    background:#00B87A;
    border-left: 5px solid #00B87A;
    border-top: 1px solid #00B87A;
}
.error {
    background:#C96862;
    border-left: 5px solid #C96862;
}
.warning {
    background:#FFA74E;
    border-left: 5px solid #FFA74E;
    border-top: 1px solid #FFA74E;
}
.list-group-alert {
    list-style: none outside none;
    padding: 0;
}
.list-group-alert li + li {
    margin-top: 10px;
}
.list-group-alert .alert-hide {
    font-size: 12px;
    font-style: italic;
    margin-top: 5px;
    display: none;
}
.alert-collapsible .btn-dropdown {
    color: inherit;
    position: relative;
    left: -7px;
    top: 2px;
}
button.btn-dropdown {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    display: none;
    padding: 0;
}
.btn-dropdown {
    float: left;
}
.btn-dropdown i {
    color: inherit;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    opacity: 0.5;
    text-shadow: 0 1px 0 #fff;
}

/** FORMS **/
.form-control {
width: 80%;
border-radius: 0;
color:#333;
}
.control-label .help-block {
font-size: 85%;
font-weight: normal;
}

/** BUTTONS **/
.btn {
border-radius: 0;
outline: 0 none;
}
.btn-success {
background-image: none;
background-color: #00B87A;
border-color: #00B87A;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
background-color: #009f69;
border-color: #009f69;
color: #FFFFFF;
}

/** ICONS **/
.requirements .fa {
font-size:16px;
}

.red {
color:#C96862;
}
.green {
color:#00B87A;
}
.error_php {
border:1px solid #990000;
padding-left:20px;
margin:0 20px 10px 180px;
}
.error_php:first-child {
margin-top:45px;
}


/** SETUP ***/
.setup_box .content {
background-color: #E7E7E7;
border: 1px solid #E7E7E7;
padding:25px;
}
.setup_box p, .setup_box h2 {
}
.setup_box h1 {
font-size: 30px;
margin-bottom: 30px;
}
.setup_box h2 {
border-bottom: 1px solid #DDDDDD;
}
h4, .h4 {
font-size: 24px;
}

.list-group-alert {
list-style: none outside none;
padding: 0;
}
.terms {
background-color: #FFF;
overflow: auto;
height: 350px;
border: 1px solid #c7c7c7;
padding: 15px;
}
.form-horizontal {
border: 1px solid #D7D7D7;
padding: 15px;
}
.buttons {
border: 1px solid #D7D7D7;
padding: 15px;
overflow: hidden;
}
.list-inline > li + li::before {
content: '|';
padding-right: 10px;
}
.footer-links {
text-align: center;
padding-top: 25px;
}
.panel-next-steps {
margin: -25px;
border-radius: 0;
border: 0;
}
.panel-next-steps .panel-body {
padding: 40px;
}
.cta-next-steps {
min-height: 100px;
    text-align: center;
}
.panel-next-steps h3 {
margin-top: 0;
}
.panel-next-steps .btn-cta {
display: block;
border: 1px solid;
border-radius: 5px;
text-transform: uppercase;
padding: 20px;
font-weight: bold;
}
.panel-next-steps .panel-footer .btn {
margin-top: 10px;
}
.panel-next-steps .btn-cta .fa {
margin-bottom: 10px;
}
.btn-orange, .btn-orange:hover, .btn-orange:focus {
background-color: transparent;
color: #ed561a;
}
.btn-blue, .btn-blue:hover, .btn-blue:focus {
background-color: transparent;
color: #1a8eed;
}

.call-to-action h3 {
margin-top: 0px;
}
.call-to-action .btn {
margin-top: 10px;
}

.bs-wizard {margin-top: 0px;}

.bs-wizard {padding: 0 30px 15px;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 20px; height: 20px; display: block; background-image: linear-gradient(to bottom, #d7d7d7 0px, #b7b7b7 100%); top: 20px; margin-top: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 10px; height: 10px; background: #e7e7e7; border-radius: 50px; position: absolute; top: 5px; left: 5px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 4px; box-shadow: none; margin: 13px 0;background-image: linear-gradient(to bottom, #d7d7d7 0px, #b7b7b7 100%);}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background-image: linear-gradient(to bottom, #1c8a81 0px, #0f4b46 100%);}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {}
.bs-wizard > .bs-wizard-step:last-child  > .bs-wizard-dot:last-child {background-color: #d7d7d7;right:0;border-radius:0%}
.bs-wizard > .bs-wizard-step:last-child  > .bs-wizard-dot:last-child:after {opacity: 0;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*Definitions for complete status*/
.bs-wizard > .bs-wizard-step.complete > .bs-wizard-dot {background-image: linear-gradient(to bottom, #1c8a81 0px, #0f4b46 100%);}
.bs-wizard > .bs-wizard-step.complete > .bs-wizard-dot:after {background: #1c8a81;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.complete:last-child  > .bs-wizard-dot:last-child {background-color: #005A96;}
.bs-wizard > .bs-wizard-step.complete:last-child  > .bs-wizard-dot:last-child:after {opacity: 1;}