$white: #FFFFFF !default;
$gray-100: #FCFDFF !default;
$gray-200: #E8E9EF !default;
$gray-300: #D2D4DF !default;
$gray-400: #C0C2CE !default;
$gray-500: #9194A6 !default;
$gray-600: #6F7B9C !default;
$gray-700: #48557B !default;
$gray-800: #2E3B61 !default;
$gray-900: #152248 !default;
$black: #000329 !default;
//
// Colors
//
$primary: #217DC0 !default;
$secondary: $gray-600 !default;
$success: #28A745 !default;
$info: #5A67D8 !default;
$warning: #FD7E14 !default;
$danger: #DC3545 !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;
//
// Options
//
$enable-shadows: true !default;
$body-bg: $gray-200 !default;
$body-color: $gray-800 !default;
//
// Typography
//
$text-muted: $gray-500 !default;
//
// Fonts
//
$font-size-base: 0.8125rem !default;
//
// Tables
//
$table-cell-padding: .45rem !default;
$table-cell-padding-sm: .1rem !default;
$table-head-bg: $gray-300 !default;
$table-accent-bg: $gray-200 !default;
$table-border-color: $gray-300 !default;
//
// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.
$input-btn-padding-y: .5rem !default;
$input-btn-padding-x: .75rem !default;
$input-spacer: 6px !default;
//
// Buttons
//
$btn-spacer: 10px !default;
$btn-border-bottom-width: 2px !default;
$btn-hover-border-bottom-width: 1px !default;
$btn-active-box-shadow: none !default;
//
// Forms
//
$input-disabled-bg: $gray-300 !default;
$input-height-border: 3px !default;
$form-fields-padding-y: 20px !default;
$form-fields-padding-x: 20px !default;
$form-nav-link-padding-y: .52rem !default;
$form-nav-link-padding-x: 1.2rem !default;
$custom-control-indicator-border-color: $gray-300 !default;
//
// Page
//
$page-padding-x: 20px !default;
$page-padding-y: 30px !default;
$page-top: 64px !default;
$page-top-line-height: 48px !default;
$page-bottom: 0 !default;
$page-margin-left: 230px !default;
$logo-font-size: 3rem !default;
$logo-line-height: 32px !default;
//
// Main menu
//
$mainmenu-font-size: 24px !default;
$mainmenu-icon-size: 16px !default;
$mainmenu-dropdown-width: 300px !default;
$mainmenu-menu-max-height: 70vh !default;
$mainmenu-padding-x: 0.5rem !default;
$mainmenu-padding-y: 1rem !default;
//
// Side nav
//
$sidenav-bg: $gray-900 !default;
$sidenav-font-size: 15px !default;
$sidenav-submenu-font-size: $font-size-base !default;
$sidenav-font-weight: 400 !default;
$sidenav-line-height: 50px !default;
$sidenav-line-height-sm: 42px !default;
$sidenav-padding-x: 0 !default;
$sidenav-padding-y: 1rem !default;
$dropdown-item-padding-y: 0.5rem !default;