$white: #FFFFFF !default;
$gray-100: #F8FAFC !default;
$gray-200: #E2E8F0 !default;
$gray-300: #CBD5E1 !default;
$gray-400: #94A3B8 !default;
$gray-500: #94A3B8 !default;
$gray-600: #64748B !default;
$gray-700: #475569 !default;
$gray-800: #334155 !default;
$gray-900: #1E293B !default;
$black: #0F172A !default;
//
// Colors
//
$primary: #2170C0 !default;
$secondary: $gray-600 !default;
$success: #047857 !default;
$info: #4338CA !default;
$warning: #F59E0B !default;
$danger: #DC2626 !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;
//
// Options
//
$images-path: '../../../admin/assets/images/';
$enable-shadows: true !default;
$body-bg: $gray-200 !default;
$body-color: $gray-800 !default;
//
// Typography
//
$text-muted: $gray-600 !default;
//
// Fonts
//
$font-family-sans-serif: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-size-base: 1rem !default;
//
// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.
$input-btn-padding-y: .5rem !default;
$input-btn-padding-x: .75rem !default;
$input-spacer: 6px !default;
//$input-font-size: 0.9375rem !default;
//
// Buttons
//
$btn-spacer: 10px !default;
$btn-border-bottom-width: 2px !default;
$btn-hover-border-bottom-width: 1px !default;
$btn-active-box-shadow: none !default;
//
// Forms
//
$input-disabled-bg: $gray-300 !default;
$input-height-border: 3px !default;
$form-fields-padding-y: 20px !default;
$form-fields-padding-x: 20px !default;
$form-nav-link-padding-y: .52rem !default;
$form-nav-link-padding-x: 1.2rem !default;
$custom-control-indicator-border-color: $gray-300 !default;
$custom-control-indicator-disabled-bg: $gray-400 !default;
//
// Page
//
$page-padding-x: 20px !default;
$page-padding-y: 30px !default;
$page-top: 64px !default;
$page-top-line-height: 48px !default;
$page-bottom: 0 !default;
$page-margin-left: 256px !default;
$logo-font-size: 3rem !default;
$logo-line-height: 32px !default;
//
// Main menu
//
$mainmenu-font-size: 24px !default;
$mainmenu-icon-size: 16px !default;
$mainmenu-dropdown-width: 300px !default;
$mainmenu-menu-max-height: 70vh !default;
$mainmenu-padding-x: 0.5rem !default;
$mainmenu-padding-y: 1rem !default;
//
// Side nav
//
$nav-link-color: $gray-700;
$sidenav-submenu-font-size: .875rem !default;
$sidenav-font-weight: 500 !default;
$sidenav-line-height: 50px !default;
$sidenav-line-height-sm: 42px !default;
$sidenav-padding-x: 0 !default;
$sidenav-padding-y: 1rem !default;
$dropdown-item-padding-y: 0.5rem !default;
