$admin-page-bg: #12224C !default;

$font-size-base: 0.8125rem !default;

$page-padding-x: 15px !default;
$page-padding-y: 15px !default;
$page-top: 62px !default;
$page-top-line-height: 48px !default;
$page-bottom: 0 !default;
$page-margin-left: 230px !default;

$login-page-bg: $admin-page-bg !default;

$form-fields-padding-y: 15px !default;
$form-fields-padding-x: 20px !default;

$form-nav-link-padding-y: .7rem !default;
$form-nav-link-padding-x: 1.2rem !default;

$logo-font-size: 3rem !default;
$logo-font-color: $admin-page-bg !default;
$logo-line-height: 32px !default;

$mainmenu-font-size: 24px !default;
$mainmenu-icon-size: 16px !default;
$mainmenu-dropdown-width: 300px !default;
$mainmenu-menu-max-height: 70vh !default;
$mainmenu-padding-x: 0.5rem !default;
$mainmenu-padding-y: 1rem !default;

$sidenav-bg: $admin-page-bg !default;
$sidenav-bg-light: lighten($sidenav-bg, 2%) !default;
$sidenav-bg-dark: darken($sidenav-bg, 3%) !default;

$sidenav-font-size: 15px !default;
$sidenav-submenu-font-size: $font-size-base !default;
$sidenav-font-weight: 400 !default;
$sidenav-line-height: 50px !default;
$sidenav-line-height-sm: 42px !default;
$sidenav-padding-x: 0 !default;
$sidenav-padding-y: 1rem !default;

$dropdown-item-padding-y: 0.5rem !default;
