$admin-page-bg: #12224C;

$page-padding-x: 0;
$page-padding-y: 15px;
$page-top: 62px;
$page-top-line-height: 48px;
$page-bottom: 0;
$page-margin-left: 230px;

$login-page-bg: $admin-page-bg;

$form-fields-padding-y: 15px;
$form-fields-padding-x: 20px;

$form-nav-link-padding-y: .7rem;
$form-nav-link-padding-x: 1.2rem;

$logo-font-size: 3rem;
$logo-font-color: $admin-page-bg;
$logo-line-height: 32px;

$mainmenu-font-size: 24px;
$mainmenu-icon-size: 16px;
$mainmenu-dropdown-width: 300px;
$mainmenu-menu-max-height: 225px;
$mainmenu-padding-x: 0.5rem;
$mainmenu-padding-y: 1rem;

$sidenav-bg: $admin-page-bg;
$sidenav-bg-light: lighten($sidenav-bg, 2%);
$sidenav-bg-dark: darken($sidenav-bg, 3%);

$sidenav-font-size-sm: 1.066rem;
$sidenav-font-size: 1.1rem;

$sidenav-line-height: 48px;
$sidenav-line-height-sm: 38px;
$sidenav-padding-x: 0;
$sidenav-padding-y: 1rem;