.btn {
  border-bottom-width: $btn-border-bottom-width;
  cursor: pointer;
}
.btn-edit {
  color: $primary;
  background-color: transparent;
}
.list-action .btn,
.btn-action {
  border: 0;
  padding: $btn-action-padding;
}
.btn-light {
  background-color: $light;
  border-color: $gray-300;

  &:hover {
    background-color: $gray-200;
    border-color: $gray-400;
  }
}
.btn-secondary, .btn-default {
  &:hover {
    color: $white;
  }
}
.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
  background-color: $gray-400;
  border-color: $gray-400;
}
