.card-counter {
    text-align: right;
    padding: 10px;
    transition: .3s linear all;
}
.card-counter .stat-icon {
    font-size: 2.9em;
    opacity: 0.7;
    position: absolute;
    left: 20px;
    border-radius: 15px 60px 60px 15px;
    padding: 15px 25px 15px 15px;
}
.card-counter .stat-number {
    font-size: 28px;
    display: block;
    line-height: 45px;
}
.card-counter .stat-text {
    font-style: italic;
    opacity: 0.5;
    display: block;
}