/*

TastyIgniter Orange Store-front theme

*/
@import "fonts.css";

/*** Basic ***/

body {
font-family:'Oxygen',Arial,sans-serif;
}
.content-area {
padding-bottom: 40px;
}


/*** WRAPPER ***/
.wrap-vertical {
padding-left: 15px !important;
padding-right: 15px !important;
}
.wrap-horizontal {
padding-top: 15px !important;
padding-bottom: 15px !important;
}
.wrap-all {
padding: 15px !important;
}
.wrap-none {
padding: 0 !important;
}
.wrap-top {
padding-top: 15px !important;
}
.wrap-bottom {
padding-bottom: 15px !important;
}
.wrap-left {
padding-left: 15px !important;
}
.wrap-right {
padding-right: 15px !important;
}
.border-all {
border-right: 1px solid #EEE !important;
border-left: 1px solid #EEE !important;
}
.border-left {
border-left: 1px solid #EEE !important;
}
.border-right {
border-right: 1px solid #EEE !important;
}
.border-top {
border-top: 1px solid #EEE !important;
}
.border-bottom {
border-bottom: 1px solid #EEE !important;
}
.top-spacing {
padding-top: 40px !important;
}
.bottom-spacing {
padding-bottom: 40px !important;
}
.top-spacing-20 {
padding-top: 20px !important;
}
.bottom-spacing-20 {
padding-bottom: 20px !important;
}
.top-spacing-10 {
padding-top: 10px !important;
}
.bottom-spacing-10 {
padding-bottom: 10px !important;
}




/*** Helpers ***/
/*a {
color: #ed561a;
}
a:hover, a:focus {
color: #dc4b11;
}*/
.center-block {
float: none;
}
.page-spacing {
padding: 20px 0;
text-align: center;
}
h3, .h3 {
font-weight: bold;
}
.text-xl {
font-size:24px;
}
.text-lg {
font-size:22px;
}
.text-md {
font-size:18px;
}
.text-sm {
font-size:14px;
}
.text-xs {
font-size:12px;
}
/*** End Helpers ***/






/*** Top Header ***/
#top-header {
background-color: #ed681a;
padding: 6px 0;
}
#top-header ul {
list-style: outside none none;
margin: 0;
padding: 0;
}
#top-header .social-icons li {
display: inline-block;
}
#top-header a {
color: #ffffff;
text-decoration: none;
}
@media(max-width:568px) {
  #top-header #social-widget-2 {
    margin-bottom: 6px;
  }
  #top-header #social-widget-2 {
    text-align: center;
  }
}
/*** End Top Header ***/




/*** Main Header ***/
#main-header {
background-color: #ed561a;
}
#main-header .logo {
padding: 10px 0;
}
#main-header .navbar-toggle {
right: 0;
position: absolute;
top: 22px;
margin-bottom: 0;
margin-top: 0;
}
#main-header .navbar-toggle:hover,
#main-header .navbar-toggle:focus {
color:#ed561a;
}
#main-header .btn-navbar.navbar-toggle i:before {
content: "\f0c9";
font-size: 18px;
}
#main-header .navbar-nav {
margin: 0;
}
#main-header .navbar-collapse {
padding:0;
}
#main-header .navbar-nav > li > a {
padding: 10px 15px;
color:#FFF;
}
#main-header .navbar-nav > li > a:hover,
#main-header .navbar-nav > li > a:focus {
background-color:rgba(0,0,0,0.05);
color: #FFF;
}
#main-header .navbar-nav > li.open > a,
#main-header .navbar-nav > li.open > a:hover,
#main-header .navbar-nav > li.open > a:focus {
background-color: rgba(0,0,0,0.05);
}
#main-header .dropdown-menu {
background-color: #ed561a;
top: 97%;
}
#main-header .dropdown-header {
color: #444;
}
#main-header .dropdown-menu > li > a {
color: #fff;
font-size: 12px;
}
#main-header .dropdown-menu > li > a:focus,
#main-header .dropdown-menu > li > a:hover {
background-color: rgba(0,0,0,0.1);
}
@media(min-width:768px) {
  #main-header .navbar-nav > li > a {
  padding: 20px 15px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  }
}
@media(max-width:568px) {
  #main-header .navbar-collapse {
    background: none repeat scroll 0 0 #484848;
    margin: 0 -15px;
  }
  #main-header .navbar-nav > li.open > a,
  #main-header .navbar-nav > li.open > a:hover,
  #main-header .navbar-nav > li.open > a:focus {
    background-color: #484848;
  }
  #main-header .dropdown-menu > li > a {
    color: #FFF;
  }
  #main-header .dropdown-menu > li > a:hover,
  #main-header .dropdown-menu > li > a:focus {
    background-color: #484848;
    color: #ed561a;
  }

}
/*** End Main Header ***/




/*** Heading ***/
#heading {
background-color: #f5f5f5;
background-image: url("../images/heading-background.png");
background-position: -200px -435px;
height: 140px;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
min-height: 20px;
}
#heading h2 {
font-size: 36px;
font-weight: 700;
text-transform: uppercase;
}
#heading span {
text-transform: uppercase;
}
.heading-content {
text-align: center;
margin-top: 35px;
}
.heading-section {
padding: 40px 0;
text-align: center;
}
.heading-section h2 {
color: #333;
font-family: "Oxygen",sans-serif;
font-size: 20px;
font-weight: 700;
text-transform: uppercase;
}
.under-heading {
background:url("../images/under-heading.png") no-repeat scroll center center rgba(0, 0, 0, 0);
width: 100%;
height: 50px;
display: block;
}

/*** End Heading ***/


/*** Breadcrumbs ***/
.breadcrumb {
background-color: transparent;
margin-bottom: 0px;
}
.breadcrumb a, .breadcrumb a:hover, .breadcrumb a:focus {
color: #585858;
}
/*** End Breadcrumbs ***/


/*** Alerts ***/
#notification .alert {
padding: 0;
margin-top: 20px;
border-radius: 0;
}
#notification .alert-danger,
#notification .alert-info,
#notification .alert-success,
#notification .alert-warning {
margin-bottom: 0;
padding: 15px;
}
#notification .alert-dismissable .close {
right: 10px;
top: 10px;
}

.list-group-alert {
list-style: outside none none;
padding: 0;
}
#reservation-alert .alert {
padding: 0;
position: relative;
}
#reservation-alert .alert > p {
padding: 15px;
}
#reservation-alert button.close {
position: absolute;
right: 5px;
}
.list-group-alert .alert-hide {
font-size: 12px;
font-style: italic;
margin-top: 5px;
}
.alert-collapsible .btn-dropdown {
color: inherit;
position: relative;
left: -7px;
top: 2px;
}
button.btn-dropdown {
background: none repeat scroll 0 0 transparent;
border: 0 none;
cursor: pointer;
padding: 0;
}
.btn-dropdown {
float: left;
}
.btn-dropdown i {
color: inherit;
font-size: 12px;
font-weight: bold;
line-height: 1;
opacity: 0.5;
text-shadow: 0 1px 0 #fff;
}

/*** End Alerts ***/





/*** Buttons ***/
.btn {
border-radius: 0;
}
.btn-cart {
border: 2px solid;
}
.btn-group {
width: 100%;
}
.btn-default {
background-color: #e7e7e7;
border-color: #e7e7e7;
font-weight: 300;
}
.btn-default.active,
.btn-default.focus,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.open > .dropdown-toggle.btn-default {
background-color: #DDD;
border-color: #DDD;
}
.btn-primary {
background-color: #11a2dc;
border-color: #11a2dc;
}
.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open > .dropdown-toggle.btn-primary {
background-color: #0f91c4;
border-color: #0f91c4;
}
.btn-link {
color: #11a2dc;
}
.btn-link.active,
.btn-link.focus,
.btn-link:active,
.btn-link:focus,
.btn-link:hover,
.open > .dropdown-toggle.btn-link {
color: #0f91c4;
}
.clickable {
cursor: pointer;
}
/*** End Buttons ***/

.label-primary {
background-color: #11a2dc;
}
.text-primary {
color: #11a2dc;
}


/*** Forms ***/
.form-control {
border-radius:0;
border: 1px solid #e2e2e2;
color: #686868;
box-shadow: none;
font-size: 13px;
font-style: italic;
font-weight: 300;
}
input.form-control {
height: 38px;
}
.form-control:focus {
border-color: #ed561a;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(237, 86, 26, 0.6);
}
.input-group-addon {
border-radius: 0;
}
.input-group .button-checkbox {
padding: 0;
border: 0 none;
}
label {
color: #686868;
}
/*** End Forms ***/





/*** Groups ***/
a.list-group-item {
transition: all 300ms linear 0ms;
}
a.list-group-item:hover, a.list-group-item:focus {
background-color: transparent;
color:#ed561a;
padding-left:15px;
}
a.list-group-item-danger:hover, a.list-group-item-danger:focus {
background-color: #ebcccc;
color: #a94442;
}
a.list-group-item.active > .badge, .nav-pills > .active > a > .badge {
background-color: #ed561a;
color: #fff;
}
a.list-group-item.unread {
font-weight: bold;
}
.dl-group > dd {
margin-bottom: 10px;
}
/*** End Groups ***/




/*** Tables ***/
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
border-top: 0 solid #eee;
border-bottom: 1px solid #eee;
}
.table > tbody > tr > td {
font-size: 85%;
padding: 10px 8px;
}

/*** End Tables ***/





/*** Nav Tabs ***/
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
background-color: #0f91c4;
color: #fff;
}
.nav-tabs.nav-tabs-line {
border: medium none;
margin: 0;
}
.nav-tabs.nav-tabs-line > li > a {
border: 0 none;
color: #737373;
margin-right: 0;
}
.nav-tabs.nav-tabs-line > li.active > a {
border: 0 none;
color: #333333;
}
.nav-tabs-line > li.active,
.nav-tabs-line > li.active:hover,
.nav-tabs-line > li.active:focus {
border-bottom: 4px solid #ed561a;
position: relative;
}
.nav-tabs.nav-tabs-line > li.active > a:hover,
.nav-tabs.nav-tabs-line > li.active > a:focus {
border: 0 none;
color: #333333;
outline: 0 none;
}
.nav-tabs-line > li.open > a,
.nav-tabs-line > li:hover > a,
.nav-tabs-line > li:focus > a {
background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
border: 0 none;
color: #333333;
}
.nav-tabs-line > li.open a,
.nav-tabs-line > li:hover,
.nav-tabs-line > li:focus {
border-bottom: 4px solid #F8BEA7;
}
.tab-content-line {
border-top: 1px solid #eee;
margin-top: -3px;
padding: 15px 0;
}
/*** End Nav Tabs ***/





/*** Misc ***/
.pagination {
margin: 10px 0;
}
.pagination > li > a, .pagination > li > span {
border-radius: 0 !important;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
background-color: #ed561a;
border-color: #ed561a;
}

.pagination > li > a, .pagination > li > span {
border: 1px solid #ed561a;
color: #ed561a;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
border-color: #ed561a;
color: #ed561a;
}
.pagination-bar .info {
font-size: 12px;
}

.img-thumbnail {
border: 0 solid #ddd;
border-radius: 0;
padding: 0;
}

.text-muted {
color: #888;
}

/*** End Misc ***/



/*** Contact Us ***/
/*** End Contact Us***/



/*** Side Bar ***/
.side-bar .panel {
border: 0 none;
box-shadow: none;
}

.side-bar .panel-default > .panel-heading {
background-color: transparent;
border-radius: 0;
border-bottom: 1px solid #eee;
padding: 15px;
}
.side-bar .panel-title {
font-weight: bold;
text-transform: capitalize;
font-size: 20px;
}
.side-bar .list-group-item {
border-color: #eee;
padding: 6px;
}
.side-bar a.list-group-item.active {
background-color: transparent;
border-color: #eee;
color: #ed561a;
padding-left: 15px;
}
.side-bar .list-group-item.filter {
cursor: pointer;
}

/*** End Side Bar ***/




/*** Slider ***/
#slider {
overflow: hidden;
}

#slider .flexslider {
background: none repeat scroll 0 0 transparent;
border: 0 none;
border-radius: 0;
box-shadow: none;
position: relative;
margin: 0;
}

#slider .slider-caption {
text-align: center;
position: absolute;
width: 100%;
margin-top: 160px;
color: #fff;
font-family: 'Oxygen', sans-serif;
}

#slider .slider-caption h1 {
text-shadow: 1px 1px #777;
font-size: 48px;
padding-bottom: 10px;
font-weight: 600;
color: #ed561a;
text-transform: uppercase;
}

#slider .slider-caption p {
font-size: 18px;
font-weight: 300;
color: #fff;
line-height: 15px;
}

#slider .slider-caption a {
margin-top: 20px;
text-decoration: none;
display: inline-block;
background-color: #ed561a;
width: 200px;
height: 40px;
text-align: center;
color: #fff;
line-height: 40px;
text-transform: uppercase;
font-size: 18px;
font-weight: 600;
}
#slider .flex-direction-nav a  {
text-align: center;
display: block;
border: 1px solid #fff;
width: 40px;
height: 40px;
line-height: 40px;
color: #fff;
margin: -20px 0 0;
position: absolute;
top: 50%;
z-index: 10;
overflow: hidden;
opacity: 0;
cursor: pointer;
-webkit-transition: all .3s ease;
-moz-transition: all .3s ease;
transition: all .3s ease;
}
#slider .flex-direction-nav a:before  {
font-family: 'FontAwesome';
font-size: 32px;
display: inline-block;
content: '\f104';
}
#slider .flex-direction-nav a.flex-next:before  {
content: '\f105';
}
#slider .flexslider:hover .flex-prev {
opacity: 1;
left: 50px;
}
#slider .flexslider:hover .flex-next {
opacity: 1;
right: 50px;
text-align: center;
}
#slider .flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
opacity: 1;
}
#slider .flex-direction-nav .flex-disabled {
opacity: 0!important;
filter:alpha(opacity=0);
cursor: default;
}
#slider .flex-control-paging li a {
background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
border-radius: 20px;
box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) inset;
cursor: pointer;
display: none;
height: 11px;
text-indent: -9999px;
width: 11px;
}
@media screen and (max-width: 990px) {
  #slider .slider-caption {
    display: none;
  }
}

@media screen and (min-width: 990px) {
  #slider .flexslider .slides img {
    /*height: 600px;*/
  }
}

@media screen and (max-width: 860px) {
  #slider .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  #slider .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}
/*** End Slider ***/



/*** Features ***/

.step-item {
text-align: center;
}

.step-item .icon i {
border-radius: 50%;
border: 12px solid #ed561a;
color: #ed561a;
font-size: 28px;
line-height: 100px;
width: 120px;
height: 120px;
}

.step-item h4 {
font-family: 'Open Sans', sans-serif;
font-size: 16px;
font-weight: 700;
color: #333;
text-transform: uppercase;
margin-top: 25px;
}

/*** End Features ***/




/*** Menu Specials ***/
.menu-special {
color: #ed561a;
font-size: 12px;
margin-top: 5px;
}
.menu-special {
position: relative;
margin-bottom: 30px;
overflow: hidden;
}

.menu-special .menu-thumb {
  overflow: hidden;
  position: relative;
}

.menu-special .menu-thumb img {
  width: 100%;
}

.menu-special .menu-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  padding: 15px;
}

.menu-special .content-show a {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.menu-special .content-show span {
  color: #ed561a;
}

.menu-special .content-hide {
  margin-top: 15px;
  display: none;
}

.menu-special .content-hide p {
  color: #fff;
}
.menu-special .menu-content:hover .content-hide {
display: block;
}

/*** End Menu Specials ***/




/*** Menus ***/
.menus-page .btn-menus {
display:none;
}
.menu-items {
margin-bottom: 40px;
width: 100%;
}
.menu-items > div {
float: left;
width: 100%;
}
.menu-category > h3 {
font-size: 20px;
font-style: normal;
font-weight: bold;
margin: 0;
padding-bottom: 10px;
}
.menu-items p {
font-size: 13px;
}
.menu-item {
border-top: 1px solid #eee;
width: 100%;
padding-bottom: 15px;
}
.menu-name {
display: block;
font-size: 16px;
color:#444;
overflow: hidden;
text-overflow: ellipsis;
text-transform: uppercase;
white-space: nowrap;
}
.menu-desc {
font-size: 12px;
line-height: 14px;
}
.menu-price {
font-size: 16px;
vertical-align: middle;
}
.menu-button {
margin-top: 10px;
margin-left: 15px;
}
.menu-item .menu-thumb,
.menu-item .menu-content,
.menu-item .menu-right {
}
.menu-thumb {
float: left;
}
.menu-item .menu-content {
float: left;
margin-left: 20px;
width: 48%;
}
.menu-right {
float: right;
text-align: right;
width: 26%;
line-height: 32px;
}
.menu-button .btn-cart {
border: 0 none;
border-radius: 0;
color:#FFF;
padding: 0 5px;
}
/*** End Menus ***/




/*** MixItUp ***/
#Container {
text-align: justify;
font-size: 0.1px;

-webkit-transform: translateZ(0);
-webkit-backface-visibility: hidden;
}
#Container:after{
content: '';
display: inline-block;
width: 100%;
}
.mix,
.gap {
display: inline-block;
overflow: hidden;
}
.mix {
display: none;
}
.mix .menu-item:after {
content: attr(data-myorder);
color: white;
font-size: 16px;
display: inline-block;
vertical-align: top;
font-weight: 700;
}

.mix .menu-item:before{
content: '';
display: inline-block;
padding-top: 15px;
}
/*** End MixItUp ***/




/*** Add to Cart State ***/
.btn-cart.loading .fa:before {
content: "\f110";
animation: 2s linear 0s normal none infinite running fa-spin;
}
.btn-cart.added .fa:before {
content: "\f00c";
}
.btn-cart.failed .fa:before {
content: "\f12a";
}
.btn-cart.added {
background-color: #5cb85c;
}
.btn-cart.failed {
background-color: #d9534f;
}
.btn-cart.added:hover,
.btn-cart.added:focus {
background-color: #47a447;
}
.btn-cart.failed:hover,
.btn-cart.failed:focus {
background-color: #d2322d;
}
.menu-button .btn-cart.added:hover .btn-cart-text,
.menu-button .btn-cart.failed:hover .btn-cart-text {
text-indent: -40px;
width: 0;
}
/*** End Add to Cart State ***/

.location-list .panel-local {
border-bottom: 1px solid #eee;
}
.location-list .panel-local h4 {
font-size: 16px;
margin: 0 0 5px;
}
.location-list .panel-local .box-one dl {
font-size: 12px;
margin-left: 90px;
margin-bottom: 0;
}
.location-list .panel-local .text-close,
.location-list .panel-local .text-open {
font-size: 14px;
}


/***  Reviews Quote  ***/
.review-item .review-text:before {
content: "\f10d";
font-family: 'Fontawesome';
float: left;
margin-right: 10px;
}
.review-item .review-text {
font-size: 16px;
font-weight: 300;
color:#444;
}
.panel-local .rating {
margin-bottom: 5px;
}
.rating .fa {
color: #ff9900;
}
.rating-row {
font-size: 12px;
padding: 0 40px;
}
.rating-row b {
font-size: 12px;
font-weight: 400;
}
.rating-row > div {
padding: 0;
width: 10%;
}
.review-item small {
font-size: 70%;
margin-top: 30px;
}
/*** End Reviews ***/


/***  Footer  ***/

footer {
background-color: #f3f3f3;
border-top: 4px solid #ed561a;
}
.main-footer, .bottom-footer {
color: #888;
}
.social-bottom {
margin-top: 20px;
padding-bottom: 20px;
}
.social-bottom .social-icons {
margin: 0;
padding: 0;
}
.social-bottom li {
list-style: none;
display: inline-block;
}
.social-bottom span {
float: none !important;
display: block;
}
.social-bottom a {
background-color: #FFF;
font-size: 18px;
width: 36px;
height: 36px;
line-height: 36px;
text-align: center;
color: #BBB;
text-decoration: none;
cursor: pointer;
}
.social-bottom a:hover, .social-bottom a:focus {
background-color: #ed561a;
color: #FFF;
}
.subscribe-form {
margin-top: 48px;
padding-bottom: 20px;
}
.subscribe-form span, .social-bottom span {
font-size: 20px;
color: #484848;
text-transform: uppercase;
float: left;
margin-right: 26px;
line-height: 2.1;
}
.subscribeForm {
position: relative;
display: inline-block;
}
.subscribe-form .input-group-addon {
padding: 15px 20px;
}
.subscribe-form input.form-control {
padding: 4px 10px 4px 10px;
line-height: 34px;
height: 46px;
max-width: 280px;
width: 280px;
margin-top: 0px;
outline: 0;
border-color: #F3F3F3;
}
.footer-title {
font-family: 'Oxygen', sans-serif;
font-size: 16px;
font-weight: 700;
color: #333;
text-transform: uppercase;
padding-bottom: 20px;
}
.footer-links {
text-align: center;
}
.footer-links ul {
margin: 0;
padding: 0;
}
.footer-links li {
list-style: none;
margin: 10px 0;
}
.main-footer .footer-links i {
font-size: 16px;
margin-right: 5px;
color: #ed561a;
}
.footer-links a {
text-transform: uppercase;
color: #888;
font-size: 13px;
}
.footer-links a:hover {
color: #ed561a;
}
.bottom-footer {
text-align: left;
padding: 10px 0 0;
border-top: 1px solid #ddd;
}
.bottom-footer .footer-links li {
display: inline-block;
}
.bottom-footer .footer-links li::after {
content: "·";
margin: 0 10px;
}
.bottom-footer .footer-links li:last-child::after {
content: "";
margin: 0px;
}
.bottom-footer .footer-links a {
text-transform: none;
}
.main-footer .contact-info p {
padding-bottom: 20px;
}
.contact-info ul {
margin: 0;
padding: 0;
}
.contact-info li {
list-style: none;
margin: 10px 0;
font-family: 'Oxygen', sans-serif;
font-size: 13px;
color: #666;
}
.contact-info i {
color: #ed561a;
margin-right: 10px;
font-size: 18px;
}
/*** End Footer ***/





/*** Modal ***/
.modal-header {
background-color: #ed561a;
border-top-right-radius: 4px;
border-top-left-radius: 4px;
color: #fff;
}
.modal-header .close {
font-size: 32px;
}

/*** End Modal ***/




/*** Select 2 ***/
.form-control.select2-container {
width: 100%;
}
.select2-container .select2-choice {
height: 36px;
line-height: 36px;
background-image:none;
}
.select2-container.input-sm .select2-choice {
height: 28px;
line-height: 28px;
}
.select2-drop.select2-drop-above {
border-radius: 0;
margin-top: -2px;
}
.select2-drop {
border-radius: 0;
margin-top: -1px;
}
.select2-search {
padding:0;
}
.select2-search input {
border-color: #d2dce7;
border-left: 0 none;
border-right: 0 none;
}
.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
box-shadow: none;
}
.form-control.select2-container-active {
border-color: #ed561a !important;
}
.select2-drop-active {
border-color: #ed561a !important;
}
.form-control .select2-choice .select2-arrow {
border-radius: 0;
}
.form-control .select2-choice {
border-radius: 0;
}
.form-control.select2-container.select2-dropdown-open {
border-radius: 0;
}
.select2-dropdown-open .select2-choice {
background-color: #fff;
}
.select2-container .select2-choice .select2-arrow {
background: transparent;
border-left: 1px solid #d2dce7;
width: 25px;
text-align: center;
}
.select2-container .select2-choice abbr,
.select2-container .select2-choice .select2-arrow b {
background-image: none !important;
}
.select2-container .select2-choice .select2-arrow b {
display: inline-block;
font-family: FontAwesome;
font-size: 14px;
text-rendering: auto;
color:#686868;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.select2-container .select2-choice .select2-arrow b:before {
content:"\f0d7";
}
.select2-dropdown-open .select2-choice .select2-arrow b:before {
content:"\f0d8";
}
.select2-results .select2-highlighted {
background: none repeat scroll 0 0 #ed561a;
}
.select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices {
background-image: none;
border: 0 none;
}
.select2-drop.select2-drop-above .select2-search input {
margin-top: 0;
}


/*** End Select 2 ***/



/** PROFILER **/
#codeigniter_profiler {
background-color:#FCFCFC !important;
padding: 10px 20px !important;
}
#codeigniter_profiler fieldset {
background-color:#ffd9d9 !important;
margin-bottom: 15px;
overflow-x: scroll;
overflow-y: hidden;
width: 100%;
}
#codeigniter_profiler legend {
border:0 none;
width: auto !important;
margin-bottom: 4px;
}
#codeigniter_profiler td {
background-color: #ffd9d9 !important;
border-bottom: 2px solid #FCFCFC;
}
#codeigniter_profiler td:first-child {
border-right: 2px solid #FCFCFC;
}
#codeigniter_profiler #ci_profiler_http_headers td:first-child,
#codeigniter_profiler #ci_profiler_benchmarks td:first-child {
width: 10% !important;
}
#codeigniter_profiler code {
display: inline-block;
width: 100%;
word-wrap: break-word;
}
#codeigniter_profiler #ci_profiler_post td:first-child {
width: 30% !important;
}
#codeigniter_profiler #ci_profiler_post td:last-child {
width: 70% !important;
}
@media(min-width:768px) {
  #codeigniter_profiler {
  border-top: 1px solid #E7E7E7;
  border-left: 1px solid #E7E7E7;
  }
}







/*** RESPONSIVE ***/

@media screen and (max-width: 990px) {
  .step-item {
    margin-top: 40px;
  }

  .footer-title {
    margin-top: 60px;
  }

  .bottom-footer {
    text-align: center;
  }

  .menu-button .btn-cart-text, .menu-button .btn-review-text {
    display: none;
  }
}

@media screen and (max-width: 568px) {
  .step-item {
    margin-top: 40px;
  }

  .footer-title {
    margin-top: 60px;
  }

  .bottom-footer {
    text-align: center;
  }

  #heading-section img {
    display: none;
  }

  .menu-item .menu-desc {
    display: none;
  }

  .menu-button .btn-cart-text, .menu-button .btn-review-text {
    display: none;
  }
}

@media screen and (max-width: 1000px) {

  .slider-caption {
    display: none;
  }
}

@media screen and (max-width: 600px) {

  .heading-section img {
    display: none;
  }

  .menu-item .menu-desc {
    display: none;
  }

  .menu-button .btn-cart-text, .menu-button .btn-review-text {
    display: none;
  }

  body {
    overflow-x: hidden;
  }
}

@media screen and (min-width: 995px) {

  .hover-iner span {
  margin-top: 160px;
  }

  body {
    overflow-x: hidden;
  }

}
