.btn {
  border-bottom-width: $btn-border-bottom-width;
  cursor: pointer;
}
.btn-edit {
  color: $primary;
  background-color: transparent;
}
.btn-action {
  border: 0;
  padding: $btn-action-padding;
}
@each $color, $value in $theme-colors {
  .btn-#{$color} {
    &:not([href]) {
      color: color-yiq($value);
      @include hover-focus {
        color: color-yiq(darken($value, 7.5%));
      }

      &.disabled,
      &:disabled {
        color: color-yiq($value);
      }
    }
  }
  .btn-outline-#{$color} {
    &:not([href]) {
      color: $value;

      &:hover {
        color: color-yiq($value);
      }

      &.disabled,
      &:disabled {
        color: $value;
      }
    }
  }
}