// Widget
//
.form-widget {
  > div:not(:first-child) {
    margin-top: 25px;
  }
}
.form-fields {
  background-color: $gray-200;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: $form-fields-padding-y $form-fields-padding-x;
}
.hidden-field {
  margin: 0;
}
// Form groups
//
.form-group {
  &.span-full {
    clear: both;
    width: 100%;
  }

  &.span-left {
    float: left;
    padding-right: 10px;
  }

  &.span-right {
    float: right;
    padding-left: 10px;
  }

  &.span-left,
  &.span-right {
    width: 50%;

    &.flex-width {
      width: 25%;
    }
  }

  &.flex-width {
    width: auto;
  }

  &.flex-width .row > div {
    width: 100%;
  }
}
@include media-breakpoint-down(sm) {
  .form-group {
    &.span-left {
      padding-right: 0;
    }

    &.span-right {
      padding-left: 0;
    }

    &.span-left,
    &.span-right {
      width: 100%;

      &.flex-width {
        width: 100%;
      }
    }
  }
}
// Tabs
//
.form-nav {
  padding-left: 20px;
  padding-right: 20px;

  &.nav-tabs {
    border-bottom: 0 none;

    .nav-link {
      border: 0 none;
      color: $body-color;
      padding: $form-nav-link-padding-y $form-nav-link-padding-x;
    }

    .nav-link:hover,
    .nav-link:focus {
      border-color: transparent;
    }

    .nav-link.active {
      background-color: $gray-200;
      font-weight: $font-weight-base;
    }
  }
}
@include media-breakpoint-down(sm) {
  .form-widget .tab-heading {
    width: 100%;
    overflow-x: auto;
    display: block;
  }

  .form-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 100%;

    &.nav-tabs {
      .nav-link {
        white-space: nowrap
      }
    }
  }
}
// Checkbox list
.field-checkboxlist {
  .custom-control-label::before,
  .custom-control-label::after {
    top: .7rem;
  }

  label {
    padding-left: 10px;
  }
}
// Field Section
.field-section {
  .section-title {
    color: $text-muted;
    margin-top: 15px;
    margin-bottom: 0;
  }
}
// Control label
.control-label {
  color: $gray-800;
}