.page-wrapper {
  padding: $page-padding-x $page-padding-y $page-padding-y;
  overflow-y: auto;
  position: absolute;
  top: $page-top;
  bottom: $page-bottom;
  left: $page-margin-left;
  right: 0;

  > .content {
    margin: 0;
  }
}
@include media-breakpoint-down(sm) {
  .page-wrapper {
    left: 0;
  }
}
body.dragging, body.dragging {
  cursor: move !important;

  .dragged {
    position: absolute;
    top: 0;
    opacity: .5;
    z-index: 2000;
  }
}