.panel-search {
  margin-bottom: 0;
  border-top: 1px solid $gray-300;
}
.panel-carte {
  margin-bottom: 0;
}
.panel-items {
  background-color: transparent !important;

  .panel-heading {
    border-radius: 0;
  }

  .panel-item .media-body {
    //min-height: 75px;
    margin: 0 15px;
  }
}
.items-list .panel-item {
  background-color: $gray-200;
  border: 1px solid $gray-300;
}
.item-extension .media {
  margin: 15px;
}
.search-group {
  margin-bottom: 0;
  position: relative;

  .twitter-typeahead {
    width: 100%;
  }

  .fa-icon {
    top: 15px;
    right: 15px;
    position: absolute;
  }

  .fa-spinner {
    height: auto;
  }

  .tt-menu {
    width: 100%;
    background-color: $light;
    border-radius: 3px;
    border: 1px solid $gray-300;
    -webkit-box-shadow: 0 3px 8px rgba(95, 128, 171, 0.376);
    -moz-box-shadow: 0 3px 8px rgba(95, 128, 171, 0.376);
    box-shadow: 0 3px 8px rgba(95, 128, 171, 0.376);
    max-height: 250px;
    overflow-y: auto;
  }

  .empty-message {
    padding: 5px 10px;
    text-align: center;
  }

  .tt-suggestion:hover,
  .tt-suggestion:focus {
    background-color: $gray-200;
    cursor: pointer;
  }

  .item-details {
    padding: 10px 0;

    .item-thumb {
      width: 70px;
      text-align: center;
      float: left;
    }

    .item-name {
      font-weight: 500;
    }

    .item-description p {
      margin-bottom: 0;
    }
  }

  .item-details + .item-details {
    border-top: 1px solid $gray-200;
  }
}
#item-modal .modal-dialog {
  margin: 80px auto;
}
.panel-item-modal {
  margin-bottom: 0;
}
.update-item .description {
  max-height: 120px;
  overflow: auto;
  position: relative;
  font-size: 95%;

  h1, h2, h3, h4, h5 {
    font-size: 95%;
  }
}
.extension-icon {
  background-color: $gray-200;
  background-position: center;
  background-repeat: no-repeat;
  color: $gray-700;
  line-height: 40px;
  height: 40px;
  width: 40px;
  text-align: center;
  display: inline-block;
  font-size: 20px;

  &.icon-lg {
    height: 60px;
    width: 60px;
    line-height: 60px;
    font-size: 32px;
  }
}
.list-extensions {
  .card.disabled {
    background-color: $gray-300;
  }
}
