.form-group .select2-container {
  width: 100% !important;
}
.input-group > .select2-container {
  width: 1px !important;
}
.select2-container--bootstrap .select2-selection {
  width: 100%;
}
.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
  color: $input-color;
}
.select2-container--bootstrap .select2-selection--single {
  height: $input-height;
  padding: $input-padding-y $input-padding-x;
}
.input-sm + .select2-container--bootstrap .select2-selection--single {
  height: $input-height-sm;
  padding: $input-padding-y-sm $input-padding-x-sm;
  font-size: $font-size-sm;
}
.input-lg + .select2-container--bootstrap .select2-selection--single {
  height: $input-height-lg;
  padding: $input-padding-y-lg $input-padding-x-lg;
  font-size: $font-size-lg;
}
.select2-container--bootstrap .select2-selection--multiple {
  height: $input-height;
}
.select2-container--bootstrap .select2-selection,
.select2-container--bootstrap .select2-search--dropdown .select2-search__field {
  border-color: $input-border-color;
  color: $input-color;
}
.select2-container--bootstrap .select2-dropdown,
.select2-container--bootstrap.select2-container--focus .select2-selection,
.select2-container--bootstrap.select2-container--open .select2-selection {
  border-color: $input-border-color;
  box-shadow: $input-focus-box-shadow;
}
.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
  background-color: $gray-200;
  color: $input-color;
}
.select2-container--bootstrap .select2-results__option[aria-selected="true"] {
  background-color: $gray-400;
  color: $input-color;
}
.select2-container--bootstrap .select2-selection--single .select2-selection__arrow b {
  border-color: $input-color transparent transparent;
}
.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice {
  color: $input-color;
  border-color: $input-border-color;
}
.select2-dropdown {
  font-size: $font-size-base;
}