.sidebar {
  position: fixed;
  top: $page-top;
  bottom: 0;
  z-index: 1030;

  aside {
    padding-top: $page-top;
  }
}
.nav-sidebar {
  &::-webkit-scrollbar {
    display: none;
  }

  .nav {
    .nav-item {
      width: 100%;
    }

    .nav-link {
      span {
        vertical-align: middle;
      }
    }

    > li > a {
      display: block;
      font-weight: $sidenav-font-weight;
      position: relative;
      -webkit-transition: all .4s;
      transition: all .4s;
    }

    > li > a:focus,
    > li > a:hover {
    }

    li.active > a,
    .nav li.active > a,
    .nav li > a.active {
      color: $primary;
    }

    .nav {
      &.show {
        display: block;
      }

      a {
        font-size: $sidenav-submenu-font-size;
        padding-left: 54px;
        text-transform: none;
      }
    }

    .arrow {
      line-height: $sidenav-line-height;
    }

    .fa-fw {
      text-align: left;
    }
  }

  .menu-arrow {
    -webkit-transition: -webkit-transform .15s;
    transition: -webkit-transform .15s;
    transition: transform .15s;
    transition: transform .15s, -webkit-transform .15s;
    position: absolute;
    right: 30px;
    display: inline-block;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1.5rem;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1.1rem;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);

    &::before {
      content: "\f105";
    }
  }

  a[aria-expanded="true"] > span.menu-arrow {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .has-arrow {
    position: relative;

    &::after {
      position: absolute;
      content: '';
      width: .5em;
      height: .5em;
      border-width: 1px 0 0 1px;
      border-style: solid;
      border-color: initial;
      right: 0.5em;
      -webkit-transform: translateY(-50%) rotate(225deg);
      transform: translateY(-50%) rotate(225deg);
      -webkit-transform-origin: center;
      transform-origin: center;
      top: 50%;
      transition: all .2s ease-in-out;
    }
  }

  .active > .has-arrow::after,
  .has-arrow[aria-expanded="true"]::after {
    -webkit-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
  }
}
@include media-breakpoint-down(sm) {
  .navbar-brand {
    display: none;
  }
  .sidebar {
    width: 100%;

    &:not(.show) {
      height: 0;
    }
  }
  .nav-sidebar {
    display: none;
    position: relative;

    &.show {
      display: block;
    }
  }
}
