.toolbar {
  .toolbar-action {
    clear: both;
    width: 100%;
    padding-left: $page-padding-x;
    padding-right: $page-padding-x;
    padding-bottom: 20px;
  }
}
.toolbar-action {
  .btn-group {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  > .btn {
    margin-left: 5px;
    margin-right: 5px;
  }

  .btn {
    outline: 0 none;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &.active,
    &:active {
      box-shadow: none;
    }

    .fa {
      padding-right: 4px;
    }
  }

  .btn + .btn {
    margin-left: $btn-spacer;
  }

  .fa {
    padding: 0;
  }

  .btn-left {
    float: left;
  }

  .btn-right {
    float: right;
  }

  .btn-primary {
    color: #FFFFFF;
    @include hover() {
      color: #FFFFFF;
    }
  }

  .btn-outline-primary {
    color: $primary;
    @include hover() {
      color: #FFFFFF;
    }
  }

  @each $color, $value in $theme-colors {
    @if not ($color == "primary") {
      .btn-#{$color} {
        @include button-variant($secondary, $secondary, darken($value, 7.5%), darken($value, 10%), darken($value, 10%), darken($value, 12.5%));
      }
    }
  }
  @each $color, $value in $theme-colors {
    @if not ($color == "primary") {
      .btn-outline-#{$color} {
        @include button-outline-variant($secondary, color-yiq($value), $value, $value);
      }
    }
  }
}