html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 50px;
}

label {
  font-weight: 500;
  font-size: 0.875rem;
}

.page-wrapper {
  margin-left: 230px;
}

.page-wrapper > .content {
  margin: 0;
}

@media (max-width: 767.98px) {
  .page-wrapper {
    margin-left: 0;
  }
}

.page-login {
  background-color: #12224c;
}

.page-login .page-wrapper {
  margin-left: 0;
  padding: 25px;
}

.page-login .login-container {
  max-width: 400px;
  margin: 70px auto;
}

.page-login .login-container .card {
  background: transparent;
  border-color: transparent;
}

.page-login .login-container .card .card-header {
  background: transparent;
  text-align: center;
  margin-bottom: -2px;
  padding-top: 40px;
  padding-bottom: 0;
}

.page-login .login-container .card .card-body {
  background: #e9eaee;
  padding: 20px 30px 15px;
}

.form-fields {
  background-color: #e9eaee;
  padding: 15px 20px;
}

.form-fields::before,
.form-fields::after {
  display: table;
  content: " ";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form-fields::after {
  clear: both;
}

.form-group.span-full {
  clear: both;
}

.form-group.span-left {
  float: left;
}

.form-group.span-right {
  float: right;
}

.form-group.span-left,
.form-group.span-right {
  width: 48.55%;
}

.form-group.span-left.flex-width,
.form-group.span-right.flex-width {
  max-width: 24.33%;
}

.form-group.flex-width {
  width: auto;
}

.form-group.flex-width .row > div {
  width: 100%;
}

.form-nav {
  padding-left: 20px;
  padding-right: 20px;
}

.form-nav.nav-tabs {
  border-bottom: 0 none;
}

.form-nav.nav-tabs .nav-link {
  border: 0 none;
  color: #27365c;
  padding: 0.7rem 1.2rem;
}

.form-nav.nav-tabs .nav-link:hover,
.form-nav.nav-tabs .nav-link:focus {
  border-color: transparent;
}

.form-nav.nav-tabs .nav-link.active {
  background-color: #e9eaee;
  font-weight: 400;
}

.field-checkboxlist .custom-control-label::before,
.field-checkboxlist .custom-control-label::after {
  top: .7rem;
}

.field-checkboxlist label {
  padding-left: 10px;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
  color: #111f46;
}

.select2-container--bootstrap .select2-selection--single {
  height: calc(2.2375rem + 2px);
  padding: 0.375rem 0.75rem;
}

.input-sm + .select2-container--bootstrap .select2-selection--single {
  height: calc(1.6484375rem + 2px);
  padding: 0.25rem 0.5rem;
}

.input-lg + .select2-container--bootstrap .select2-selection--single {
  height: calc(2.640625rem + 2px);
  padding: 0.5rem 1rem;
}

.select2-container--bootstrap .select2-selection--multiple {
  height: calc(2.2375rem + 2px);
}

.select2-container--bootstrap .select2-selection,
.select2-container--bootstrap .select2-search--dropdown .select2-search__field {
  border-color: #bec2ce;
  color: #111f46;
}

.select2-container--bootstrap .select2-dropdown,
.select2-container--bootstrap.select2-container--focus .select2-selection,
.select2-container--bootstrap.select2-container--open .select2-selection {
  border-color: #bec2ce;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(76, 140, 186, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(76, 140, 186, 0.25);
}

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
  background-color: #e9eaee;
  color: #111f46;
}

.select2-container--bootstrap .select2-results__option[aria-selected="true"] {
  background-color: #bec2ce;
  color: #111f46;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__arrow b {
  border-color: #111f46 transparent transparent;
}

.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice {
  color: #111f46;
  border-color: #bec2ce;
}

.navbar-brand {
  background-color: #142654;
  display: block;
  margin: 0;
}

.navbar-brand .logo {
  display: block;
  padding: 10px;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 230px;
  z-index: 1030;
}

.nav-sidebar {
  background-color: #12224c;
  overflow-x: hidden;
  overflow-y: auto;
  display: table;
  table-layout: fixed;
  position: relative;
  display: block;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 20px;
}

.nav-sidebar > .nav {
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.nav-sidebar .nav {
  line-height: 24px;
}

.nav-sidebar .nav .nav-item {
  width: 100%;
}

.nav-sidebar .nav > li > a {
  display: block;
  color: #FFFFFF;
  opacity: 0.75;
  font-weight: 500;
}

.nav-sidebar .nav > li > a:focus,
.nav-sidebar .nav > li > a:hover {
  background-color: #111f46;
  opacity: 1;
}

.nav-sidebar .nav li.active > a,
.nav-sidebar .nav .nav li.active > a,
.nav-sidebar .nav .nav li > a.active {
  background-color: transparent;
  opacity: 1;
}

.nav-sidebar .nav .nav {
  background-color: #142654;
  padding: 10px 0;
}

.nav-sidebar .nav .nav.show {
  display: block;
}

.nav-sidebar .nav .nav a {
  padding-left: 48px;
}

.nav-sidebar .nav .nav li > a:hover,
.nav-sidebar .nav .nav li > a:focus {
  background-color: #12214a;
}

.nav-sidebar .nav .arrow {
  line-height: 24px;
}

.nav-sidebar .nav .fa-fw {
  width: 1.8em;
  text-align: left;
}

.nav-sidebar .has-arrow {
  position: relative;
}

.nav-sidebar .has-arrow::after {
  position: absolute;
  content: '';
  width: .5em;
  height: .5em;
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-color: initial;
  right: 1em;
  -webkit-transform: rotate(-45deg) translate(0, -50%);
  transform: rotate(-45deg) translate(0, -50%);
  -webkit-transform-origin: top;
  transform-origin: top;
  top: 50%;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.nav-sidebar .active > .has-arrow::after,
.nav-sidebar .has-arrow[aria-expanded="true"]::after {
  -webkit-transform: rotate(-135deg) translate(0, -50%);
  transform: rotate(-135deg) translate(0, -50%);
}

@media (max-width: 767.98px) {
  .navbar-brand {
    display: none;
  }

  .sidebar {
    position: static;
    height: auto;
    margin-top: 73px;
    width: 100%;
  }

  .nav-sidebar {
    display: none;
    position: relative;
  }

  .nav-sidebar.show {
    display: block;
  }
}

.navbar-top {
  background-color: #e9eaee;
  padding: 0;
}

.navbar-top.navbar-expand {
  margin-left: 230px;
}

.navbar-top.navbar-expand .navbar {
  padding: 0 15px;
}

.navbar-top.navbar-expand .navbar-nav .nav-link {
  line-height: 60px;
  color: #27365c;
}

.navbar-top .navbar-nav > li.dropdown > a {
  position: relative;
}

.navbar-top .navbar-nav li.nav-item > a img {
  max-width: 32px;
  max-height: 32px;
}

.navbar-top .navbar-nav .nav-link > .fa {
  font-size: 20px;
  vertical-align: middle;
}

.navbar-top .navbar-nav > li.nav-item.show > a .fa {
  color: #4c8cba;
}

.navbar-top .navbar-nav > li.dropdown.show > a::after,
.navbar-top .navbar-nav > li.dropdown.show > a::before {
  border-bottom: 8px solid #e9eaee;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  bottom: -13px;
  display: inline-block;
  left: 50%;
  margin-left: -8px;
  position: absolute;
  z-index: 1001;
}

.navbar-top .navbar-nav > li.dropdown.show > a::before {
  border-bottom-width: 9px;
  border-left-width: 9px;
  border-right-width: 9px;
  border-bottom-color: #e9eaee;
  margin-left: -13px;
  bottom: -8px;
}

.navbar-top .navbar-nav > li.dropdown a::after {
  content: "";
  margin: 0;
  display: none;
  font-size: 1.231rem;
  margin-left: 6px;
  border: 0;
}

.navbar-top .navbar-nav > li.dropdown {
  position: static;
}

.navbar-top .dropdown-menu {
  left: auto;
  right: 25px;
  padding: 0;
  margin-top: 12px;
  line-height: 1.7;
  width: 300px;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(12, 22, 49, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(12, 22, 49, 0.15);
}

.navbar-top .dropdown-menu .dropdown-header {
  font-size: 0.875rem;
  color: #939aad;
  text-align: center;
  padding: 10px 0 8px;
  border-bottom: 1px solid #d3d6de;
}

.navbar-top .dropdown-menu .dropdown-footer a {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #d3d6de;
  font-size: 0.875rem;
  color: #27365c;
  display: block;
  outline: 0;
}

.navbar-top .dropdown-menu .dropdown-footer a:hover {
  background-color: #d3d6de;
}

.navbar-top .dropdown-menu .menu {
  list-style: outside none none;
  margin: 0;
  max-height: 225px;
  overflow-x: hidden;
  padding: 0;
}

.navbar-top .dropdown-menu .menu .menu-item {
  border-bottom: 1px solid rgba(12, 22, 49, 0.15);
}

.navbar-top .dropdown-menu .menu .menu-item:hover {
  background-color: #d3d6de;
}

.navbar-top .dropdown-menu .menu .menu-link {
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  color: #27365c;
}

.navbar-top .dropdown-menu .menu .menu-item-meta {
  line-height: 16px;
}

.navbar-top .dropdown-menu .menu-grid {
  max-height: unset;
}

.navbar-top .dropdown-menu .menu-grid .menu-item {
  border: 0 none;
}

.navbar-top .dropdown-menu .menu-grid .menu-link {
  border-radius: 3px;
  line-height: 24px;
  text-align: center;
  padding: 15px 0 9px;
  display: block;
  border: 1px solid transparent;
  color: #68728d;
}

.navbar-top .dropdown-menu .menu-grid .menu-link:hover {
  background-color: transparent;
  border-color: #d3d6de;
}

.navbar-top .dropdown-menu .menu-grid .menu-link span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.navbar-top .dropdown-menu .menu-grid .menu-link .fa {
  font-size: 32px;
}

.navbar-top .dropdown-menu .user-info {
  background-color: #4c8cba;
  color: #FFFFFF;
  overflow: hidden;
  padding: 20px 15px 14px;
  border-radius: 2px 2px 0 0;
  margin-bottom: 7px;
}

.navbar-top .dropdown-menu .user-info .username {
  font-size: 18px;
  font-weight: 700;
}

@media (max-width: 767.98px) {
  .navbar-top.navbar-expand {
    margin-left: 0;
  }

  .navbar-top.navbar-expand .navbar {
    border-bottom: 1px solid #12224c;
    background-color: #0f1c40;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
    padding: 0;
  }

  .navbar-top.navbar-expand .navbar-nav .nav-link,
  .navbar-top.navbar-expand .navbar-nav > li.nav-item.show > a .fa {
    color: #FFFFFF;
  }

  .navbar-top.navbar-expand .navbar-nav > li.dropdown.show > a::after {
    bottom: -1px;
  }

  .navbar-top.navbar-expand .navbar-nav > li.dropdown .dropdown-menu {
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 0;
    border-width: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .navbar-top.navbar-expand .navbar-toggler {
    display: inline-block;
    color: #FFFFFF;
    font-size: 20px;
  }
}

.page-title {
  margin: 0px;
  padding-left: 15px;
  font-size: 28px;
}

.page-title .small,
.page-title small {
  color: #939aad;
}

@media (max-width: 767.98px) {
  .page-title {
    display: none;
  }
}

.toolbar {
  padding: 20px 15px;
}

.toolbar .toolbar-action {
  clear: both;
  width: 100%;
  display: inline-block;
}

.toolbar .toolbar-action .btn {
  border-bottom-width: 4px;
  outline: 0 none;
  margin-left: 5px;
  margin-right: 5px;
}

.toolbar .toolbar-action .btn:first-child {
  margin-left: 0;
}

.toolbar .toolbar-action .btn:last-child {
  margin-right: 0;
}

.toolbar .toolbar-action .btn-primary {
  border-bottom-color: #3e78a1;
}

.toolbar .toolbar-action:hover,
.toolbar .toolbar-action:focus {
  border-bottom-color: #4c8cba;
}

.toolbar .toolbar-action .btn-secondary {
  border-bottom-color: #586077;
}

.toolbar .toolbar-action:hover,
.toolbar .toolbar-action:focus {
  border-bottom-color: #68728d;
}

.toolbar .toolbar-action .btn-success {
  border-bottom-color: #229117;
}

.toolbar .toolbar-action:hover,
.toolbar .toolbar-action:focus {
  border-bottom-color: #2AB21C;
}

.toolbar .toolbar-action .btn-info {
  border-bottom-color: #3bb4d8;
}

.toolbar .toolbar-action:hover,
.toolbar .toolbar-action:focus {
  border-bottom-color: #5BC0DE;
}

.toolbar .toolbar-action .btn-warning {
  border-bottom-color: #b8831d;
}

.toolbar .toolbar-action:hover,
.toolbar .toolbar-action:focus {
  border-bottom-color: #D99B22;
}

.toolbar .toolbar-action .btn-danger {
  border-bottom-color: #b41d24;
}

.toolbar .toolbar-action:hover,
.toolbar .toolbar-action:focus {
  border-bottom-color: #D5222B;
}

.toolbar .toolbar-action .btn-light {
  border-bottom-color: #e5e5ea;
}

.toolbar .toolbar-action:hover,
.toolbar .toolbar-action:focus {
  border-bottom-color: #fafafb;
}

.toolbar .toolbar-action .btn-dark {
  border-bottom-color: #0a1127;
}

.toolbar .toolbar-action:hover,
.toolbar .toolbar-action:focus {
  border-bottom-color: #111f46;
}

.toolbar .toolbar-action .btn-default {
  border-bottom-color: #586077;
}

.toolbar .toolbar-action:hover,
.toolbar .toolbar-action:focus {
  border-bottom-color: #68728d;
}

.toolbar-action
.toolbar-action
.toolbar-action .btn-default
.toolbar-action .btn-default {
  border-width: 1px 1px 4px 1px;
}

.toolbar-action .btn-filter {
  float: right;
}

.toolbar-action .btn:hover,
.toolbar-action .btn:focus {
  margin-top: 1px;
  border-bottom-width: 3px;
}

.toolbar-action .btn.active,
.toolbar-action .btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom-width: 2px;
  margin-top: 2px;
}

.toolbar-action .fa {
  font-size: 18px;
  padding: 0;
}

.toolbar-action .btn .fa {
  font-size: 14px;
  padding-right: 3px;
}

.list-filter {
  background-color: #e9eaee;
  margin-bottom: 0px;
  padding: 10px 15px;
}

.message-folders {
  min-height: 100%;
}

.message-folders .panel-header {
  padding: 15px;
  background-color: #e9eaee;
  border-bottom: 2px solid #d3d6de;
}

.message.unread a {
  font-weight: 500;
}

.conversation-heading {
  padding: 15px 20px;
  background-color: #e9eaee;
  border-bottom: 1px solid #d3d6de;
}

.conversation-message {
  border-radius: 0;
  margin-bottom: 0;
  background-color: #fafafb;
}

.conversation-message-heading {
  background-color: #e9eaee;
  border-bottom: 1px solid #d3d6de;
  padding: 10px 20px;
}

.panel-search {
  margin-bottom: 0;
}

.panel-carte {
  margin-bottom: 0;
}

.panel-items {
  background-color: transparent !important;
}

.panel-items .panel-heading {
  background-color: #bec2ce;
  border-radius: 0;
}

.panel-items .panel-item .media-body {
  min-height: 75px;
  margin: 0 15px;
}

.items-list .panel-item {
  background-color: #e9eaee;
  border: 1px solid #d3d6de;
}

.item-extension .media {
  margin: 15px;
}

.search-group {
  margin-bottom: 0;
  position: relative;
}

.search-group .twitter-typeahead {
  width: 100%;
}

.search-group .fa-icon {
  top: 12px;
  right: 15px;
  position: absolute;
}

.search-group .fa-spinner {
  height: auto;
}

.search-group .tt-menu {
  width: 100%;
  background-color: #fafafb;
  border-radius: 3px;
  border: 1px solid #d3d6de;
  -webkit-box-shadow: 0 3px 8px rgba(95, 128, 171, 0.376);
  box-shadow: 0 3px 8px rgba(95, 128, 171, 0.376);
  max-height: 250px;
  overflow-y: auto;
}

.search-group .empty-message {
  padding: 5px 10px;
  text-align: center;
}

.search-group .tt-suggestion:hover,
.search-group .tt-suggestion:focus {
  background-color: #e9eaee;
  cursor: pointer;
}

.search-group .item-details {
  padding: 10px 0;
}

.search-group .item-details .item-thumb {
  width: 70px;
  text-align: center;
  float: left;
}

.search-group .item-details .item-thumb .fa {
  padding: 10px 15px;
}

.search-group .item-details .item-name {
  font-weight: 500;
}

.search-group .item-details .item-description p {
  margin-bottom: 0;
}

.search-group .item-details + .item-details {
  border-top: 1px solid #e9eaee;
}

.panel-body.changelog {
  overflow: auto;
  height: 120px;
  max-height: 120px;
}

#item-modal .modal-dialog {
  margin: 80px auto;
}

.panel-item-modal {
  margin-bottom: 0;
}

.navbar-footer {
  font-size: 12px;
  padding: 15px;
  margin-left: 230px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.navbar-footer .text-version {
  text-align: right;
}

.navbar-footer .text-copyright,
.navbar-footer .text-version {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 767.98px) {
  .navbar-footer {
    display: none;
  }
}

