body { text-align: center; padding: 50px; }
@media (min-width: 768px) {
  body { padding-top: 150px; }
}
h1 { font-size: 50px; }
body { font: 15px -apple-system, BlinkMacSystemFont, Helvetica, sans-serif; color: #333; }
article { display: block; width: 650px; margin: 0 auto; }
a { color: #ED561A; text-decoration: none; }
a:hover { color: #333; text-decoration: none; }
.lead {font-size: 20px}