/*

TastyIgniter Orange Store-front theme

*/

/*** Basic ***/
html {
	position: relative;
	min-height: 100%;
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	font-family: 'Titillium Web', sans-serif;
	background-color: #F5F5F5;
	padding-bottom: 200px;
}
@media (max-width: 767px) {
	body {
		padding-bottom: 250px;
	}
}

/*** Main Header ***/
#main-header {
	background-color: #ED561A;
}
#main-header .logo {
	padding: 10px 0;
}
#main-header .logo a {
	font-size: 27px;
	color: #FFF;
	text-decoration: none;
}
#main-header .navbar-toggle {
	color: #FFF;
	right: 0;
	position: absolute;
	top: 8px;
	margin-bottom: 0;
	margin-top: 0;
}
#page-footer {
	background-color: #595959;
	/*background-image: linear-gradient(to bottom, #EDEFF1, #EDEFF1);*/
	position: absolute;
	bottom: 0;
	width: 100%;
}
#page-footer .main-footer, #page-footer .main-footer a {
	color: rgba(255,255,255,0.8);
}
#page-footer .bottom-footer {
	background-color: #FBFBFB;
}
#page-footer .bottom-footer, #page-footer .bottom-footer a {
	color: #686868;
}