@import "http://fonts.googleapis.com/css?family=Oxygen:400,300,700";
html {
min-height: 100%;
position: relative;
}
body {
background: none repeat scroll 0 0 #EDEDED;
margin-bottom:120px;
font-family:'Oxygen',Arial,sans-serif;
}
.container-fluid {
padding-left: 0;
padding-right: 0;
}


/** NAVBAR **/
.header { 
border-bottom: 0 solid #DDDBDB;
}
.navbar {
background-color: #ED561A;
border: 0 none;
border-radius: 0;
min-height:75px;
margin-bottom: 0;
padding-top: 15px;
}
.navbar .nav {
background-color: #B71020;
margin-top: 10px;
}
.navbar .nav > li > a {
color: #FFF;
font-size: 16px;
padding: 5px 10px;
text-transform: uppercase;
text-decoration:none;
z-index: 999;
}
.navbar .nav > li > a:hover , .navbar .nav > .open > a, .navbar .nav > .open > a:hover, .navbar .nav > .open > a:focus {
background: none repeat scroll 0 0 #E2827E;
color: #FFF;
}
/** HEADING **/
h2, h3, h4 {
color: #79302B;
}
.page-heading {
background-color: #FFFFFF;
border-bottom: 2px solid #CCCCCC;
margin-bottom: 15px;
padding: 15px;
}
.page-heading h3 {
margin: 0;
}
.page-header {
margin-top: 10px;
margin-bottom: 10px;
}

.top-section {
}
.border-all {
border-right: 1px solid #CCC;
border-left: 1px solid #CCC;
}
.border-left {
border-left: 1px solid #CCC;
}
.border-right {
border-right: 1px solid #CCC;
}
.border-top {
border-top: 1px solid #CCC;
}
.border-bottom {
border-bottom: 1px solid #CCC;
}
.pull-center {
margin:0 auto;
}


/** WRAPPER **/
.wrap-vertical {
padding-left: 15px !important;
padding-right: 15px !important;
}
.wrap-horizontal {
padding-top: 15px !important;
padding-bottom: 15px !important;
}
.wrap-all {
padding: 15px !important;
}
.wrap-none {
padding: 0 !important;
}

/** FORMS **/
.form-control {
width: 70%;
color:#333333;
border-radius: 0;
}
.postcode-control {
height: 50px;
}
.bootstrap-select.btn-group .btn .caret {
margin-top: -1px;
}
.bootstrap-select.form-control:not([class*="span"]) {
width: 70%;
}
.bootstrap-select .dropdown-menu {
border-radius: 0;
margin-top: -2px;
}
.bootstrap-select.btn-group .dropdown-menu li a:hover i.check-mark,
.bootstrap-select.btn-group .dropdown-menu li a:focus i.check-mark {
display:inline-block;
left: 5px;
position: absolute;
top: 8px;
font-size:12px;
}


/** ALERTS **/
#notification .alert {
margin-bottom: 0;
}
.alert {
padding:0;
}
.alert-success, .alert-info, .alert-warning, .alert-danger {
padding:15px;
}
.alert .bg-success p, .alert .bg-info p, .alert .bg-warning p, .alert .bg-danger p {
margin-bottom:0;
}
.alert .close {
font-size: 26px;
margin-top:10px;
margin-right:15px;
}
.alert-dismissable {
padding-right: 0;
}
.alert-dismissable .close {
color: inherit;
position: relative;
right: 0;
top: 2px;
}
.success {
color:#00B87A;
}
.warning {
color:#FF8000;
}
.error {
color:#BB1021;
}
.red {
color:#BB1021;
}
.table-none {
margin-bottom: 0;
}
.table-none > thead > tr > th, .table-none > tbody > tr > th, .table-none > tfoot > tr > th, .table-none > thead > tr > td, .table-none > tbody > tr > td, .table-none > tfoot > tr > td {
border-top:0 none;
}

.footer {
background: none repeat scroll 0 0 #636363;
color: #FFFFFF;
padding-top: 20px;
text-align: center;
font-size: 11px;
width: 100%;
height:120px;
position:absolute;
bottom:0;
}
.footer a {
color: #FFFFFF;
}
.container {
}

.content {
background-color:#FFF;
margin-bottom: 25px;
}
.img_inner{
background: none repeat scroll 0 0 #FFFFFF;
border: 1px solid #e7e7e7;
padding: 15px;
}
.opening-hour > dt {
width:100px;
font-weight:normal;
text-align: left;
}
.opening-hour > dd {
margin-left:100px;
}


/** GROUPS **/
.form-group > label {
display: block;
}
a.list-group-item {
color: #333;
}
a.list-group-item-success {
color: #3c763d;
}
a.list-group-item-info {
color: #31708f;
}
a.list-group-item-warning {
color: #8a6d3b;
}
a.list-group-item-danger {
color: #a94442;
}
a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
background-color: #EC9C1A;
border-color: #EC9C1A;
z-index: 2;
}
.list-group-item:first-child {
border-top-left-radius: 0px;
border-top-right-radius: 0px;
}
.list-group-item:last-child {
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
}
.postcode-group .input-group-addon {
background-color: #5CB85C;
border-color: #4CAE4C;
color:#FFF;
}
.btn-group .btn {
border-radius: 0;
}


/** PANEL **/
.panel {
border-radius:0px;
}
.panel-title {
color:#79302B;
}
h3.panel-title {
font-size:22px;
}
h4.panel-title {
font-size:18px;
}
.buttons {
}
.home-fixed {
padding: 25px;
}
.center-block{
float:none;
}
.text-xl {
font-size:24px;
}
.text-lg {
font-size:22px;
}
.text-md {
font-size:18px;
}
.text-sm {
font-size:14px;
}
.text-xs {
font-size:12px;
}

.unread {
font-weight: bold;
}
.badge {
border-radius: 5px;
}

/** MODULES **/
.module-box {
padding-top: 15px;
padding-bottom: 15px;
}
#module-left .module-box {
padding-left: 15px;
}
#module-right .module-box {
padding-right: 15px;
}
.module-box .alert p {
margin-bottom: 0;
padding: 15px;
}

/** LOCAL MODULE **/
#local-box {
background-color: #FFFFFF;
border-bottom: 2px solid #CCCCCC;
margin-bottom: 15px;
padding-top: 10px;
padding-bottom: 10px;
}
#local-box .form-group {
margin-bottom: 0;
}
#local-box address {
margin-bottom: 0;
}
#local-box .alert p, #local-box .alert {
margin-bottom: 0;
}
#local-box .bootstrap-select {
margin-bottom: 0;
}


/** CART MODULE **/
#cart-box {
min-height:100px;
}
#cart-box .cart-info {
font-size:12px;
max-height:250px;
overflow:auto;
padding: 0 10px;
margin: 0 -10px;
}
#cart-box .cart-total, #cart-box .cart-coupon {
border-top: 1px solid #C4C4C4;
}
#cart-box .fa-times {
color:#BB1021;
font-size:14px;
cursor: pointer;
}


/** RESERVATION MODULE **/
#reservation-box .alert {
margin-bottom:0;
}

#times .btn {
width: 80px;
}

/*** FONT ICONS ***/
.fa {
font-size:16px;
}
.icon-add-cart {
background: url("../images/add-menu.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
display: block;
height: 32px;
width: 32px;
}


/*** CAROUSEL ***/
.carousel-control.right {
background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}
.carousel-control.left {
background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
}
.carousel-control .fa-chevron-left,
.carousel-control .fa-chevron-right {
position: absolute;
top: 45%;
z-index: 5;
display: inline-block;
font-size: 32px;
}
.carousel-control .fa-chevron-left {
left: 30%;
}
.carousel-control .fa-chevron-right {
right: 30%;
}

/*** PAGINATION ***/
.pagination {
padding-left:7px;
margin: 0;
float:right;
}
.pagination > li > a, .pagination > li > span {
}
 .pagination > .active > a, .pagination > .active > span {
}
.pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
}
.pagination-info {
color: #656565;
float:right;
text-align: right;
font-size: 12px;
padding-top:7px;
}
.pagination-links {
padding: 0;
}

.menus-table .radio:first-child {
margin-top: 0;
}
.menus-table .radio:last-child {
margin-bottom: 0;
}

@media (max-width: 767px) {
	.list-group-responsive {
	display:block;
	}
}

footer{
color: #000;
display: block;
font-size: 12px;
padding: 15px 0;
text-align: center;
}
footer a{ 
color: #000;
}
footer a:hover{ 
text-decoration: underline;
}
.address-lists .address {
margin: 0 0 10px;
border-bottom: 0 solid #c4c4c4;
}
#codeigniter_profiler code {
display: inline-block;
width: 1080px;
white-space: pre-wrap;
word-wrap: break-word;
}