tbody.TimeSheet{
  border-color: var(--bs-gray-300);
}

.TimeSheet td {
  border-color: var(--bs-gray-200);
  padding: 0.45rem 0.20rem;
  box-shadow: none !important;
}

.TimeSheet td:nth-child(4n+1) {
  border-right-color: var(--bs-gray-400);
}

.TimeSheet-cell {
  background-color: var(--bs-gray-100) !important;
}
.TimeSheet-cell-selected {
  background-color: var(--bs-secondary) !important;
}

.TimeSheet-cell-selecting {
  background-color: var(--bs-secondary) !important;
}

.TimeSheet-rowHead, .TimeSheet-colHead {
  background-color: var(--bs-gray-200);
}

.TimeSheet-rowHead, .TimeSheet-head {
  border-color: var(--bs-gray-300) !important;
}
.TimeSheet-remarkHead, .TimeSheet-remark {
  width: 100%;
  background-color: var(--bs-gray-200);
  border-left-color: var(--bs-gray-300);
  padding-left: 15px !important;
  padding-right: 15px !important;
}
