.control-colorpicker .input-group-icon {
  padding: 0;
}
.control-colorpicker .input-group-icon .fa {
  color: transparent;
  font-size: 1rem;
  height: 2rem;
  width: 2rem;
}
.colorpicker.dropdown-menu {
  padding: 10px;
}
.colorpicker.colorpicker-2x {
  width: 272px;
}
.colorpicker-2x .colorpicker-saturation {
  width: 200px;
  height: 200px;
}
.colorpicker-2x .colorpicker-hue,
.colorpicker-2x .colorpicker-alpha {
  width: 30px;
  height: 200px;
}
.colorpicker-2x .colorpicker-alpha,
.colorpicker-2x .colorpicker-preview {
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}
.colorpicker-2x .colorpicker-preview,
.colorpicker-2x .colorpicker-preview div {
  height: 30px;
  font-size: 16px;
  line-height: 160%;
}
.colorpicker-saturation .colorpicker-guide {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  margin: -5px 0 0 -5px;
}