.btn-light {
  background-color: $light;
  border-color: $gray-300;

  &:hover {
    background-color: $gray-200;
    border-color: $gray-400;
  }
}
.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
  background-color: $gray-400;
  border-color: $gray-400;
}
.btn-group > .btn:not(:first-child),
.btn-group > .btn-group:not(:first-child) {
  margin-left: 0;
}