.input-group-btn, .input-group-addon {
  @extend .input-group-append;
}
.form-control-static {
  @extend .form-control-plaintext;
  background-color: $input-disabled-bg;
  @if $enable-rounded {
    // Manually use the if/else instead of the mixin to account for iOS override
    border-radius: $input-border-radius;
  } @else {
    // Otherwise undo the iOS default
    border-radius: 0;
  }
  padding: $input-padding-y $input-padding-x;
  overflow: auto;
}
.input-sm {
  @extend .form-control-sm;
}
select.input-sm {
  @extend select.form-control-sm;
}
.input-lg {
  @extend .form-control-lg;
}
select.input-lg {
  @extend select.form-control-lg;
}
//
.control-label {
  color: $gray-800;
}
// Custom input file type
.btn-file-input input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}
// Input group
//
.input-group-icon {
  @extend .input-group-text;
}
