.field-switch {
  position: relative;
  display: flex;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.field-switch-input {
  display: none;
}
.field-switch-input:checked + .field-switch-label .field-switch-container {
  margin-left: 0;
}
.field-switch-label {
  background-color: $light;
  border: 1px solid $gray-400;
  border-radius: $input-border-radius;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 0;
  width: 100px;
}
.field-switch-container {
  display: -ms-flexbox;
  display: flex;
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin-left 0.5s;
  -webkit-transition: margin-left 0.5s;
  -o-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
}
.field-switch-container > span {
  position: relative;
  width: 50%;
  padding: 0;
  color: $white;
  height: $input-height-inner;
  line-height: $input-line-height;
}
.field-switch-container .field-switch-toggle {
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: $input-padding-y $input-padding-x;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.field-switch-inactive .field-switch-toggle {
  right: 0;
}
