.table {

  > :not(caption) > * > * {
    box-shadow: none;
  }

  .sort-col {
    cursor: pointer;
    display: block;
    position: relative;
    color: $table-color;
    text-decoration: none;

    .fa {
      visibility: hidden;
      position: absolute;
      right: 0;
      top: 3px;
    }

    &:hover,
    .active {
      color: $body-color;
    }

    &:hover .fa,
    &:hover,
    .active {
      visibility: visible;
    }

    .fa-sort-ASC:before,
    &:hover .fa-sort-DESC:before {
      @extend .fa-sort-amount-asc
    }

    .fa-sort-DESC:before,
    &:hover .fa-sort-ASC:before {
      @extend .fa-sort-amount-desc
    }
  }
}

.table-striped {
  thead th {
    background-color: $table-bg;
  }

  tbody tr {
    background-color: $table-bg;
  }
}

.table-muted .text-muted {
  filter: alpha(opacity=80);
  opacity: 0.8;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  vertical-align: middle;
}

.table > thead > tr > th {
  font-weight: $font-weight-bold;
}

.table .list-action,
.table .list-setup {
  width: 1px;
}
