.table {
  .sort-col {
    cursor: pointer;
    display: block;
    position: relative;
    color: $body-color;
    text-decoration: none;

    .fa {
      visibility: hidden;
      position: absolute;
      right: 1px;
      top: 6px;
    }

    &:hover .fa,
    &:hover,
    .active {
      visibility: visible;
    }

    .fa-sort-ASC:before,
    &:hover .fa-sort-DESC:before {
      @extend .fa-sort-amount-asc
    }

    .fa-sort-DESC:before,
    &:hover .fa-sort-ASC:before {
      @extend .fa-sort-amount-desc
    }
  }
}
.table-striped {
  thead th {
    background-color: $table-head-bg;
  }

  tbody tr {
    background-color: $table-head-bg;
  }
}
.table-muted .text-muted {
  filter: alpha(opacity=80);
  opacity: 0.8;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  vertical-align: middle;
}
.table > thead > tr > th {
  font-weight: $font-weight-normal;
  font-size: $font-size-sm;
  text-transform: uppercase;
  line-height: 2;
}
.table .list-action,
.table .list-setup {
  width: 1px;
}
