.map-modal .area-labels {
	overflow: auto;
	position: absolute;
	left: 0;
	right: 0;
	margin-top: 10px;
	z-index: 1004;
}
.map-modal .area-labels .badge {
	padding: 10px;
	margin-right: 5px;
	cursor: pointer;
}