$theme-colors: map-merge($theme-colors, (
  "default": $secondary,
));

$page-padding-left: 230px !default;

$login-page-bg: #12224C !default;

$form-fields-padding-y: 15px !default;
$form-fields-padding-x: 20px !default;

$form-nav-link-padding-y: .7rem !default;
$form-nav-link-padding-x: 1.2rem !default;

$navbar-nav-link-padding-x: .7rem !default;

$mainmenu-font-size: 28px !default;
$mainmenu-icon-size: 20px !default;
$mainmenu-dropdown-width: 300px !default;
$mainmenu-menu-max-height: 225px !default;

$sidenav-bg: #12224C !default;
$sidenav-bg-light: lighten($sidenav-bg, 2%) !default;
$sidenav-bg-dark: darken($sidenav-bg, 3%) !default;

$sidenav-font-size-sm: 1.066rem !default;
$sidenav-font-size: 1.1rem !default;
$sidenav-line-height: 24px !default;
