.editor-toolbar {
  border-color: var(--bs-gray-300);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.editor-toolbar button.active,
.editor-toolbar button:hover {
  border-color: var(--bs-gray-300);
}
.field-markdowneditor .CodeMirror {
  border: 1px solid var(--bs-gray-300);
}
.editor-toolbar.fullscreen,
.field-markdowneditor .CodeMirror-fullscreen,
.editor-preview-side {
  z-index: 1040;
}
