/**@import "http://fonts.googleapis.com/css?family=Oxygen:400,300,700";
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 300;
  src: local('Oxygen Light'), local('Oxygen-Light'), url('../fonts/Oxygen-Light.ttf') format('ttf');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), local('Oxygen-Regular'), url('../fonts/Oxygen-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: local('Oxygen Bold'), local('Oxygen-Bold'), url('../fonts/Oxygen-Bold.ttf') format('ttf');
}**/
html {
min-height: 100%;
position: relative;
}
body {
background-color: #f7f7f7;
font-family:'Oxygen',Arial,sans-serif;
margin-bottom:55px;
margin-top: 32px;
font-size: 13px;
}
.body-login {
background-color: #2E2E2E;
color: #686868;
}
.body-login .navbar, .body-login .navbar-brand, .body-login #footer {
display: none;
}
.body-login .panel {
border: 0 none;
}
.body-login .panel-login > .panel-heading {
text-align:center;
padding: 20px 15px;
}
.body-login .form-control {
width: 100%;
}
a, a:hover, a:active {
outline:0 none;
}



/** WRAPPER **/
#wrapper, #footer {
padding-left: 0;
}
#page-wrapper {
width: 100%;
}
#page-wrapper > .container-fluid {
}
.container-fluid > .content {
padding-left:10px;
padding-right:10px;
margin-top:60px;
margin-bottom:0;
}
.float-none {
float:none;
}
.border-all {
border-right: 1px solid #CCC !important;
border-left: 1px solid #CCC !important;
}
.border-left {
border-left: 1px solid #CCC !important;
}
.border-right {
border-right: 1px solid #CCC !important;
}
.border-top {
border-top: 1px solid #CCC !important;
}
.border-bottom {
border-bottom: 1px solid #CCC !important;
}
.wrap-all {
padding: 15px !important;
}
.wrap-none {
padding: 0 !important;
}
.wrap-vertical {
padding-left: 15px !important;
padding-right: 15px !important;
}
.wrap-horizontal {
padding-top: 15px !important;
padding-bottom: 15px !important;
}
.wrap-top {
padding-top: 15px !important;
}
.wrap-bottom {
padding-bottom: 15px !important;
}
.wrap-left {
padding-left: 15px !important;
}
.wrap-right {
padding-right: 15px !important;
}
.inline-block {
display:inline-block;
}


/** HEADER **/
.header { 
border-bottom: 0 solid #DDDBDB;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-weight:bold;
}
.page-header {
background-color: #ECECEC;
border: 0 solid #D3D3D3;
border-bottom: 1px solid #D3D3D3;
border-radius: 0;
box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
padding: 3px 25px;
min-height:35px;
margin-top: 0;
margin-bottom: 0;
position: fixed;
right: 0;
left:0;
top:32px;
z-index:999;
}
.page-header h1 {
font-size: 18px;
margin-top: 0;
margin-bottom: 0;
font-weight:bold;
line-height: 2.2;
}
.page-header h1 .pull-right {
margin-top: 9px;
}



/** ALERT **/
#notification .alert {
padding:0;
margin-bottom:0;
}
#notification .alert-dismissable .close {
right: 10px;
top: 5px;
}
#notification p {
padding: 8px 35px 8px 15px;
margin-bottom:16px;
}
.success{
background:#00B87A;
border-left: 5px solid #00B87A;
border-top: 1px solid #00B87A;
}
.error {
background:#C96862;
border-left: 5px solid #C96862;
}
.warning {
background:#FFA74E;
border-left: 5px solid #FFA74E;
border-top: 1px solid #FFA74E;
}


/** FORMS **/
.form-control {
width: 70%;
border-radius: 0;
color:#333;
font-size: 13px;
}
.form-horizontal .control-label {
text-align: left;
}
.control-label .help-block {
font-size: 85%;
font-weight: normal;
}
.control-label .text-right {
display: block;
}
.a {
outline: 0 none;
}

/** GROUPS **/
.input-group {
width:70%;
}
.input-group-addon {
border-radius:0;
}
#working-hours .input-group {
width: 100%;
}
.input-group-more {
background-color:#EEEEEE;
margin:-9px;
padding-left:10px;
}
.input-group-more .btn {
width:22px;
}
.input-group-more .input-group-btn {
display: inline-block;
}
.input-group-more .input-group-btn {
border-left:2px solid #BBB;
}
.input-sm button {
height: 30px;
padding: 4px 12px;
}
.form-group .text-danger {
display: block;
}
.control-group {
display: table;
width:70%;
}
.control-group-3 {
width:75%;
}
.control-group > .form-control {
display: inline-block;
} 
.control-group > .btn-group,
.control-group > .input-group {
float: left;
}
.control-group > .form-control,
.control-group > .btn-group,
.control-group > .input-group {
margin-left: 15px;
}
.control-group > .form-control:first-child,
.control-group > .btn-group:first-child,
.control-group > .input-group:first-child {
margin-left: 0;
}
.control-group-2 > .form-control {
width:46.6%;
}
.control-group-2 > .btn-group,
.control-group-2 > .input-group {
width:47.1%;
}
.control-group-3 > .form-control,
.control-group-3 > .btn-group,
.control-group-3 > .input-group {
width:30.1%;
}
.form-inline .form-group {
line-height: 0;
}

.bootstrap-select.btn-group .btn .caret {
margin-top: -1px;
}
.bootstrap-select.form-control:not([class*="span"]) {
width: 70%;
}
.bootstrap-select .dropdown-menu {
border-radius: 0;
margin-top: -2px;
}
/*.bootstrap-select.btn-group .dropdown-menu li a:hover i.check-mark,
.bootstrap-select.btn-group .dropdown-menu li a:focus i.check-mark {
display:inline-block;
position: absolute;
top: 8px;
font-size:12px;
color:#333;
}*/
.bootstrap-select.btn-group .dropdown-menu li.selected a {
background-color: #f5f5f5;
}
.bootstrap-select.btn-group .dropdown-menu li.selected a i.check-mark {
display: inline-block;
margin-top: 2.5px;
position: absolute;
right: 15px;
}
.panel-chart .bootstrap-select.form-control:not([class*="span"]),
.filter-bar .bootstrap-select.form-control:not([class*="span"]),
.navbar-footer .bootstrap-select.form-control:not([class*="span"]) {
width:100%;
}
.navbar-footer .bootstrap-select.btn-group:not(.input-group-btn), 
.bootstrap-select.btn-group[class*="span"] {
margin-bottom: 0;
}

.btn-group-toggle {
width: 70%;
}
.btn-group-toggle > .btn {
width: 50%;
}
.btn-group-7 {
width: 85%;
}
.btn-group-3 > .btn {
width: 33.5%;
}
.btn-group-4 .btn {
width: 25.2%;
}
.btn-group-5 .btn {
width: 20.2%;
}
.btn-group-7 .btn {
width: 14.5%;
}

/** NAVBAR **/
.navbar {
border: 0 none;
border-radius: 0;
min-height:32px;
margin-bottom: 0;
padding-top: 0;
}
.navbar-inverse {
background-color: #184f75;
}
.navbar .nav {
margin-top: 0;
}
.navbar .navbar-brand {
font-size: 16px;
height: 32px;
padding: 5px;
color:#DCDCDC;
}
.navbar-toggle {
padding: 8px 10px;
}
.navbar-fixed-top .navbar-user > li > a {
padding-bottom: 6px;
padding-top: 6px;
}
.navbar-nav > li > a {
padding-bottom: 10px;
padding-top: 10px;
}
.navbar .navbar-brand .icon {
height: 22px;
margin-right: 12px;
width: 22px;
}
.navbar-nav i {
margin-right: 6px;
text-align: center;
width: 20px;
}
.navbar-nav .fa-caret-right, .navbar-nav .fa-caret-down {
float: right;
margin-right: -5px;
display:none;
font-size: 10px;
line-height: 2.2;
}



/** NAV-TABS **/
.nav-tabs {
border-bottom: 0 none;
padding: 0;
margin-top:0;
}
.nav-tabs > li + li {
margin-left: 10px;
}
.nav-tabs > li {
margin-bottom: -2px;
}
.nav-tabs > li > a {
border-bottom: 3px solid #E7E7E7;
border-radius: 3px 3px 0 0;
padding:8px 10px;
color:#444;
}
.nav-tabs li a, .nav-tabs li span {
outline: 0 none;
}
.nav-tabs > li > a:hover {
border-color: #E7E7E7;
}
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
background-color:#E7E7E7;
border-bottom: 3px solid #D3D3D3;
color: #333;
font-weight:bold;
}
.tab-content {
margin-top: 15px;
}
.tab-content > div {
display:none;
}
#sub-tabs li a, #sub-tabs li span {
padding: 7px 5px 7px 10px;
}
#sub-tabs li > a  i {
width: 20px;
}


/** SIDE NAV **/
.navbar .side-nav ul.sidenav-menu {
background-color: #E7E7E7;
border: medium none;
border-radius: 0;
list-style:none;
padding:0;
}
.navbar .side-nav > li.dropdown > ul.sidenav-menu > li > a {
color: #838383;
display: block;
padding:6px 15px 6px 40px;
text-decoration: none;
}
.navbar-inverse .navbar-nav > li > a {
color: #DCDCDC;
}
.navbar .side-nav > li > a {
color: #333;
}
.navbar .side-nav > li {
border-bottom: 1px solid #dbdbdb;
border-top: 1px solid #fff;
}
@media (min-width:768px) {
	.navbar-nav .fa-caret-right, .navbar-nav .fa-caret-down {
	display:block;
	}
	.navbar .side-nav {
	overflow:visible !important;
	box-shadow: -3px 0 8px -4px rgba(0, 0, 0, 0.07) inset;
	}
	.side-nav > li.active_parent > ul {
	background: none repeat scroll 0 0 #4E4E4E;
	display: block;
	margin: 0;
	position: relative;
	}
	.navbar .side-nav ul.sidenav-menu {
	width: 200px;
	}
	.navbar .side-nav > li.dropdown > ul.sidenav-menu {
	display: none;
	left:0;
	position: absolute; 
	padding: 6px 0;
	margin: -42px 0 0 199px;
	border: 1px solid #E0E0E0;
	}
	.navbar .side-nav li.active > ul.sidenav-menu {
	background-color: #F7F7F7;
	border-right: 1px solid #E3E3E3;
	border-top: 0 none;
	margin: 0;
	position: relative;
	}
	.navbar .side-nav li.dropdown:hover > ul.sidenav-menu, .navbar .side-nav li.active > ul.sidenav-menu {
	display: block;
	}
	.navbar .side-nav li.active_parent ul li.active a {
	font-weight: bold;
	color:#686868;
	} 
	.side-nav > li.dropdown > ul.sidenav-menu > li:hover a,
	.side-nav > li.dropdown > ul.sidenav-menu > li:focus a {
	font-weight: bold;
	color:#686868;
	}
}


/** BUTTONS **/
.btn {
border-radius: 0;
outline: 0 none;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
outline-offset:-1px;
}
a.btn:active, a.btn.active {
background-image: none;
box-shadow: none;
outline: 0 none;
}
.btn-sm, .btn-group-sm > .btn {
border-radius:0;
}
a:focus {
outline-offset:-1px;
}
.page-header .btn-back {
left: 0;
padding: 13px 8px 10px;
position: absolute;
top: 0;
}
.page-header .btn-back b {
color: #333;
font-size: 22px;
}
.page-header .btn {
margin-left: 15px;
border-radius:2px;
font-size: 12px;
line-height: 1.2;
vertical-align: text-bottom;
padding: 3px 12px;
}
.page-header .btn-success {
background-color: #00B87A;
border-color: #00B87A;
}
.page-header .btn-success:hover, 
.page-header .btn-success:focus, 
.page-header .btn-success:active, 
.page-header .btn-success.active, 
.page-header .open .dropdown-toggle.btn-success {
background-color: #009f69;
border-color: #009f69;
color: #FFFFFF;
}
.page-header .btn-default {
background-color: #FFF;
border-color: #F7F7F7;
color: #555;
}
.page-header .btn-default:hover, 
.page-header .btn-default:focus, 
.page-header .btn-default:active, 
.page-header .btn-default.active {
background-color: #CCC;
border-color: #CCC;
color: #555;
}
.btn-grey {
background-color: #F1F1F1;
color: #555555;
}
.btn-grey:hover,
.btn-grey:focus {
background-color: #DDD;
}
.btn-edit, .btn-view {
color: #555555;
}
.btn-edit:hover, .btn-view:hover {
color: #0088CC;
}
.btn-calendar, .btn-list {
padding: 5px 12px;
position: absolute;
color: #333;
margin-top: 3px;
}
.btn-calendar:hover, .btn-list:hover {
background-color: #DDD;
}
.btn-list {
}
.btn-calendar .fa-calendar, .btn-list .fa-list {
font-size:24px;
}
.btn-favorite {
color: #F5D99E;
}
.btn-favorite:hover {
color: #F3D086;
}
.btn-favorite-o {
color: #555555;
}
.btn-blacklist {
color: #C96862;
}
.btn-blacklist:hover {
color: #A63F39;
}
.btn-times {
color:#C96862;
}
.btn-times:hover {
color:#A63F39;
}
.btn-select-image, .btn-add-image {
color:#428BCA;
}
.btn-select-image:hover, .btn-add-image:hover {
color:#3071A9;
}
.btn-remove-image {
color:#C96862;
}
.btn-add-image {
line-height: 180px;
padding: 10px 15px;
display: block;
cursor:pointer
}
.btn-add-image:hover {
background-color: #EEEEEE;
}
.btn-add-image i {
font-size:26px;
}


/** DROPDOWN MENU **/
.dropdown-toggle {
cursor:pointer;
}
.dropdown-menu > li > a {
cursor:pointer;
}
.dropdown-menu > li > span {
display: block;
padding: 3px 20px;
clear: both;
font-weight: normal;
line-height: 1.42857;
color: #333;
white-space: nowrap;
}
.dropdown-menu-sm {
border-radius: 0;
}
.dropdown-menu-sm > li > a {
font-size: 12px;
padding: 3px 10px;
}



/** FILTER HEADING **/
.filter-bar {
padding: 6px 0;
}
.filter-bar .fa {
color: #555555;
}
.filter-bar input {
}
.filter-bar .grey_icon {
}
.filter-bar .button {
}
.filter {
}

/** PANELS **/
.panel {
border-radius:0;
}
.panel-heading, .panel-footer {
border-radius:0;
}



/** DASHBOARD STATISTICS **/
.panel-statistics {
font-size: 14px;
}
.panel-statistics .list-group span {
float: right;
}
.panel-statistics > .panel-heading {
padding: 10px 15px 0;
}
.nav-tabs-statistics {
border-bottom: 0;
}
.nav-tabs-statistics > li {
margin-bottom: -1px;
}
.nav-tabs-statistics > li > a {
background-color: #e5e5e5;
border: 0 none;
color: #333;
cursor:pointer;
margin-right: 12px;
padding: 6px 15px;
border-radius:0;
}
.nav-tabs-statistics > li.active > a, 
.nav-tabs-statistics > li.active > a:hover, 
.nav-tabs-statistics > li > a:hover, 
.nav-tabs-statistics > li > a:focus, 
.nav-tabs-statistics > li.active > a:focus {
background: #FFF;
background-color: #FFF;
border-color:#DDDDDD;
border-width: 1px 1px 0;
}

.statistics .panel-primary > .panel-body
.statistics .panel-primary > .panel-footer {
background-color: #428BCA;
border-color: #428BCA;
color: #FFFFFF;
}
.statistics .panel-info > .panel-body,
.statistics .panel-info > .panel-footer {
background-color: #D9EDF7;
border-color: #BCE8F1;
color: #31708F;
}
.statistics .panel-success > .panel-body,
.statistics .panel-success > .panel-footer {
background-color: #DFF0D8;
border-color: #D6E9C6;
color: #3C763D;
}
.statistics .panel-warning > .panel-body,
.statistics .panel-warning > .panel-footer {
background-color: #FCF8E3;
border-color: #FAEBCC;
color: #8A6D3B;
}
.statistics .panel-danger > .panel-body,
.statistics .panel-danger > .panel-footer {
background-color: #F2DEDE;
border-color: #EBCCD1;
color: #A94442;
}


/** DASHBOARD CHART PANEL **/
.panel-chart .panel-heading {
padding: 5px 10px;
}
.panel-chart .panel-title {
line-height: 28px;
}
.flot-x-axis > div {
width: 25px;
}
#chart-tooltip > span {
color:#0088CC;
display: block;
margin-top: 5px;
font-weight: bold;
}
.panel-chart .form-control {
width: 100%;
}
.panel-chart .form-group {
width: 40%;
}




/** SELECTED PANEL **/
.panel-selected {
border: 1px solid #C4C4C4;
overflow: auto;
height: 250px;
min-height: 250px;
}
.panel-selected .img img {
cursor:pointer;
}
.panel-selected .img {
text-align: center;
width: 10%;
}
.panel-selected .name {
width: 30%;
}
.panel-selected table {
width: 100%;
}
.panel-selected table tbody td {
padding: 5px 8px;
}
.panel-selected .db_tables td {
padding: 5px;
}




/** TABLE **/
table {
border-collapse: collapse;
font-size: 13px;
}
.table-border {
background-color:#FFF;
border: 1px solid #E7E7E7;
}
#list-form .table td {
height: 50px;
vertical-align: top;
line-height: 2.1;
}
.table > thead > tr > th {
border-bottom: 1px solid #DDD;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, 
.table-striped > tbody > tr:nth-child(2n+1) > th {
background-color: #FFF;
border-bottom: 1px solid #f3f3f3;
border-top: 1px solid #f3f3f3;
}
.table-border > tbody > tr:hover > td, 
.table-border > tbody > tr:hover > th {
background-color: #f5f5f5;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, 
.table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
border-top: 0 solid #E7E7E7;
vertical-align: middle;
padding: 6px;
}
table .action {
width: 6.33% !important;
padding:5px 0 7px 7px;
}
table .action-one {
width: 3.33% !important;
}
table .action-three {
width: 9.33% !important;
}
table .action .btn {
display:inline-block;
padding:0;
width: 16px;
}
table .id, table .id .sort {
color: #656565;
width: 3.33% !important;
}


/** TABLE SORTABLE **/
.table-sortable {
}
.table-sortable td {
padding: 4px 7px;
}
.table-sortable .fa-sort, .table-sortable .fa-times, .table-sortable .fa-plus {
cursor:pointer;
}
body.dragging, body.dragging * {
cursor: move !important;
}
.dragged {
position: absolute;
opacity: 0.5;
z-index: 2000;
}
.placeholder, .placeholder > td {
background:#DDD !important;
position:relative;
margin:0;
padding:0;
height:30px;
}
.placeholder:before {
position: absolute;
content: "";
width: 0;
height: 0;
margin-top: -5px;
left: -5px;
top: -4px;
}


/** SORTER **/
.sort, .sort:hover, .sort:focus {
color:#333;
text-decoration:none;
display:block;
min-width: 40px;
}
.sort .fa {
width:12px;
height:12px;
visibility: hidden;
}
.sort:hover .fa, .sort .active {
visibility: visible;
display: inline-block;
}
table thead .fa-sort-ASC {
background-image: url("../images/icon-sort-asc.svg");
}
table thead .fa-sort-DESC {
background-image: url("../images/icon-sort-desc.svg");
}
table thead th .sort:hover .fa-sort-ASC {
background-image: url("../images/icon-sort-desc.svg");
}
table thead th .sort:hover .fa-sort-DESC {
background-image: url("../images/icon-sort-asc.svg");
}
.unread {
font-weight: bold;
}



/** ICONS **/
.icon {
display: inline-block;
vertical-align: text-bottom;
height: 16px;
width: 16px;
background-repeat:no-repeat;
}
.icon-logo {
background-image: url("../images/admin-logo.png");
background-position: center center;
}
.fa {
font-size:16px;
}
.fa-stack {
line-height: 1.8em;
}
.fa-stack-2x {
font-size: 1.8em !important;
}
.fa-check {
color:#00B87A;
}
/*.fa-check:hover {
color:#00B87A;
}
.fa-times, .fa-times-circle {
color:#C96862;
}
.fa-times:hover, .fa-times-circle:hover {
color:#A63F39;
}*/
.fa-sort, .fa-times, .fa-times-circle, .fa-plus {
cursor: pointer;
}
.fa-star-special {
color: #7ed4ff;
}
.fa-star-special.disabled {
color: #cceeff;
}



/** PAGINATION **/
.pagination-bar {
margin-bottom: 25px;
}
.pagination-bar .links, .pagination-bar .info {
float: left;
}
.pagination-bar .links {
margin-right:10px;
}
.pagination-bar .info {
padding-top:6px;
}
.pagination-bar .info > span {
color:#656565;
font-size: 85%;
}
.pagination-bar .links ul {
margin: 0;
}


/** FOOTER **/
#footer {
bottom: 0;
color: #FFFFFF;
font-size: 11px;
padding-left: 0;
position: absolute;
text-align: center;
width: 100%;
}
.navbar-copyright {
margin-right: 0;
}
.navbar-profiler {
margin-left: 0;
margin-right: 0;
}
.navbar-footer .container-fluid {
padding-left: 10px;
padding-right: 10px;
}
.navbar-footer .navbar-form {
padding-left: 0;
margin: 5px 0;
}


/* CALENDER */
.table-calendar {
background-color:#FFF;
margin-bottom:15px;
border: 1px solid #EEE;
}
.table-calendar .title {
border-left: 1px solid #EEE;
border-right: 1px solid #EEE;
font-size: 18px;
font-weight: normal;
padding: 10px 0;
text-align: center;
}
.table-calendar .prev, .table-calendar .next {
padding: 0;
}
.table-calendar .next {
text-align: right;
}
.table-calendar .next .calender-nav {
background-image: url(../images/next.svg);
background-position:100px center;
background-repeat: no-repeat;
}
.table-calendar .prev .calender-nav {
background-image: url(../images/prev.svg);
background-position:15px center;
background-repeat: no-repeat;
}
.calender-nav {
color:#000;
text-decoration: none;
padding: 0 15px;
display: block;
height: 45px;
}
.table-calendar .calender-nav:hover {
background-color:#F7F7F7;
color: #000;
}
.table-calendar tr:first-child > th {
border-top: 0 solid #EEE;
}
.table-calendar tr:first-child > th:first-child {
border-left: 1px solid #EEE;
}
.table-calendar tr:first-child > th:last-child {
border-right: 1px solid #EEE;
}
.table-calendar .week {
background: none repeat scroll 0 0 #FFF;
font-weight: bold;
text-align: left;
width: 100px;
padding: 5px;
border-bottom: 1px solid #EEE;
border-right: 1px solid #EEE;
border-top: 1px solid #EEE;
}
.table-calendar .day, .table-calendar .today {
width: 100px;
height: 40px;
padding: 0;
border-bottom: 1px solid #EEE;
border-right: 1px solid #EEE;
text-align: left;
position: relative;
vertical-align: top;
}
.table-calendar span {
display:block;
color: #000000;
padding: 2px 8px;
font-size: 14px;
}
.table-calendar .today span {
font-weight: bold;
}
.table-calendar .week:first-child, .table-calendar .day:first-child, .table-calendar .today:first-child {
border-left: 1px solid #EEE;
}
.table-calendar .day a, .table-calendar .today a {
background-color:#FFF;
display: block;
height: 50px;
margin:0;
text-decoration: none;
}
.table-calendar td .booked {
background:#ffa59a;
}
.table-calendar td .half_booked {
background:#ffd89a;
}
.table-calendar td a:hover, .table-calendar td .selected {
background-color:#E7E7E7;
border: 1px solid #414141;
height: 50px;
}
.table-calendar td .selected span, 
.table-calendar td .no_booking:hover, .table-calendar td a:hover span, 
.table-calendar td .no_booking.selected, .table-calendar td .no_booking.selected span {
background:#FFF;
}
.table-calendar .booked span, .table-calendar .half_booked span {
background:#F7F7F7;
}
.legends {
font-size: 10px;
margin: 0 0 20px;
}
.legends h3 {
font-weight: normal;
margin: 0;
padding: 0 0 3px;
}
.legends .no_booking {
border: 1px solid #DDDDDD;
display: inline-block;
height: 16px;
width: 16px;
}
.legends .booked {
background:#ffa59a;
border: 1px solid #ffa59a;
display: inline-block;
height: 16px;
width: 16px;
}
.legends .half_booked {
background:#ffd89a;
border: 1px solid #ffd89a;
display: inline-block;
height: 16px;
width: 16px;
}



/** THUMBNAIL LIST**/
.thumbnail-list {
list-style: none outside none;
padding: 0;
}
.thumbnail-list > li {
float: left;
margin-right: 20px;
}
.thumbnail {
border: 1px solid #DDDDDD;
border-radius:0;
height: 210px;
width: 200px;
}
.thumbnail .preview {
height: 120px;
width:120px;
margin: 10px auto 0;
text-align: center;
}
.thumbnail .preview img {
display:inline;
}
.thumbnail .caption {
padding: 8px 5px;
text-align:center;
}
.thumbnail .caption .name {
border-bottom: 1px solid #EEEEEE;
margin-bottom: 10px;
padding-bottom: 5px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.thumbnail .caption a {
padding: 0 8px;
}
.thumbnail .caption p {
margin: 0;
}
.imagebox-sm {
height: 150px;
width: 150px;
}
.imagebox-sm .preview {
height: 60px;
width: 64px;
}

@media (min-width:768px) {

	/* Wrappers */

	#wrapper, #footer {
	padding-left: 200px;
	}

	#page-wrapper {
	}

	/* Side Nav */

	.side-nav {
	margin-left: -200px;
	left: 200px;
	width: 200px;
	position: fixed;
	top: 32px;
	height: 100%;
	border-radius: 0;
	background-color: #ECECEC;
	border-right: 1px solid #D3D3D3;
	overflow-y: auto;
	}

	/* Bootstrap Default Overrides - Customized Dropdowns for the Side Nav */

	.side-nav > li.dropdown > ul.dropdown-menu {
	position: relative;
	min-width: 200px;
	margin: 0;
	border: none;
	border-radius: 0;
	background-color: transparent;
	box-shadow: none;
	-webkit-box-shadow: none;
	}

	.side-nav > li.dropdown > ul.dropdown-menu > li > a {
	color: #999999;
	padding: 15px 15px 15px 25px;
	}

	.side-nav > li.dropdown > ul.dropdown-menu > li > a:hover,
	.side-nav > li.dropdown > ul.dropdown-menu > li > a.active,
	.side-nav > li.dropdown > ul.dropdown-menu > li > a:focus {
	color: #fff;
	background-color: #080808;
	}

	.side-nav > li > a {
	width: 200px;
	}

	.navbar-inverse .navbar-nav > li > a:hover,
	.navbar-inverse .navbar-nav > li > a:focus,
	.navbar-inverse .navbar-nav > .active > a, 
	.navbar-inverse .navbar-nav > .active > a:hover, 
	.navbar-inverse .navbar-nav > .active > a:focus {
	background-color: #F7F7F7;
	border-right: 1px solid #E3E3E3;
	color: #333;
	}
	
	.navbar-inverse .navbar-nav > .open > a, 
	.navbar-inverse .navbar-nav > .open > a:hover, 
	.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #F7F7F7;
    color: #333;
	}	
	
	/* Nav Messages

	.messages-dropdown .dropdown-menu {
	min-width: 300px;
	}

	.messages-dropdown .dropdown-menu li a {
	white-space: normal;
	} */

	.navbar-collapse {
	padding-left: 15px !important;
	padding-right: 15px !important;
	}
	.page-header {
	left:200px;
	}
}

#codeigniter_profiler {
padding-left: 220px !important;
}
#codeigniter_profiler td {
border-bottom: 2px solid #fff;
}
#codeigniter_profiler td:first-child {
border-right: 2px solid #fff;
}
#codeigniter_profiler code {
display: inline-block;
width: 1080px;
white-space: pre-wrap; /* CSS3 */
white-space: -moz-pre-wrap; /* Mozilla, post millennium */
white-space: -pre-wrap; /* Opera 4-6 */
white-space: -o-pre-wrap; /* Opera 7 */
word-wrap: break-word;
}


.red {
color:#D9534F;
}
.green {
color:#00B87A;
}
.error_php {
border:1px solid #990000;
padding-left:20px;
margin:0 20px 10px 180px;
}
.error_php:first-child {
margin-top:45px;
}


/** SETUP ***/
.setup_box {
background:#FFF;
border: 1px solid #DDDDDD;
border-radius: 3px;
margin: 100px auto;
width: 50%;
padding: 20px;
font-size:12px;
}
.setup_box p, .setup_box h2 {
text-align:left;
padding: 5px 0;
margin: 10px 0;
}
.setup_box h1 {
font-size: 30px;
margin-bottom: 30px;
}
.setup_box h2 {
border-bottom: 1px solid #DDDDDD;
}
.setup_box .green {
background: url(../images/setup-yes.svg) no-repeat center center;
display: block;
float: right;
height: 20px;
width: 20px;
}
.setup_box .red {
background: url(../images/setup-no.svg) no-repeat center center;
display: block;
float: right;
height: 20px;
width: 20px;
}
.success .download {
background: none repeat scroll 0 0 #FFFFFF;
}


/*** MAIL TEMPLATE ***/
.table-templates > tbody > tr > td {
padding: 0;
}
.table-template {
margin-bottom: 0;
width:100%;
}
.template-heading {
padding: 6px;
}
.template-heading tr .action .up,
.template-heading tr.collapsed .action .down {
display: block !important;
}
.template-heading tr.collapsed .action .up,
.template-heading tr .action .down {
display: none !important;
}
.table-templates .text-right,
.table-template .text-right {
width:20%;
}
.template-content {
background-color: #FFF;
border-top: 1px solid #E3E3E3;
padding:25px;
}
.supported-var {
margin: -10px 25px 10px;
list-style: none outside none;
overflow: scroll;
}
.supported-var span {
font-weight: bold;
}


/*** THEME EDITOR ***/
.theme-tree-holder {
border-right: 1px solid #E7E7E7;
border-bottom: 2px solid #E7E7E7;
height:574px;
overflow: auto;
}
.theme-tree-holder a {
font-size: 12px;
cursor:pointer;
color:#428BCA;
}
.theme-tree-holder a:hover, .theme-tree-holder a:hover i,
.theme-tree-holder .active > a, .theme-tree-holder .active > a i {
font-weight: bold;
}
.theme-tree-holder > ul {
list-style: none outside none;
margin: 0;
padding: 0;
}
.theme-tree-holder ul li a {
display: inline-block;
padding: 5px 0 5px 0;
text-decoration: none;
}
.theme-tree-holder > ul ul {
display:none;
list-style: none outside none;
padding-left: 15px;
}
.theme-tree-holder .active > ul {
display: block;
}
.theme-tree-toggle {
border:0 none;
bottom: 0;
color: #333;
font-size: 20px;
left: -21px;
opacity: 0.5;
position: absolute;
text-align: left;
text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
top: 0;
width: 10%;
z-index: 99999;
}
.theme-tree-toggle:hover,
.theme-tree-toggle:focus {
color: #333;
}
.theme-tree-toggle .fa {
background:#EEE;
border:1px solid #CCC;
border-right:0 none;
cursor:pointer;
display: inline-block;
font-size: 25px;
position: absolute;
padding: 5px 0 5px 5px;
top: 45%;
z-index: 5;
}
.theme-tree-toggle .fa:hover,
.theme-tree-toggle .fa:focus {
background:#DDD;
border:1px solid #CCC;
}
.theme-editor-wide .theme-tree-toggle {
left: -4px;
}
.theme-editor textarea {
background: #F5F5F5;
font-size: 14px;
width:100%;
}
.editor-text {
border-bottom: 1px solid #E7E7E7;
margin: 0 15px;
padding: 15px 0;
}
#editor .col-sm-3 {
width: 20%;
}
#editor .col-sm-9 {
width: 79%;
}
.CodeMirror {
height: 575px !important;
line-height: 1.2 !important;
}



/** RATING **/
.rating {
display: inline-block;
}
.rating > .fa {
color: #fdb242;
width: 1.1em;
}
.rating-sm > .fa {
font-size:14px;
line-height: 1.8;
}
.dl-horizontal-rating dt {
width: 60px;
text-align: left;
}
.dl-horizontal-rating dd {
margin-left: 70px;
}
.rating-inline {
margin-left: 0;
}
.rating-inline > li {
padding-left: 0;
padding-right: 15px;
line-height: 1.5;
}
.rating-inline .rating {
padding-top: 5px;
}



/** DELIVERY AREAS **/
#delivery {
border: 3px solid #EEE !important;
margin:0;
}
.panel-delivery-areas {
border: 0 none;
box-shadow: -5px 0 0 0 rgba(0, 0, 0, 0.06);
margin-bottom: 0;
}
.panel-delivery-areas > .panel-heading {
background: none repeat scroll 0 0 #fff;
border-bottom: 0 none;
}
.panel-delivery-areas .panel-title {
font-size: 20px;
font-weight: normal;
}
.panel-delivery-areas .panel > .panel-heading {
cursor:pointer;
}
.panel-delivery-areas .panel > .panel-heading:hover .area-buttons,
.panel-delivery-areas .panel > .panel-heading:focus .area-buttons {
display:block !important;
}
.panel-delivery-areas > .panel-body {
height: 455px;
overflow: auto;
}
.panel-delivery-areas .btn-group-toggle, .panel-delivery-areas .form-control {
width: 100%;
}
.panel-heading .area-toggle, .panel-heading .area-name, .panel-heading .area-color, .panel-heading .area-buttons {
display: inline-block;
}
.panel-heading .area-color {
/*border: 2px solid #fff;
height: 16px;
width: 16px;*/
margin: 0 10px -3px;
}
.panel-heading:not(.collapsed) .area-toggle .up,
.panel-heading.collapsed .area-toggle .down {
display: none !important;
}
.panel-heading.collapsed .area-toggle .up,
.panel-heading:not(.collapsed) .area-toggle .down {
display: block !important;
}



/** DATE TIME PICKER **/
body .bootstrap-timepicker-widget table td input {
padding: 3px;
width: 42px;
}
body .bootstrap-timepicker-widget table td a i {
font-size: 12px;
}
body .datepicker.dropdown-menu {
border-radius:0;
}
body .datepicker-dropdown.datepicker-orient-bottom:before {
bottom: -7px;
}
body .datepicker-dropdown.datepicker-orient-bottom:after {
bottom: -5px;
}


/** SELECT 2 **/
.select2-container .select2-choice {
height: 30px;
line-height: 30px;
background-image:none;
}
.select2-drop.select2-drop-above {
border-radius: 0;
margin-top: -2px;
}
.select2-drop {
border-radius: 0;
}
.form-control .select2-choice .select2-arrow {
border-radius: 0;
}
.form-control .select2-choice {
border-radius: 0;
}
.form-control.select2-container.select2-dropdown-open {
border-radius: 0;
}
