$utilities: map-merge($utilities, (
  "shadow": map-merge(
      map-get($utilities, "shadow"),
      (state: hover),
  ),
  "width": map-merge(
      map-get($utilities, "width"),
      (responsive: true),
  ),
  "margin-left": (
    responsive: true,
    property: margin-left,
    class: ml,
    values: map-merge($spacers, (auto: auto))
  ),
  "margin-right": (
    responsive: true,
    property: margin-right,
    class: mr,
    values: map-merge($spacers, (auto: auto))
  ),
  "padding-left": (
    responsive: true,
    property: padding-left,
    class: pl,
    values: map-merge($spacers, (auto: auto))
  ),
  "padding-right": (
    responsive: true,
    property: padding-right,
    class: pr,
    values: map-merge($spacers, (auto: auto))
  ),
  "max-width": map-merge(
      map-get($utilities, "max-width"),
      (responsive: true, values: (
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto
      )),
  ),
  "max-height": map-merge(
      map-get($utilities, "max-height"),
      (responsive: true, values: (
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto
      )),
  ),
  "viewport-width": map-merge(
      map-get($utilities, "viewport-width"),
      (responsive: true, values: (
        25: 25vh,
        50: 50vh,
        75: 75vh,
        100: 100vh,
        auto: auto
      )),
  ),
  "viewport-height": map-merge(
      map-get($utilities, "viewport-height"),
      (responsive: true, values: (
        25: 25vh,
        50: 50vh,
        75: 75vh,
        100: 100vh,
        auto: auto
      )),
  ),
  "cursor": (
    property: cursor,
    class: cursor,
    responsive: true,
    values: auto pointer grab no-drop,
  ),
));

