.media-finder .grid {
	background-color: var(--gray-100);
	border-radius: 3px;
	border: 1px solid var(--gray-400);
	width: 124px;
	height: 124px;
	position: relative;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.media-finder .grid:focus,
.media-finder .grid:hover {
	border-color: var(--primary);
	box-shadow: 0 1px 0px var(--primary);
}
.media-finder .grid .img-cover {
	transform: translate(50%, 50%);
	display: block;
	height: 100%;
}
.media-finder .grid img {
	transform: translate(-50%, -50%);
}
.media-finder .grid .blank-cover {
	position: relative;
	overflow: hidden;
	padding-top: 100%;
	display: block;
}
.media-finder .grid .blank-cover i {
	position: absolute;
	height: 16px;
	width: 16px;
	top: 50%;
	left: 50%;
	margin-top: -8px;
	margin-left: -8px;
}
.grid .icon-container,
.grid .find-remove-button {
	display: none;
}
.grid .find-button,
.media-finder .grid .blank-cover,
.grid .find-config-button,
.grid:hover .find-remove-button {
	cursor: pointer;
}
.grid:hover .find-remove-button {
	float: right;
	position: absolute;
	top: 8px;
	right: 8px;
	display: block;
	z-index: 9;
}
.grid:hover .icon-container {
	display: block;
	top: 40%;
	text-align: center;
	position: absolute;
	width: 100%;
	z-index: 9;
}
.grid:hover .icon-container span {
	background-color: var(--gray-100);
	padding: 3px 5px;
	word-wrap: break-word;
}
.grid .find-button {
	display: block;
	height: 100%;
}
.image-list {
	margin-left: -15px;
	margin-right: -15px;
}
.image-list .media-finder {
	float: left;
	margin: 0 15px 25px;
}
.media-finder .input-group-addon i {
	width: 24px;
	display: block;
}
