@import "http://fonts.googleapis.com/css?family=Oxygen:400,300,700";
html {
min-height: 100%;
position: relative;
}
body {
background: none repeat scroll 0 0 #EDEDED;
margin-bottom:120px;
font-family:'Oxygen',Arial,sans-serif;
}
.container-fluid {
padding-left: 0;
padding-right: 0;
}
.container {
width: 1000px;
}
.content {
background-color:#FFF;
margin-bottom: 25px;
}
.img_inner{
background: none repeat scroll 0 0 #FFFFFF;
border: 1px solid #e7e7e7;
padding: 15px;
}
.page-content {
width: 100%;
}
#module-right ~ #module-left ~ .page-content {
width: 50%;
}
#module-left ~ .page-content {
width: 79.1%;
}
#module-right ~ .page-content {
width: 70.99%;
}

dd, dt {
line-height: 1.9;
}

/** NAVBAR **/
.header { 
border-bottom: 0 solid #DDDBDB;
}
.navbar {
background-color: #ED561A;
border: 0 none;
border-radius: 0;
min-height:75px;
margin-bottom: 0;
padding-top: 15px;
}
.navbar .nav {
background-color: #B71020;
margin-top: 10px;
}
.navbar .nav > li > a {
color: #FFF;
font-size: 16px;
padding: 5px 10px;
text-transform: uppercase;
text-decoration:none;
z-index: 999;
}
.navbar .nav > li > a:hover , .navbar .nav > .open > a, .navbar .nav > .open > a:hover, .navbar .nav > .open > a:focus {
background: none repeat scroll 0 0 #E2827E;
color: #FFF;
}
/** HEADING **/
h2, h3, h4 {
color: #79302B;
}
.page-heading {
background-color: #FFFFFF;
border-bottom: 2px solid #CCCCCC;
margin-bottom: 15px;
padding: 15px;
}
.page-heading h3 {
margin: 0;
}
.page-header {
margin-top: 10px;
margin-bottom: 10px;
}

.top-section {
}
.border-all {
border-right: 1px solid #CCC;
border-left: 1px solid #CCC;
}
.border-left {
border-left: 1px solid #CCC;
}
.border-right {
border-right: 1px solid #CCC;
}
.border-top {
border-top: 1px solid #CCC;
}
.border-bottom {
border-bottom: 1px solid #CCC;
}
.pull-center {
margin:0 auto;
}
.margin-top {
margin-top: 15px !important;
}


/** WRAPPER **/
.wrap-vertical {
padding-left: 15px !important;
padding-right: 15px !important;
}
.wrap-horizontal {
padding-top: 15px !important;
padding-bottom: 15px !important;
}
.wrap-all {
padding: 15px !important;
}
.wrap-none {
padding: 0 !important;
}
.wrap-top {
padding-top: 15px !important;
}
.wrap-bottom {
padding-bottom: 15px !important;
}
.wrap-left {
padding-left: 15px !important;
}
.wrap-right {
padding-right: 15px !important;
}

/** FORMS **/
.form-control {
width: 70%;
color:#333333;
border-radius: 0;
}
.postcode-control {
height: 50px;
}
.bootstrap-select.btn-group .btn .caret {
margin-top: -1px;
}
.bootstrap-select.form-control:not([class*="span"]) {
width: 70%;
}
.bootstrap-select .dropdown-menu {
border-radius: 0;
margin-top: -2px;
}
.bootstrap-select.btn-group .dropdown-menu li a:hover i.check-mark,
.bootstrap-select.btn-group .dropdown-menu li a:focus i.check-mark {
display:inline-block;
left: 5px;
position: absolute;
top: 8px;
font-size:12px;
}
.bootstrap-select.btn-group .dropdown-menu li:not(.disabled) > a:hover small, 
.bootstrap-select.btn-group .dropdown-menu li:not(.disabled) > a:focus small, 
.bootstrap-select.btn-group .dropdown-menu li.active:not(.disabled) > a small {
color: rgba(0, 0, 0, 0.5);
}


/** ALERTS **/
#notification .alert {
margin-bottom: 0;
}
.alert {
padding:0;
}
.alert-success, .alert-info, .alert-warning, .alert-danger {
padding:15px;
}
.alert .bg-success p, .alert .bg-info p, .alert .bg-warning p, .alert .bg-danger p {
margin-bottom:0;
}
.alert .close {
font-size: 26px;
margin-top: 5px;
margin-right:6px;
}
.alert-dismissable {
padding-right: 0;
}
.alert-dismissable .close {
color: inherit;
position: relative;
right: 0;
top: 2px;
}
.success {
color:#00B87A;
}
.warning {
color:#FF8000;
}
.error {
color:#BB1021;
}
.red {
color:#BB1021;
}
.table-none {
margin-bottom: 0;
}
.table-none > thead > tr > th, .table-none > tbody > tr > th, .table-none > tfoot > tr > th, .table-none > thead > tr > td, .table-none > tbody > tr > td, .table-none > tfoot > tr > td {
border-top:0 none;
}

.footer {
background: none repeat scroll 0 0 #636363;
color: #FFFFFF;
padding-top: 20px;
text-align: center;
font-size: 11px;
width: 100%;
height:120px;
position:absolute;
bottom:0;
}
.footer a {
color: #FFFFFF;
}


.opening-hour > dt {
width:100px;
font-weight:normal;
text-align: left;
}
.opening-hour > dd {
margin-left:100px;
}


/** GROUPS **/
.form-group > label {
display: block;
}
.input-group {
width:70%;
}
.input-group-addon {
border-radius:0;
}
a.list-group-item {
color: #333;
}
a.list-group-item-success {
color: #3c763d;
}
a.list-group-item-info {
color: #31708f;
}
a.list-group-item-warning {
color: #8a6d3b;
}
a.list-group-item-danger {
color: #a94442;
}
a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
background-color: #EC9C1A;
border-color: #EC9C1A;
z-index: 2;
}
.list-group-item:first-child {
border-top-left-radius: 0px;
border-top-right-radius: 0px;
}
.list-group-item:last-child {
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
}
.postcode-group {
width: 100%;
}
.postcode-group .input-group-addon {
background-color: #5CB85C;
border-color: #4CAE4C;
color:#FFF;
}
.btn-group .btn {
border-radius: 0;
}



/*** BUTTONS ***/
.btn-cart {
color: #fdb242;
font-size: 40px;
font-weight: bold;
line-height: 0.5;
padding:0;
}
.btn-cart-lg {
background-color: #FDB242;
border-color: #FDB242;
font-weight: bold;
min-width: 150px;
padding: 10px 20px;
}
.btn-cart:hover,
.btn-cart:focus {
color: #fb822e;
}
.btn-cart-lg:hover,
.btn-cart-lg:focus {
background-color: #fb822e;
border-color: #fb822e;
}
.btn-checkout {
border-radius: 0;
font-size: 18px;
padding: 8px 15px;
width: 100%;
}


/*** TABS ***/
.menus-tabs > li > a {
background-color: #b7b7b7;
border-radius: 0;
border-width: 0 !important;
color: #fff;
font-weight: bold;
margin-right: 10px;
}
.nav > li > a:hover, .nav > li > a:focus {
background-color: #b7b7b7;
border-width: 0 !important;
}

/** PANEL **/
.panel {
border-radius:0px;
}
.panel-title {
color:#79302B;
}
h3.panel-title {
font-size:20px;
}
h4.panel-title {
font-size:18px;
}


.buttons {
}
.home-fixed {
padding: 25px;
}
.center-block {
float:none;
}
.text-xl {
font-size:24px;
}
.text-lg {
font-size:22px;
}
.text-md {
font-size:18px;
}
.text-sm {
font-size:14px;
}
.text-xs {
font-size:12px;
}
.text-muted {
color: #666;
}

.unread {
font-weight: bold;
}
.badge {
border-radius: 5px;
}


/** RATING **/
.rating {
display: inline-block;
}
.rating > .fa {
color: #fdb242;
width: 1.1em;
}
.rating-sm > .fa {
font-size:14px;
line-height: 1.8;
}
.dl-horizontal-rating dt {
width: 60px;
text-align: left;
}
.dl-horizontal-rating dd {
margin-left: 70px;
}
.rating-inline {
margin-left: 0;
}
.rating-inline > li {
padding-left: 0;
padding-right: 15px;
}
.rating-inline .rating {
padding-top: 5px;
}



/** MODULES **/
.module-box {
padding-top: 15px;
padding-bottom: 15px;
}
.module-left .module-box {
padding-left: 15px;
}
.module-right .module-box {
padding-right: 15px;
}
.module-left {
width: 20.9%;
}
.module-right {
width: 28.9%;
}
.module-box .alert p {
margin-bottom: 0;
padding: 10px;
}
.module-box .panel-title {
font-size: 18px;
}




/** LOCAL MODULE PANEL **/
.panel-local {
background-color: #FFFFFF;
border-bottom: 2px solid #CCCCCC;
margin-bottom: 15px;
padding-top: 0;
padding-bottom: 0;
}
.panel-local > .panel-heading {
border-color: #ddd;
}
.panel-local .panel-heading h4 {
font-size: 22px;
margin: 5px 0;
}
.panel-local > .panel-body {
padding: 10px 0 15px;
}
.panel-local .form-group {
margin-bottom: 0;
}
.panel-local address {
margin-bottom: 0;
}
.panel-local .alert p, .panel-local .alert {
margin-bottom: 0;
}
.panel-local .bootstrap-select {
margin-bottom: 0;
}
.panel-local dl {
margin-bottom: 0;
}
.panel-local dl dd, .panel-local dl dt {
line-height: 1.7;
}



/** CART MODULE **/
#cart-box {
min-height:100px;
}
#cart-box #cart-alert .alert {
margin-top:20px;
margin-bottom:0;
}
.cart-items > div {
border-top: 1px solid #C4C4C4;
}
.cart-items {
font-size:13px;
max-height:250px;
overflow:auto;
padding: 0 10px;
margin: 0 -10px;
}
.cart-items .table > tbody > tr:first-child > td {
border-top: 0 solid #C4C4C4;
}
.cart-items a {
cursor: pointer;
}
.cart-items .fa-times, .cart-total .fa-times {
color:#BB1021;
font-size:14px;
cursor: pointer;
}
.cart-total, .cart-coupon {
border-top: 1px solid #C4C4C4;
}
#cart-box .order-type {
text-align: center;
}
#cart-box .order-type .btn {
color: #484848;
}
#cart-box .postcode-control {
width: 68%;
}

#optionsModal .modal-dialog {
width:480px;
}
#optionsModal .modal-content {
background:#FFF;
}
#optionsModal .menu-options .option {
margin-bottom: 15px;
}
label + .radio, label + .checkbox {
margin-top: 0;
}
#optionsModal .modal-header h4 {
margin: 0;
}
#optionsModal .modal-body .description {
padding: 0 0 15px;
}
.modal-header .close {
font-size: 40px;
margin-top: -15px;
}



/** RESERVATION MODULE **/
#reservation-box .alert {
margin-bottom:0;
}

#times .btn {
width: 80px;
}

/*** FONT ICONS ***/
.fa {
font-size:16px;
}
.icon-add-cart {
background: url("../images/add-menu.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
display: block;
height: 32px;
width: 32px;
}


/*** CAROUSEL ***/
.carousel-control.right {
background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}
.carousel-control.left {
background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
}
.carousel-control .fa-chevron-left,
.carousel-control .fa-chevron-right {
position: absolute;
top: 45%;
z-index: 5;
display: inline-block;
font-size: 32px;
}
.carousel-control .fa-chevron-left {
left: 30%;
}
.carousel-control .fa-chevron-right {
right: 30%;
}

/*** PAGINATION ***/
.pagination {
padding-left:7px;
margin: 0;
float:right;
}
.pagination > li > a, .pagination > li > span {
}
 .pagination > .active > a, .pagination > .active > span {
}
.pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
}
.pagination-info {
color: #656565;
float:right;
text-align: right;
font-size: 12px;
padding-top:7px;
}
.pagination-links {
padding: 0;
}

.menus-table > thead > tr > th, 
.menus-table > tbody > tr > th, 
.menus-table > tfoot > tr > th, 
.menus-table > thead > tr > td, 
.menus-table > tbody > tr > td, 
.menus-table > tfoot > tr > td {
vertical-align:middle;
}
.menus-table .radio:first-child {
margin-top: 0;
}
.menus-table .radio:last-child {
margin-bottom: 0;
}
.menus-table .btn-cart {
margin-top: -8px;
}
.menus-table .menu-item {
cursor:pointer;
}
.menus-table .menu-item > td:first-child {
width: 1%;
}

@media (max-width: 767px) {
	.list-group-responsive {
	display:block;
	}
}



/*** FANCYBOX ***/
.fancybox-menu-option .fancybox-skin {
background-color:#ec9c1a;
border-radius: 0;
padding:10px !important;
}



footer{
color: #000;
display: block;
font-size: 12px;
padding: 15px 0;
text-align: center;
}
footer a{ 
color: #000;
}
footer a:hover{ 
text-decoration: underline;
}
.address-lists .address {
margin: 0 0 10px;
border-bottom: 0 solid #c4c4c4;
}
#codeigniter_profiler code {
display: inline-block;
width: 1080px;
white-space: pre-wrap;
word-wrap: break-word;
}


.affix {
position:fixed !important;
top:0;
transform: translate3d(0px, 0px, 0px);
width: inherit;
}
.affix-bottom {
width: inherit;
position: relative !important;
top: auto !important;
bottom: 0 !important;  //height of the footer
}



/** RATE IT **/
div.rating div.rateit-range {
background: url(antenna-black.png) no-repeat;
height: 25px;
}

div.rating div.rateit-hover {
background: url(antenna-yellow.png) no-repeat;
}

div.rating div.rateit-selected {
background: url(antenna-red.png) no-repeat;
}


.location-list {
background-color: transparent;
}
.location-list > .panel-local {
border: 1px solid #ccc;
}
.location-list > .panel-local:hover {
background-color: #F1F1F1;
box-shadow:2px 2px 3px 2px rgba(90, 90, 90, 0.1), -1px -1px 3px 2px rgba(90, 90, 90, 0.1);
}
.location-list .panel-local > .panel-body {
color: #555;
font-size: 12.5px;
min-height: 90px;
}
.location-list .panel-local > .panel-heading .text-open,
.location-list .panel-local > .panel-heading .text-close {
font-size: 16px;
line-height: 1.9;
}
