# 1.To use URL Alias you need to be running apache with mod_rewrite enabled.
Options +FollowSymlinks

# Prevent Directoy listing
Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On

	# !IMPORTANT! Set your RewriteBase here and don't forget trailing and leading slashes.
	# If your page resides at http://www.example.com/mypage/setup then use
	# RewriteBase /mypage/setup

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>