<IfModule mod_rewrite.c>
	# !IMPORTANT! Set your RewriteBase here and don't forget trailing and leading
	#  slashes.
	# If your page resides at
	#  http://www.example.com/mypage/test1
	# then use
	# RewriteBase /mypage/test1/
	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond $1 !^(index\.php|images|robots\.txt)
	RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
	# If we don't have mod_rewrite installed, all 404's
	# can be sent to index.php, and everything works as normal.

	ErrorDocument 404 /index.php
</IfModule>
#RewriteEngine on
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule .* index.php/$0 [PT,L]