// Widget
//
.form-fields {
	background-color: $gray-200;	 
	padding: $form-fields-padding-y $form-fields-padding-x;
	
	&::before,
	&::after {
		display: table;
		content: " ";
		box-sizing: border-box;
	}

	&::after {
		clear: both;
	}
}

// Form groups
//
.form-group {
	&.span-full {
		clear: both;
	}

	&.span-left {
		float: left;
	}

	&.span-right {
		float: right;
	}

	&.span-left,
	&.span-right {
		width: 48.55%;

		&.flex-width {
			max-width: 24.33%;
		}		
	}

	&.flex-width {
		width: auto;
	}

	&.flex-width .row > div {
		width: 100%;
	}
}


// Tabs
//
.form-nav {
	padding-left: 20px;
	padding-right: 20px;

	&.nav-tabs {
		border-bottom: 0 none;
		
		.nav-link {
			border: 0 none;
			color: $body-color;
			padding: $form-nav-link-padding-y $form-nav-link-padding-x;
		}
	
		.nav-link:hover,
		.nav-link:focus {
			border-color: transparent;
		}

		.nav-link.active {
			background-color: $gray-200;
			font-weight: $font-weight-base;
		}
	}
}


// Checkbox list
.field-checkboxlist {
	.custom-control-label::before,
	.custom-control-label::after {
		top: .7rem;
	}

	label {
		padding-left: 10px;
	}
}
