.components {
  padding-bottom: 5px;
}
.components .components-container {
  display: flex;
  overflow-x: auto;
}
.components .components-container::-webkit-scrollbar {
  display: none;
}
.components-list {
  max-height: 85vh;
  overflow-y: auto;
}
.components .components-item {
  position: relative;
  margin-right: 1rem;
  min-width: 250px;
  max-width: 300px;
}
.components .components-item .components-item-form {
  max-height: 75vh;
  overflow-y: auto;
}
.components .components-picker {
  min-width: unset;
}
.components .components-item .component {
  padding: 25px;
  min-width: 100%;
  min-height: 100%;
}
.components .components-item-action {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: none;
}
.components .components-item:focus,
.components .components-item:hover {
  cursor: pointer;
}
.components .components-item:focus .components-item-action,
.components .components-item:hover .components-item-action {
  display: block;
}