.components {
  padding-bottom: 5px;
}
.components .components-container {
  display: flex;
  overflow-x: auto;
}
.components .components-container::-webkit-scrollbar {
  display: none;
}
.components-list {
  max-height: 85vh;
  overflow-y: auto;
}
.components .components-item {
  position: relative;
  margin-right: 1rem;
  min-width: 250px;
  max-width: 300px;
}
.components .components-item .components-item-info {
  height: 70px;
}
.components .components-picker {
  min-width: unset;
}
.components .components-item:focus,
.components .components-item:hover {
  cursor: pointer;
}
