a:not([href]):not([tabindex]):not([data-request]):not([role="button"]) {
  color: inherit;
  text-decoration: none;

  @include hover-focus {
    color: inherit;
    text-decoration: none;
  }

  &:focus {
    outline: 0;
  }
}
//.btn[data-request] {
//  color: $white;
//
//  @include hover-focus {
//    color: $white;
//  }
//}