html {
  position: relative;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  min-height: 100%;
  height: 100%;
}

body {
  margin-bottom: 50px;
}

body.page {
  height: 100%;
  overflow: hidden;
}
