// Color system
//

// $white:    #FFFFFF;
// $gray-100: #f6f6f6;
// $gray-200: #e0e0e0;
// $gray-300: #CACACA;
// $gray-400: #B3B3B3;
// $gray-500: #9196A4;
// $gray-600: #878787;
// $gray-700: #707070;
// $gray-800: #5A5A5A;
// $gray-900: #444444;
// $black:    #2D2D2D;

$white:    #FFFFFF;
$gray-100: #fafafb; //#f7f8f9;
$gray-200: #e9eaee;
$gray-300: #d3d6de;
$gray-400: #bec2ce;
$gray-500: #a8aebd;
$gray-600: #939aad;
$gray-700: #68728d;
$gray-800: #27365c;
$gray-900: #111f46;
$black:    #0c1631;

$colors: (
  "gray-100": $gray-100,
  "gray-200": $gray-200,
  "gray-300": $gray-300,
  "gray-400": $gray-400,
  "gray-500": $gray-500,
  "gray-600": $gray-600,
  "gray-700": $gray-700,
  "gray-800": $gray-800,
  "gray-900": $gray-900
);

$primary:       #4c8cba; //#6D929C;  //#2D54A4;
$secondary:     $gray-700;
$success:       #2AB21C;
$info:          #5BC0DE;
$warning:       #D99B22;
$danger:        #D5222B;
$light:         $gray-100;
$dark:          $gray-900;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "default":    $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
);

// Body
//
$body-bg:                         $gray-300;//  #E9E9ED;
$body-color:              $gray-800; //#403d39; //#263A65;

$link-hover-decoration: none;

$line-height-base: 1.7;

// Fonts
//
$font-size-base: 0.875rem;
$font-weight-500:  500;
$font-weight-600:  600;

$text-muted: $gray-700;

$h5-font-size: 16px;

$label-padding-y: .5rem;
$label-padding-x: .75rem;

// Buttons
//
$btn-border-radius: 2px;
// $input-btn-padding-x: 15px;
// $input-btn-padding-y: 6px;

$btn-action-padding-y: 5px 10px;

// Tables
//
$table-cell-padding:          .45rem;
$table-cell-padding-sm:       .1rem;
$table-head-bg: $gray-200; //#F5F5F6;
// $table-border-color:    #E1E1E7;
$table-accent-bg:   $light; //#E9E9ED;

// Forms
$input-bg:                              $white;
$input-disabled-bg:                     $gray-300;

$input-color:                           $dark;
$input-border-color:                    $gray-400;

// $input-padding-y: 8px;
// $input-padding-x: 15px;

// $input-disabled-bg: $gray-300; // #E9E9ED;

$input-border-radius: 3px;
// $input-border-color: #CFD6E2;

// $input-btn-focus-box-shadow: unset;
// $btn-active-box-shadow: unset;

$custom-control-indicator-size: 1.456rem;

// Components
// $component-active-bg: $primary;
// $pagination-active-bg: $primary;
// $pagination-active-border-color: $primary;

// Dropdowns
//
// Dropdown menu container and contents.
$dropdown-padding-x:                .5rem;

$list-group-action-color: $body-color;

// Cards
$card-border-color:                 $gray-400;
$card-cap-bg:                       $gray-300;
$card-bg:                           $gray-200;

// Popover
$popover-bg: $gray-200;

// Modals

$modal-header-border-color:         $gray-300;


// Dropdowns
$dropdown-bg:                       $gray-200;
$dropdown-border-color:             rgba($black, .15);
$dropdown-divider-bg:               $gray-300;

$dropdown-link-color:               $gray-900;
$dropdown-link-hover-color:         darken($gray-900, 5%);
$dropdown-link-hover-bg:            $gray-300;

$dropdown-link-disabled-color:      $gray-600;

$dropdown-header-color:             $gray-600;

// Modal

$modal-content-bg:                  $gray-200;


// List group

$list-group-bg:                     $gray-200;
$list-group-hover-bg:               $gray-300;

